=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class SessionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Customer Portal Url
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email Email, unique, either ExternalUserId&amp;Email or UserId needed
    # @option opts [Integer] :user_id UserId, unique, either ExternalUserId&amp;Email or UserId needed
    # @option opts [String] :external_user_id ExternalUserId, unique, either ExternalUserId&amp;Email or UserId needed
    # @option opts [Integer] :product_id Id of product, default product will use if productId not specified
    # @option opts [Integer] :plan_id Id of plan to update
    # @option opts [String] :vat_country_code Vat Country Code
    # @option opts [String] :return_url ReturnUrl
    # @option opts [String] :cancel_url CancelUrl
    # @return [MerchantGetLicenseUpdateUrlGet200Response]
    def merchant_session_customer_portal_url_get(opts = {})
      data, _status_code, _headers = merchant_session_customer_portal_url_get_with_http_info(opts)
      data
    end

    # Get Customer Portal Url
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email Email, unique, either ExternalUserId&amp;Email or UserId needed
    # @option opts [Integer] :user_id UserId, unique, either ExternalUserId&amp;Email or UserId needed
    # @option opts [String] :external_user_id ExternalUserId, unique, either ExternalUserId&amp;Email or UserId needed
    # @option opts [Integer] :product_id Id of product, default product will use if productId not specified
    # @option opts [Integer] :plan_id Id of plan to update
    # @option opts [String] :vat_country_code Vat Country Code
    # @option opts [String] :return_url ReturnUrl
    # @option opts [String] :cancel_url CancelUrl
    # @return [Array<(MerchantGetLicenseUpdateUrlGet200Response, Integer, Hash)>] MerchantGetLicenseUpdateUrlGet200Response data, response status code and response headers
    def merchant_session_customer_portal_url_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionApi.merchant_session_customer_portal_url_get ...'
      end
      # resource path
      local_var_path = '/merchant/session/customer_portal_url'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'externalUserId'] = opts[:'external_user_id'] if !opts[:'external_user_id'].nil?
      query_params[:'productId'] = opts[:'product_id'] if !opts[:'product_id'].nil?
      query_params[:'planId'] = opts[:'plan_id'] if !opts[:'plan_id'].nil?
      query_params[:'vatCountryCode'] = opts[:'vat_country_code'] if !opts[:'vat_country_code'].nil?
      query_params[:'returnUrl'] = opts[:'return_url'] if !opts[:'return_url'].nil?
      query_params[:'cancelUrl'] = opts[:'cancel_url'] if !opts[:'cancel_url'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGetLicenseUpdateUrlGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SessionApi.merchant_session_customer_portal_url_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionApi#merchant_session_customer_portal_url_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Customer Portal Url
    # @param unibee_api_merchant_session_customer_portal_url_req [UnibeeApiMerchantSessionCustomerPortalUrlReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantGetLicenseUpdateUrlGet200Response]
    def merchant_session_customer_portal_url_post(unibee_api_merchant_session_customer_portal_url_req, opts = {})
      data, _status_code, _headers = merchant_session_customer_portal_url_post_with_http_info(unibee_api_merchant_session_customer_portal_url_req, opts)
      data
    end

    # Get Customer Portal Url
    # @param unibee_api_merchant_session_customer_portal_url_req [UnibeeApiMerchantSessionCustomerPortalUrlReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantGetLicenseUpdateUrlGet200Response, Integer, Hash)>] MerchantGetLicenseUpdateUrlGet200Response data, response status code and response headers
    def merchant_session_customer_portal_url_post_with_http_info(unibee_api_merchant_session_customer_portal_url_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionApi.merchant_session_customer_portal_url_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_session_customer_portal_url_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_session_customer_portal_url_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_session_customer_portal_url_req' when calling SessionApi.merchant_session_customer_portal_url_post"
      end
      # resource path
      local_var_path = '/merchant/session/customer_portal_url'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_session_customer_portal_url_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGetLicenseUpdateUrlGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SessionApi.merchant_session_customer_portal_url_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionApi#merchant_session_customer_portal_url_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # New Checkout Session
    # New session for hosted checkout or client portal. You can create user and get ClientSession from here, then append it to the checkout link (copied from Admin Portal Plan) as a query parameter, e.g. https://cs.unibee.dev/hosted/checkout?planId=253&env=prod&session=${clientSession}
    # @param unibee_api_merchant_session_new_req [UnibeeApiMerchantSessionNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantSessionNewSessionPost200Response]
    def merchant_session_new_session_post(unibee_api_merchant_session_new_req, opts = {})
      data, _status_code, _headers = merchant_session_new_session_post_with_http_info(unibee_api_merchant_session_new_req, opts)
      data
    end

    # New Checkout Session
    # New session for hosted checkout or client portal. You can create user and get ClientSession from here, then append it to the checkout link (copied from Admin Portal Plan) as a query parameter, e.g. https://cs.unibee.dev/hosted/checkout?planId&#x3D;253&amp;env&#x3D;prod&amp;session&#x3D;${clientSession}
    # @param unibee_api_merchant_session_new_req [UnibeeApiMerchantSessionNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantSessionNewSessionPost200Response, Integer, Hash)>] MerchantSessionNewSessionPost200Response data, response status code and response headers
    def merchant_session_new_session_post_with_http_info(unibee_api_merchant_session_new_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionApi.merchant_session_new_session_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_session_new_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_session_new_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_session_new_req' when calling SessionApi.merchant_session_new_session_post"
      end
      # resource path
      local_var_path = '/merchant/session/new_session'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_session_new_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSessionNewSessionPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SessionApi.merchant_session_new_session_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionApi#merchant_session_new_session_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get User Subscription Update Page Url
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email Email, unique, either ExternalUserId&amp;Email or UserId needed
    # @option opts [Integer] :user_id UserId, unique, either ExternalUserId&amp;Email or UserId needed
    # @option opts [String] :external_user_id ExternalUserId, unique, either ExternalUserId&amp;Email or UserId needed
    # @option opts [Integer] :product_id Id of product,default product will use if productId not specified
    # @option opts [Integer] :plan_id Id of plan to update
    # @option opts [String] :vat_country_code Vat Country Code
    # @option opts [String] :return_url ReturnUrl
    # @option opts [String] :cancel_url CancelUrl
    # @return [MerchantGetLicenseUpdateUrlGet200Response]
    def merchant_session_user_sub_update_url_get(opts = {})
      data, _status_code, _headers = merchant_session_user_sub_update_url_get_with_http_info(opts)
      data
    end

    # Get User Subscription Update Page Url
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email Email, unique, either ExternalUserId&amp;Email or UserId needed
    # @option opts [Integer] :user_id UserId, unique, either ExternalUserId&amp;Email or UserId needed
    # @option opts [String] :external_user_id ExternalUserId, unique, either ExternalUserId&amp;Email or UserId needed
    # @option opts [Integer] :product_id Id of product,default product will use if productId not specified
    # @option opts [Integer] :plan_id Id of plan to update
    # @option opts [String] :vat_country_code Vat Country Code
    # @option opts [String] :return_url ReturnUrl
    # @option opts [String] :cancel_url CancelUrl
    # @return [Array<(MerchantGetLicenseUpdateUrlGet200Response, Integer, Hash)>] MerchantGetLicenseUpdateUrlGet200Response data, response status code and response headers
    def merchant_session_user_sub_update_url_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionApi.merchant_session_user_sub_update_url_get ...'
      end
      # resource path
      local_var_path = '/merchant/session/user_sub_update_url'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'externalUserId'] = opts[:'external_user_id'] if !opts[:'external_user_id'].nil?
      query_params[:'productId'] = opts[:'product_id'] if !opts[:'product_id'].nil?
      query_params[:'planId'] = opts[:'plan_id'] if !opts[:'plan_id'].nil?
      query_params[:'vatCountryCode'] = opts[:'vat_country_code'] if !opts[:'vat_country_code'].nil?
      query_params[:'returnUrl'] = opts[:'return_url'] if !opts[:'return_url'].nil?
      query_params[:'cancelUrl'] = opts[:'cancel_url'] if !opts[:'cancel_url'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGetLicenseUpdateUrlGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SessionApi.merchant_session_user_sub_update_url_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionApi#merchant_session_user_sub_update_url_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get User Subscription Update Page Url
    # @param unibee_api_merchant_session_new_sub_update_page_req [UnibeeApiMerchantSessionNewSubUpdatePageReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantGetLicenseUpdateUrlGet200Response]
    def merchant_session_user_sub_update_url_post(unibee_api_merchant_session_new_sub_update_page_req, opts = {})
      data, _status_code, _headers = merchant_session_user_sub_update_url_post_with_http_info(unibee_api_merchant_session_new_sub_update_page_req, opts)
      data
    end

    # Get User Subscription Update Page Url
    # @param unibee_api_merchant_session_new_sub_update_page_req [UnibeeApiMerchantSessionNewSubUpdatePageReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantGetLicenseUpdateUrlGet200Response, Integer, Hash)>] MerchantGetLicenseUpdateUrlGet200Response data, response status code and response headers
    def merchant_session_user_sub_update_url_post_with_http_info(unibee_api_merchant_session_new_sub_update_page_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionApi.merchant_session_user_sub_update_url_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_session_new_sub_update_page_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_session_new_sub_update_page_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_session_new_sub_update_page_req' when calling SessionApi.merchant_session_user_sub_update_url_post"
      end
      # resource path
      local_var_path = '/merchant/session/user_sub_update_url'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_session_new_sub_update_page_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGetLicenseUpdateUrlGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SessionApi.merchant_session_user_sub_update_url_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionApi#merchant_session_user_sub_update_url_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
