/.bundle/
/lib/bundler/
*.gem
*.rbc
/.config
/coverage/
/pkg/
/spec/reports/
/spec/examples.txt
/spec/fixtures/
/tmp/
*.swp
*.swo
.DS_Store
.bundle
vendor/bundler
*.backup
.openapi-generator/
.rubocop-cache/
*.log
