=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class PlanApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Activate Plan
    # @param unibee_api_merchant_plan_activate_req [UnibeeApiMerchantPlanActivateReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_plan_activate_post(unibee_api_merchant_plan_activate_req, opts = {})
      data, _status_code, _headers = merchant_plan_activate_post_with_http_info(unibee_api_merchant_plan_activate_req, opts)
      data
    end

    # Activate Plan
    # @param unibee_api_merchant_plan_activate_req [UnibeeApiMerchantPlanActivateReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_plan_activate_post_with_http_info(unibee_api_merchant_plan_activate_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanApi.merchant_plan_activate_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_plan_activate_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_plan_activate_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_plan_activate_req' when calling PlanApi.merchant_plan_activate_post"
      end
      # resource path
      local_var_path = '/merchant/plan/activate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_plan_activate_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PlanApi.merchant_plan_activate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanApi#merchant_plan_activate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Addon Binding
    # @param unibee_api_merchant_plan_addons_binding_req [UnibeeApiMerchantPlanAddonsBindingReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantPlanAddonsBindingPost200Response]
    def merchant_plan_addons_binding_post(unibee_api_merchant_plan_addons_binding_req, opts = {})
      data, _status_code, _headers = merchant_plan_addons_binding_post_with_http_info(unibee_api_merchant_plan_addons_binding_req, opts)
      data
    end

    # Addon Binding
    # @param unibee_api_merchant_plan_addons_binding_req [UnibeeApiMerchantPlanAddonsBindingReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantPlanAddonsBindingPost200Response, Integer, Hash)>] MerchantPlanAddonsBindingPost200Response data, response status code and response headers
    def merchant_plan_addons_binding_post_with_http_info(unibee_api_merchant_plan_addons_binding_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanApi.merchant_plan_addons_binding_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_plan_addons_binding_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_plan_addons_binding_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_plan_addons_binding_req' when calling PlanApi.merchant_plan_addons_binding_post"
      end
      # resource path
      local_var_path = '/merchant/plan/addons_binding'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_plan_addons_binding_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPlanAddonsBindingPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PlanApi.merchant_plan_addons_binding_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanApi#merchant_plan_addons_binding_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Archive Plan
    # @param unibee_api_merchant_plan_archive_req [UnibeeApiMerchantPlanArchiveReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_plan_archive_post(unibee_api_merchant_plan_archive_req, opts = {})
      data, _status_code, _headers = merchant_plan_archive_post_with_http_info(unibee_api_merchant_plan_archive_req, opts)
      data
    end

    # Archive Plan
    # @param unibee_api_merchant_plan_archive_req [UnibeeApiMerchantPlanArchiveReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_plan_archive_post_with_http_info(unibee_api_merchant_plan_archive_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanApi.merchant_plan_archive_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_plan_archive_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_plan_archive_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_plan_archive_req' when calling PlanApi.merchant_plan_archive_post"
      end
      # resource path
      local_var_path = '/merchant/plan/archive'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_plan_archive_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PlanApi.merchant_plan_archive_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanApi#merchant_plan_archive_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Copy Plan
    # @param unibee_api_merchant_plan_copy_req [UnibeeApiMerchantPlanCopyReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantPlanAddonsBindingPost200Response]
    def merchant_plan_copy_post(unibee_api_merchant_plan_copy_req, opts = {})
      data, _status_code, _headers = merchant_plan_copy_post_with_http_info(unibee_api_merchant_plan_copy_req, opts)
      data
    end

    # Copy Plan
    # @param unibee_api_merchant_plan_copy_req [UnibeeApiMerchantPlanCopyReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantPlanAddonsBindingPost200Response, Integer, Hash)>] MerchantPlanAddonsBindingPost200Response data, response status code and response headers
    def merchant_plan_copy_post_with_http_info(unibee_api_merchant_plan_copy_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanApi.merchant_plan_copy_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_plan_copy_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_plan_copy_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_plan_copy_req' when calling PlanApi.merchant_plan_copy_post"
      end
      # resource path
      local_var_path = '/merchant/plan/copy'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_plan_copy_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPlanAddonsBindingPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PlanApi.merchant_plan_copy_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanApi#merchant_plan_copy_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Plan
    # @param unibee_api_merchant_plan_delete_req [UnibeeApiMerchantPlanDeleteReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_plan_delete_post(unibee_api_merchant_plan_delete_req, opts = {})
      data, _status_code, _headers = merchant_plan_delete_post_with_http_info(unibee_api_merchant_plan_delete_req, opts)
      data
    end

    # Delete Plan
    # @param unibee_api_merchant_plan_delete_req [UnibeeApiMerchantPlanDeleteReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_plan_delete_post_with_http_info(unibee_api_merchant_plan_delete_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanApi.merchant_plan_delete_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_plan_delete_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_plan_delete_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_plan_delete_req' when calling PlanApi.merchant_plan_delete_post"
      end
      # resource path
      local_var_path = '/merchant/plan/delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_plan_delete_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PlanApi.merchant_plan_delete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanApi#merchant_plan_delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Plan Detail
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :plan_id The Id of plan, either planId or externalPlanId should be set
    # @option opts [String] :external_plan_id The ExternalId of plan, either externalPlanId or planId should be set
    # @return [MerchantPlanDetailGet200Response]
    def merchant_plan_detail_get(opts = {})
      data, _status_code, _headers = merchant_plan_detail_get_with_http_info(opts)
      data
    end

    # Plan Detail
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :plan_id The Id of plan, either planId or externalPlanId should be set
    # @option opts [String] :external_plan_id The ExternalId of plan, either externalPlanId or planId should be set
    # @return [Array<(MerchantPlanDetailGet200Response, Integer, Hash)>] MerchantPlanDetailGet200Response data, response status code and response headers
    def merchant_plan_detail_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanApi.merchant_plan_detail_get ...'
      end
      # resource path
      local_var_path = '/merchant/plan/detail'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'planId'] = opts[:'plan_id'] if !opts[:'plan_id'].nil?
      query_params[:'externalPlanId'] = opts[:'external_plan_id'] if !opts[:'external_plan_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPlanDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PlanApi.merchant_plan_detail_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanApi#merchant_plan_detail_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Plan Detail
    # @param unibee_api_merchant_plan_detail_req [UnibeeApiMerchantPlanDetailReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantPlanDetailGet200Response]
    def merchant_plan_detail_post(unibee_api_merchant_plan_detail_req, opts = {})
      data, _status_code, _headers = merchant_plan_detail_post_with_http_info(unibee_api_merchant_plan_detail_req, opts)
      data
    end

    # Plan Detail
    # @param unibee_api_merchant_plan_detail_req [UnibeeApiMerchantPlanDetailReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantPlanDetailGet200Response, Integer, Hash)>] MerchantPlanDetailGet200Response data, response status code and response headers
    def merchant_plan_detail_post_with_http_info(unibee_api_merchant_plan_detail_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanApi.merchant_plan_detail_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_plan_detail_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_plan_detail_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_plan_detail_req' when calling PlanApi.merchant_plan_detail_post"
      end
      # resource path
      local_var_path = '/merchant/plan/detail'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_plan_detail_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPlanDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PlanApi.merchant_plan_detail_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanApi#merchant_plan_detail_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit Plan
    # Edit exist plan, amount|currency|intervalUnit|intervalCount is not editable when plan is active 
    # @param unibee_api_merchant_plan_edit_req [UnibeeApiMerchantPlanEditReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantPlanAddonsBindingPost200Response]
    def merchant_plan_edit_post(unibee_api_merchant_plan_edit_req, opts = {})
      data, _status_code, _headers = merchant_plan_edit_post_with_http_info(unibee_api_merchant_plan_edit_req, opts)
      data
    end

    # Edit Plan
    # Edit exist plan, amount|currency|intervalUnit|intervalCount is not editable when plan is active 
    # @param unibee_api_merchant_plan_edit_req [UnibeeApiMerchantPlanEditReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantPlanAddonsBindingPost200Response, Integer, Hash)>] MerchantPlanAddonsBindingPost200Response data, response status code and response headers
    def merchant_plan_edit_post_with_http_info(unibee_api_merchant_plan_edit_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanApi.merchant_plan_edit_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_plan_edit_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_plan_edit_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_plan_edit_req' when calling PlanApi.merchant_plan_edit_post"
      end
      # resource path
      local_var_path = '/merchant/plan/edit'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_plan_edit_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPlanAddonsBindingPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PlanApi.merchant_plan_edit_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanApi#merchant_plan_edit_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Plan List
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :plan_ids filter id list of plan, default all
    # @option opts [Array<Integer>] :product_ids filter id list of product, default all product(0) used if not specified
    # @option opts [Array<Integer>] :type 1-main plan，2-addon plan,3-onetime
    # @option opts [Array<Integer>] :status Filter, Default All，,Status，1-Editing，2-Active，3-InActive，4-SoftArchive, 5-HardArchive
    # @option opts [Integer] :publish_status Filter, Default All，PublishStatus，1-UnPublished，2-Published
    # @option opts [String] :currency Filter Currency
    # @option opts [String] :search_key Search Key, plan name or description
    # @option opts [String] :sort_field Sort Field，plan_name|gmt_create|gmt_modify，Default gmt_create
    # @option opts [String] :sort_type Sort Type，asc|desc，Default desc
    # @option opts [Integer] :page Page, Start 0
    # @option opts [Integer] :count Count Of Per Page, Default 100
    # @return [MerchantPlanListGet200Response]
    def merchant_plan_list_get(opts = {})
      data, _status_code, _headers = merchant_plan_list_get_with_http_info(opts)
      data
    end

    # Get Plan List
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :plan_ids filter id list of plan, default all
    # @option opts [Array<Integer>] :product_ids filter id list of product, default all product(0) used if not specified
    # @option opts [Array<Integer>] :type 1-main plan，2-addon plan,3-onetime
    # @option opts [Array<Integer>] :status Filter, Default All，,Status，1-Editing，2-Active，3-InActive，4-SoftArchive, 5-HardArchive
    # @option opts [Integer] :publish_status Filter, Default All，PublishStatus，1-UnPublished，2-Published
    # @option opts [String] :currency Filter Currency
    # @option opts [String] :search_key Search Key, plan name or description
    # @option opts [String] :sort_field Sort Field，plan_name|gmt_create|gmt_modify，Default gmt_create
    # @option opts [String] :sort_type Sort Type，asc|desc，Default desc
    # @option opts [Integer] :page Page, Start 0
    # @option opts [Integer] :count Count Of Per Page, Default 100
    # @return [Array<(MerchantPlanListGet200Response, Integer, Hash)>] MerchantPlanListGet200Response data, response status code and response headers
    def merchant_plan_list_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanApi.merchant_plan_list_get ...'
      end
      # resource path
      local_var_path = '/merchant/plan/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'planIds'] = @api_client.build_collection_param(opts[:'plan_ids'], :multi) if !opts[:'plan_ids'].nil?
      query_params[:'productIds'] = @api_client.build_collection_param(opts[:'product_ids'], :multi) if !opts[:'product_ids'].nil?
      query_params[:'type'] = @api_client.build_collection_param(opts[:'type'], :multi) if !opts[:'type'].nil?
      query_params[:'status'] = @api_client.build_collection_param(opts[:'status'], :multi) if !opts[:'status'].nil?
      query_params[:'publishStatus'] = opts[:'publish_status'] if !opts[:'publish_status'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'searchKey'] = opts[:'search_key'] if !opts[:'search_key'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'sortType'] = opts[:'sort_type'] if !opts[:'sort_type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPlanListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PlanApi.merchant_plan_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanApi#merchant_plan_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Plan List
    # @param unibee_api_merchant_plan_list_req [UnibeeApiMerchantPlanListReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantPlanListGet200Response]
    def merchant_plan_list_post(unibee_api_merchant_plan_list_req, opts = {})
      data, _status_code, _headers = merchant_plan_list_post_with_http_info(unibee_api_merchant_plan_list_req, opts)
      data
    end

    # Get Plan List
    # @param unibee_api_merchant_plan_list_req [UnibeeApiMerchantPlanListReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantPlanListGet200Response, Integer, Hash)>] MerchantPlanListGet200Response data, response status code and response headers
    def merchant_plan_list_post_with_http_info(unibee_api_merchant_plan_list_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanApi.merchant_plan_list_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_plan_list_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_plan_list_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_plan_list_req' when calling PlanApi.merchant_plan_list_post"
      end
      # resource path
      local_var_path = '/merchant/plan/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_plan_list_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPlanListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PlanApi.merchant_plan_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanApi#merchant_plan_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Override Metric Limits Of Plan
    # Insert or override metric limit items of a plan
    # @param unibee_api_merchant_plan_metric_limit_override_req [UnibeeApiMerchantPlanMetricLimitOverrideReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantPlanMetricLimitOverridePost200Response]
    def merchant_plan_metric_limit_override_post(unibee_api_merchant_plan_metric_limit_override_req, opts = {})
      data, _status_code, _headers = merchant_plan_metric_limit_override_post_with_http_info(unibee_api_merchant_plan_metric_limit_override_req, opts)
      data
    end

    # Override Metric Limits Of Plan
    # Insert or override metric limit items of a plan
    # @param unibee_api_merchant_plan_metric_limit_override_req [UnibeeApiMerchantPlanMetricLimitOverrideReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantPlanMetricLimitOverridePost200Response, Integer, Hash)>] MerchantPlanMetricLimitOverridePost200Response data, response status code and response headers
    def merchant_plan_metric_limit_override_post_with_http_info(unibee_api_merchant_plan_metric_limit_override_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanApi.merchant_plan_metric_limit_override_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_plan_metric_limit_override_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_plan_metric_limit_override_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_plan_metric_limit_override_req' when calling PlanApi.merchant_plan_metric_limit_override_post"
      end
      # resource path
      local_var_path = '/merchant/plan/metric_limit_override'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_plan_metric_limit_override_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPlanMetricLimitOverridePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PlanApi.merchant_plan_metric_limit_override_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanApi#merchant_plan_metric_limit_override_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Plan
    # @param unibee_api_merchant_plan_new_req [UnibeeApiMerchantPlanNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantPlanAddonsBindingPost200Response]
    def merchant_plan_new_post(unibee_api_merchant_plan_new_req, opts = {})
      data, _status_code, _headers = merchant_plan_new_post_with_http_info(unibee_api_merchant_plan_new_req, opts)
      data
    end

    # Create Plan
    # @param unibee_api_merchant_plan_new_req [UnibeeApiMerchantPlanNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantPlanAddonsBindingPost200Response, Integer, Hash)>] MerchantPlanAddonsBindingPost200Response data, response status code and response headers
    def merchant_plan_new_post_with_http_info(unibee_api_merchant_plan_new_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanApi.merchant_plan_new_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_plan_new_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_plan_new_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_plan_new_req' when calling PlanApi.merchant_plan_new_post"
      end
      # resource path
      local_var_path = '/merchant/plan/new'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_plan_new_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPlanAddonsBindingPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PlanApi.merchant_plan_new_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanApi#merchant_plan_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Publish Plan
    # Publish plan，a plan will display at user portal when its published
    # @param unibee_api_merchant_plan_publish_req [UnibeeApiMerchantPlanPublishReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_plan_publish_post(unibee_api_merchant_plan_publish_req, opts = {})
      data, _status_code, _headers = merchant_plan_publish_post_with_http_info(unibee_api_merchant_plan_publish_req, opts)
      data
    end

    # Publish Plan
    # Publish plan，a plan will display at user portal when its published
    # @param unibee_api_merchant_plan_publish_req [UnibeeApiMerchantPlanPublishReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_plan_publish_post_with_http_info(unibee_api_merchant_plan_publish_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanApi.merchant_plan_publish_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_plan_publish_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_plan_publish_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_plan_publish_req' when calling PlanApi.merchant_plan_publish_post"
      end
      # resource path
      local_var_path = '/merchant/plan/publish'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_plan_publish_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PlanApi.merchant_plan_publish_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanApi#merchant_plan_publish_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # UnPublish Plan
    # @param unibee_api_merchant_plan_un_publish_req [UnibeeApiMerchantPlanUnPublishReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_plan_unpublished_post(unibee_api_merchant_plan_un_publish_req, opts = {})
      data, _status_code, _headers = merchant_plan_unpublished_post_with_http_info(unibee_api_merchant_plan_un_publish_req, opts)
      data
    end

    # UnPublish Plan
    # @param unibee_api_merchant_plan_un_publish_req [UnibeeApiMerchantPlanUnPublishReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_plan_unpublished_post_with_http_info(unibee_api_merchant_plan_un_publish_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanApi.merchant_plan_unpublished_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_plan_un_publish_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_plan_un_publish_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_plan_un_publish_req' when calling PlanApi.merchant_plan_unpublished_post"
      end
      # resource path
      local_var_path = '/merchant/plan/unpublished'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_plan_un_publish_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PlanApi.merchant_plan_unpublished_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanApi#merchant_plan_unpublished_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
