=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class InvoiceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Admin Cancel Invoice
    # @param unibee_api_merchant_invoice_cancel_req [UnibeeApiMerchantInvoiceCancelReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_invoice_cancel_post(unibee_api_merchant_invoice_cancel_req, opts = {})
      data, _status_code, _headers = merchant_invoice_cancel_post_with_http_info(unibee_api_merchant_invoice_cancel_req, opts)
      data
    end

    # Admin Cancel Invoice
    # @param unibee_api_merchant_invoice_cancel_req [UnibeeApiMerchantInvoiceCancelReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_invoice_cancel_post_with_http_info(unibee_api_merchant_invoice_cancel_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_cancel_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_cancel_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_cancel_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_cancel_req' when calling InvoiceApi.merchant_invoice_cancel_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/cancel'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_cancel_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_cancel_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_cancel_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Admin Clear Invoice Current Pending Payment
    # @param unibee_api_merchant_invoice_clear_payment_req [UnibeeApiMerchantInvoiceClearPaymentReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_invoice_clear_payment_post(unibee_api_merchant_invoice_clear_payment_req, opts = {})
      data, _status_code, _headers = merchant_invoice_clear_payment_post_with_http_info(unibee_api_merchant_invoice_clear_payment_req, opts)
      data
    end

    # Admin Clear Invoice Current Pending Payment
    # @param unibee_api_merchant_invoice_clear_payment_req [UnibeeApiMerchantInvoiceClearPaymentReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_invoice_clear_payment_post_with_http_info(unibee_api_merchant_invoice_clear_payment_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_clear_payment_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_clear_payment_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_clear_payment_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_clear_payment_req' when calling InvoiceApi.merchant_invoice_clear_payment_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/clearPayment'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_clear_payment_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_clear_payment_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_clear_payment_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk CreditNote(Refund Invoice) Invoice List
    # Bulk credit note invoice list
    # @param unibee_api_merchant_invoice_credit_note_list_req [UnibeeApiMerchantInvoiceCreditNoteListReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantInvoiceCreditNoteListPost200Response]
    def merchant_invoice_credit_note_list_post(unibee_api_merchant_invoice_credit_note_list_req, opts = {})
      data, _status_code, _headers = merchant_invoice_credit_note_list_post_with_http_info(unibee_api_merchant_invoice_credit_note_list_req, opts)
      data
    end

    # Bulk CreditNote(Refund Invoice) Invoice List
    # Bulk credit note invoice list
    # @param unibee_api_merchant_invoice_credit_note_list_req [UnibeeApiMerchantInvoiceCreditNoteListReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantInvoiceCreditNoteListPost200Response, Integer, Hash)>] MerchantInvoiceCreditNoteListPost200Response data, response status code and response headers
    def merchant_invoice_credit_note_list_post_with_http_info(unibee_api_merchant_invoice_credit_note_list_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_credit_note_list_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_credit_note_list_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_credit_note_list_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_credit_note_list_req' when calling InvoiceApi.merchant_invoice_credit_note_list_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/credit_note/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_credit_note_list_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantInvoiceCreditNoteListPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_credit_note_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_credit_note_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Pending Invoice
    # Delete invoice of pending status
    # @param unibee_api_merchant_invoice_delete_req [UnibeeApiMerchantInvoiceDeleteReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_invoice_delete_post(unibee_api_merchant_invoice_delete_req, opts = {})
      data, _status_code, _headers = merchant_invoice_delete_post_with_http_info(unibee_api_merchant_invoice_delete_req, opts)
      data
    end

    # Delete Pending Invoice
    # Delete invoice of pending status
    # @param unibee_api_merchant_invoice_delete_req [UnibeeApiMerchantInvoiceDeleteReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_invoice_delete_post_with_http_info(unibee_api_merchant_invoice_delete_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_delete_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_delete_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_delete_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_delete_req' when calling InvoiceApi.merchant_invoice_delete_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_delete_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_delete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invoice Detail
    # Get detail of invoice
    # @param invoice_id [String] The unique id of invoice
    # @param [Hash] opts the optional parameters
    # @return [MerchantInvoiceDetailGet200Response]
    def merchant_invoice_detail_get(invoice_id, opts = {})
      data, _status_code, _headers = merchant_invoice_detail_get_with_http_info(invoice_id, opts)
      data
    end

    # Invoice Detail
    # Get detail of invoice
    # @param invoice_id [String] The unique id of invoice
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantInvoiceDetailGet200Response, Integer, Hash)>] MerchantInvoiceDetailGet200Response data, response status code and response headers
    def merchant_invoice_detail_get_with_http_info(invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_detail_get ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoiceApi.merchant_invoice_detail_get"
      end
      # resource path
      local_var_path = '/merchant/invoice/detail'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'invoiceId'] = invoice_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantInvoiceDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_detail_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_detail_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invoice Detail
    # Get detail of invoice
    # @param unibee_api_merchant_invoice_detail_req [UnibeeApiMerchantInvoiceDetailReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantInvoiceDetailGet200Response]
    def merchant_invoice_detail_post(unibee_api_merchant_invoice_detail_req, opts = {})
      data, _status_code, _headers = merchant_invoice_detail_post_with_http_info(unibee_api_merchant_invoice_detail_req, opts)
      data
    end

    # Invoice Detail
    # Get detail of invoice
    # @param unibee_api_merchant_invoice_detail_req [UnibeeApiMerchantInvoiceDetailReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantInvoiceDetailGet200Response, Integer, Hash)>] MerchantInvoiceDetailGet200Response data, response status code and response headers
    def merchant_invoice_detail_post_with_http_info(unibee_api_merchant_invoice_detail_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_detail_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_detail_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_detail_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_detail_req' when calling InvoiceApi.merchant_invoice_detail_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/detail'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_detail_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantInvoiceDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_detail_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_detail_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invoice Edit
    # Edit invoice of pending status
    # @param unibee_api_merchant_invoice_edit_req [UnibeeApiMerchantInvoiceEditReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantInvoiceEditPost200Response]
    def merchant_invoice_edit_post(unibee_api_merchant_invoice_edit_req, opts = {})
      data, _status_code, _headers = merchant_invoice_edit_post_with_http_info(unibee_api_merchant_invoice_edit_req, opts)
      data
    end

    # Invoice Edit
    # Edit invoice of pending status
    # @param unibee_api_merchant_invoice_edit_req [UnibeeApiMerchantInvoiceEditReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantInvoiceEditPost200Response, Integer, Hash)>] MerchantInvoiceEditPost200Response data, response status code and response headers
    def merchant_invoice_edit_post_with_http_info(unibee_api_merchant_invoice_edit_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_edit_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_edit_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_edit_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_edit_req' when calling InvoiceApi.merchant_invoice_edit_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/edit'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_edit_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantInvoiceEditPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_edit_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_edit_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Finish Invoice
    # Finish invoice, generate invoice link
    # @param unibee_api_merchant_invoice_finish_req [UnibeeApiMerchantInvoiceFinishReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantInvoiceFinishPost200Response]
    def merchant_invoice_finish_post(unibee_api_merchant_invoice_finish_req, opts = {})
      data, _status_code, _headers = merchant_invoice_finish_post_with_http_info(unibee_api_merchant_invoice_finish_req, opts)
      data
    end

    # Finish Invoice
    # Finish invoice, generate invoice link
    # @param unibee_api_merchant_invoice_finish_req [UnibeeApiMerchantInvoiceFinishReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantInvoiceFinishPost200Response, Integer, Hash)>] MerchantInvoiceFinishPost200Response data, response status code and response headers
    def merchant_invoice_finish_post_with_http_info(unibee_api_merchant_invoice_finish_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_finish_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_finish_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_finish_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_finish_req' when calling InvoiceApi.merchant_invoice_finish_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/finish'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_finish_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantInvoiceFinishPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_finish_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_finish_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Invoice List
    # Get invoice list
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first_name The firstName of invoice
    # @option opts [String] :last_name The lastName of invoice
    # @option opts [String] :search_key Search InvoiceName|Email|ProductName
    # @option opts [String] :currency The currency of invoice
    # @option opts [Array<Integer>] :status The status of invoice, 1-pending｜2-processing｜3-paid | 4-failed | 5-cancelled
    # @option opts [Integer] :amount_start The filter start amount of invoice
    # @option opts [Integer] :amount_end The filter end amount of invoice
    # @option opts [Integer] :user_id The filter userid of invoice
    # @option opts [Array<Integer>] :gateway_ids GatewayIds, Search Filter GatewayIds
    # @option opts [String] :send_email The filter email of invoice
    # @option opts [String] :sort_field Filter，em. invoice_id|gmt_create|gmt_modify|period_end|total_amount，Default gmt_modify
    # @option opts [String] :sort_type Sort，asc|desc，Default desc
    # @option opts [Boolean] :delete_include Deleted Involved，Need Admin Permission
    # @option opts [Integer] :type invoice Type, 0-payment, 1-refund
    # @option opts [Integer] :page Page, Start 0
    # @option opts [Integer] :count Count By Page
    # @option opts [Integer] :create_time_start CreateTimeStart，UTC timestamp，seconds
    # @option opts [Integer] :create_time_end CreateTimeEnd，UTC timestamp，seconds
    # @option opts [Integer] :report_time_start ReportTimeStart，UTC timestamp，seconds
    # @option opts [Integer] :report_time_end ReportTimeEnd，UTC timestamp，seconds
    # @return [MerchantInvoiceListGet200Response]
    def merchant_invoice_list_get(opts = {})
      data, _status_code, _headers = merchant_invoice_list_get_with_http_info(opts)
      data
    end

    # Get Invoice List
    # Get invoice list
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first_name The firstName of invoice
    # @option opts [String] :last_name The lastName of invoice
    # @option opts [String] :search_key Search InvoiceName|Email|ProductName
    # @option opts [String] :currency The currency of invoice
    # @option opts [Array<Integer>] :status The status of invoice, 1-pending｜2-processing｜3-paid | 4-failed | 5-cancelled
    # @option opts [Integer] :amount_start The filter start amount of invoice
    # @option opts [Integer] :amount_end The filter end amount of invoice
    # @option opts [Integer] :user_id The filter userid of invoice
    # @option opts [Array<Integer>] :gateway_ids GatewayIds, Search Filter GatewayIds
    # @option opts [String] :send_email The filter email of invoice
    # @option opts [String] :sort_field Filter，em. invoice_id|gmt_create|gmt_modify|period_end|total_amount，Default gmt_modify
    # @option opts [String] :sort_type Sort，asc|desc，Default desc
    # @option opts [Boolean] :delete_include Deleted Involved，Need Admin Permission
    # @option opts [Integer] :type invoice Type, 0-payment, 1-refund
    # @option opts [Integer] :page Page, Start 0
    # @option opts [Integer] :count Count By Page
    # @option opts [Integer] :create_time_start CreateTimeStart，UTC timestamp，seconds
    # @option opts [Integer] :create_time_end CreateTimeEnd，UTC timestamp，seconds
    # @option opts [Integer] :report_time_start ReportTimeStart，UTC timestamp，seconds
    # @option opts [Integer] :report_time_end ReportTimeEnd，UTC timestamp，seconds
    # @return [Array<(MerchantInvoiceListGet200Response, Integer, Hash)>] MerchantInvoiceListGet200Response data, response status code and response headers
    def merchant_invoice_list_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_list_get ...'
      end
      # resource path
      local_var_path = '/merchant/invoice/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'firstName'] = opts[:'first_name'] if !opts[:'first_name'].nil?
      query_params[:'lastName'] = opts[:'last_name'] if !opts[:'last_name'].nil?
      query_params[:'searchKey'] = opts[:'search_key'] if !opts[:'search_key'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'status'] = @api_client.build_collection_param(opts[:'status'], :multi) if !opts[:'status'].nil?
      query_params[:'amountStart'] = opts[:'amount_start'] if !opts[:'amount_start'].nil?
      query_params[:'amountEnd'] = opts[:'amount_end'] if !opts[:'amount_end'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'gatewayIds'] = @api_client.build_collection_param(opts[:'gateway_ids'], :multi) if !opts[:'gateway_ids'].nil?
      query_params[:'sendEmail'] = opts[:'send_email'] if !opts[:'send_email'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'sortType'] = opts[:'sort_type'] if !opts[:'sort_type'].nil?
      query_params[:'deleteInclude'] = opts[:'delete_include'] if !opts[:'delete_include'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'createTimeStart'] = opts[:'create_time_start'] if !opts[:'create_time_start'].nil?
      query_params[:'createTimeEnd'] = opts[:'create_time_end'] if !opts[:'create_time_end'].nil?
      query_params[:'reportTimeStart'] = opts[:'report_time_start'] if !opts[:'report_time_start'].nil?
      query_params[:'reportTimeEnd'] = opts[:'report_time_end'] if !opts[:'report_time_end'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantInvoiceListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Invoice List
    # Get invoice list
    # @param unibee_api_merchant_invoice_list_req [UnibeeApiMerchantInvoiceListReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantInvoiceListGet200Response]
    def merchant_invoice_list_post(unibee_api_merchant_invoice_list_req, opts = {})
      data, _status_code, _headers = merchant_invoice_list_post_with_http_info(unibee_api_merchant_invoice_list_req, opts)
      data
    end

    # Get Invoice List
    # Get invoice list
    # @param unibee_api_merchant_invoice_list_req [UnibeeApiMerchantInvoiceListReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantInvoiceListGet200Response, Integer, Hash)>] MerchantInvoiceListGet200Response data, response status code and response headers
    def merchant_invoice_list_post_with_http_info(unibee_api_merchant_invoice_list_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_list_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_list_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_list_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_list_req' when calling InvoiceApi.merchant_invoice_list_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_list_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantInvoiceListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark Invoice Refund
    # Mark invoice as refund
    # @param unibee_api_merchant_invoice_mark_refund_req [UnibeeApiMerchantInvoiceMarkRefundReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantInvoiceMarkRefundPost200Response]
    def merchant_invoice_mark_refund_post(unibee_api_merchant_invoice_mark_refund_req, opts = {})
      data, _status_code, _headers = merchant_invoice_mark_refund_post_with_http_info(unibee_api_merchant_invoice_mark_refund_req, opts)
      data
    end

    # Mark Invoice Refund
    # Mark invoice as refund
    # @param unibee_api_merchant_invoice_mark_refund_req [UnibeeApiMerchantInvoiceMarkRefundReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantInvoiceMarkRefundPost200Response, Integer, Hash)>] MerchantInvoiceMarkRefundPost200Response data, response status code and response headers
    def merchant_invoice_mark_refund_post_with_http_info(unibee_api_merchant_invoice_mark_refund_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_mark_refund_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_mark_refund_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_mark_refund_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_mark_refund_req' when calling InvoiceApi.merchant_invoice_mark_refund_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/mark_refund'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_mark_refund_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantInvoiceMarkRefundPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_mark_refund_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_mark_refund_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark Invoice Refund As Success
    # Mark refund invoice success, only support Changelly and Wire Transfer
    # @param unibee_api_merchant_invoice_mark_refund_invoice_success_req [UnibeeApiMerchantInvoiceMarkRefundInvoiceSuccessReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_invoice_mark_refund_success_post(unibee_api_merchant_invoice_mark_refund_invoice_success_req, opts = {})
      data, _status_code, _headers = merchant_invoice_mark_refund_success_post_with_http_info(unibee_api_merchant_invoice_mark_refund_invoice_success_req, opts)
      data
    end

    # Mark Invoice Refund As Success
    # Mark refund invoice success, only support Changelly and Wire Transfer
    # @param unibee_api_merchant_invoice_mark_refund_invoice_success_req [UnibeeApiMerchantInvoiceMarkRefundInvoiceSuccessReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_invoice_mark_refund_success_post_with_http_info(unibee_api_merchant_invoice_mark_refund_invoice_success_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_mark_refund_success_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_mark_refund_invoice_success_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_mark_refund_invoice_success_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_mark_refund_invoice_success_req' when calling InvoiceApi.merchant_invoice_mark_refund_success_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/mark_refund_success'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_mark_refund_invoice_success_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_mark_refund_success_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_mark_refund_success_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark Wire Transfer Invoice As Success
    # Mark wire transfer pending invoice as success
    # @param unibee_api_merchant_invoice_mark_wire_transfer_success_req [UnibeeApiMerchantInvoiceMarkWireTransferSuccessReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_invoice_mark_wire_transfer_success_post(unibee_api_merchant_invoice_mark_wire_transfer_success_req, opts = {})
      data, _status_code, _headers = merchant_invoice_mark_wire_transfer_success_post_with_http_info(unibee_api_merchant_invoice_mark_wire_transfer_success_req, opts)
      data
    end

    # Mark Wire Transfer Invoice As Success
    # Mark wire transfer pending invoice as success
    # @param unibee_api_merchant_invoice_mark_wire_transfer_success_req [UnibeeApiMerchantInvoiceMarkWireTransferSuccessReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_invoice_mark_wire_transfer_success_post_with_http_info(unibee_api_merchant_invoice_mark_wire_transfer_success_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_mark_wire_transfer_success_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_mark_wire_transfer_success_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_mark_wire_transfer_success_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_mark_wire_transfer_success_req' when calling InvoiceApi.merchant_invoice_mark_wire_transfer_success_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/mark_wire_transfer_success'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_mark_wire_transfer_success_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_mark_wire_transfer_success_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_mark_wire_transfer_success_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # New Invoice
    # @param unibee_api_merchant_invoice_new_req [UnibeeApiMerchantInvoiceNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantInvoiceEditPost200Response]
    def merchant_invoice_new_post(unibee_api_merchant_invoice_new_req, opts = {})
      data, _status_code, _headers = merchant_invoice_new_post_with_http_info(unibee_api_merchant_invoice_new_req, opts)
      data
    end

    # New Invoice
    # @param unibee_api_merchant_invoice_new_req [UnibeeApiMerchantInvoiceNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantInvoiceEditPost200Response, Integer, Hash)>] MerchantInvoiceEditPost200Response data, response status code and response headers
    def merchant_invoice_new_post_with_http_info(unibee_api_merchant_invoice_new_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_new_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_new_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_new_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_new_req' when calling InvoiceApi.merchant_invoice_new_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/new'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_new_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantInvoiceEditPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_new_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate Invoice PDF
    # @param unibee_api_merchant_invoice_pdf_generate_req [UnibeeApiMerchantInvoicePdfGenerateReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_invoice_pdf_generate_post(unibee_api_merchant_invoice_pdf_generate_req, opts = {})
      data, _status_code, _headers = merchant_invoice_pdf_generate_post_with_http_info(unibee_api_merchant_invoice_pdf_generate_req, opts)
      data
    end

    # Generate Invoice PDF
    # @param unibee_api_merchant_invoice_pdf_generate_req [UnibeeApiMerchantInvoicePdfGenerateReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_invoice_pdf_generate_post_with_http_info(unibee_api_merchant_invoice_pdf_generate_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_pdf_generate_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_pdf_generate_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_pdf_generate_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_pdf_generate_req' when calling InvoiceApi.merchant_invoice_pdf_generate_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/pdf_generate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_pdf_generate_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_pdf_generate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_pdf_generate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Invoice PDF
    # @param unibee_api_merchant_invoice_pdf_update_req [UnibeeApiMerchantInvoicePdfUpdateReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_invoice_pdf_update_post(unibee_api_merchant_invoice_pdf_update_req, opts = {})
      data, _status_code, _headers = merchant_invoice_pdf_update_post_with_http_info(unibee_api_merchant_invoice_pdf_update_req, opts)
      data
    end

    # Update Invoice PDF
    # @param unibee_api_merchant_invoice_pdf_update_req [UnibeeApiMerchantInvoicePdfUpdateReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_invoice_pdf_update_post_with_http_info(unibee_api_merchant_invoice_pdf_update_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_pdf_update_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_pdf_update_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_pdf_update_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_pdf_update_req' when calling InvoiceApi.merchant_invoice_pdf_update_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/pdf_update'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_pdf_update_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_pdf_update_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_pdf_update_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Admin Reconvert Crypto Data and Send Invoice Email
    # @param unibee_api_merchant_invoice_reconvert_crypto_and_send_req [UnibeeApiMerchantInvoiceReconvertCryptoAndSendReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_invoice_reconvert_crypto_and_send_email_post(unibee_api_merchant_invoice_reconvert_crypto_and_send_req, opts = {})
      data, _status_code, _headers = merchant_invoice_reconvert_crypto_and_send_email_post_with_http_info(unibee_api_merchant_invoice_reconvert_crypto_and_send_req, opts)
      data
    end

    # Admin Reconvert Crypto Data and Send Invoice Email
    # @param unibee_api_merchant_invoice_reconvert_crypto_and_send_req [UnibeeApiMerchantInvoiceReconvertCryptoAndSendReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_invoice_reconvert_crypto_and_send_email_post_with_http_info(unibee_api_merchant_invoice_reconvert_crypto_and_send_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_reconvert_crypto_and_send_email_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_reconvert_crypto_and_send_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_reconvert_crypto_and_send_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_reconvert_crypto_and_send_req' when calling InvoiceApi.merchant_invoice_reconvert_crypto_and_send_email_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/reconvert_crypto_and_send_email'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_reconvert_crypto_and_send_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_reconvert_crypto_and_send_email_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_reconvert_crypto_and_send_email_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create InvoiceRefund
    # Create payment refund for paid invoice
    # @param unibee_api_merchant_invoice_refund_req [UnibeeApiMerchantInvoiceRefundReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantInvoiceMarkRefundPost200Response]
    def merchant_invoice_refund_post(unibee_api_merchant_invoice_refund_req, opts = {})
      data, _status_code, _headers = merchant_invoice_refund_post_with_http_info(unibee_api_merchant_invoice_refund_req, opts)
      data
    end

    # Create InvoiceRefund
    # Create payment refund for paid invoice
    # @param unibee_api_merchant_invoice_refund_req [UnibeeApiMerchantInvoiceRefundReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantInvoiceMarkRefundPost200Response, Integer, Hash)>] MerchantInvoiceMarkRefundPost200Response data, response status code and response headers
    def merchant_invoice_refund_post_with_http_info(unibee_api_merchant_invoice_refund_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_refund_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_refund_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_refund_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_refund_req' when calling InvoiceApi.merchant_invoice_refund_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/refund'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_refund_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantInvoiceMarkRefundPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_refund_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_refund_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send Invoice Email
    # @param unibee_api_merchant_invoice_send_email_req [UnibeeApiMerchantInvoiceSendEmailReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_invoice_send_email_post(unibee_api_merchant_invoice_send_email_req, opts = {})
      data, _status_code, _headers = merchant_invoice_send_email_post_with_http_info(unibee_api_merchant_invoice_send_email_req, opts)
      data
    end

    # Send Invoice Email
    # @param unibee_api_merchant_invoice_send_email_req [UnibeeApiMerchantInvoiceSendEmailReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_invoice_send_email_post_with_http_info(unibee_api_merchant_invoice_send_email_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_send_email_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_send_email_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_send_email_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_send_email_req' when calling InvoiceApi.merchant_invoice_send_email_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/send_email'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_send_email_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_send_email_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_send_email_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Split Payments
    # Get all split payments for an invoice with payment statistics
    # @param invoice_id [String] The invoice id
    # @param [Hash] opts the optional parameters
    # @return [MerchantInvoiceSplitPaymentsGet200Response]
    def merchant_invoice_split_payments_get(invoice_id, opts = {})
      data, _status_code, _headers = merchant_invoice_split_payments_get_with_http_info(invoice_id, opts)
      data
    end

    # Get Split Payments
    # Get all split payments for an invoice with payment statistics
    # @param invoice_id [String] The invoice id
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantInvoiceSplitPaymentsGet200Response, Integer, Hash)>] MerchantInvoiceSplitPaymentsGet200Response data, response status code and response headers
    def merchant_invoice_split_payments_get_with_http_info(invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_split_payments_get ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoiceApi.merchant_invoice_split_payments_get"
      end
      # resource path
      local_var_path = '/merchant/invoice/split_payments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'invoiceId'] = invoice_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantInvoiceSplitPaymentsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_split_payments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_split_payments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Split Payments
    # Get all split payments for an invoice with payment statistics
    # @param unibee_api_merchant_invoice_get_split_payments_req [UnibeeApiMerchantInvoiceGetSplitPaymentsReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantInvoiceSplitPaymentsGet200Response]
    def merchant_invoice_split_payments_post(unibee_api_merchant_invoice_get_split_payments_req, opts = {})
      data, _status_code, _headers = merchant_invoice_split_payments_post_with_http_info(unibee_api_merchant_invoice_get_split_payments_req, opts)
      data
    end

    # Get Split Payments
    # Get all split payments for an invoice with payment statistics
    # @param unibee_api_merchant_invoice_get_split_payments_req [UnibeeApiMerchantInvoiceGetSplitPaymentsReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantInvoiceSplitPaymentsGet200Response, Integer, Hash)>] MerchantInvoiceSplitPaymentsGet200Response data, response status code and response headers
    def merchant_invoice_split_payments_post_with_http_info(unibee_api_merchant_invoice_get_split_payments_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_split_payments_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_get_split_payments_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_get_split_payments_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_get_split_payments_req' when calling InvoiceApi.merchant_invoice_split_payments_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/split_payments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_get_split_payments_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantInvoiceSplitPaymentsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_split_payments_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_split_payments_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sync Invoice User Snapshot With Latest User Info
    # Sync user snapshot in invoice with latest user profile
    # @param unibee_api_merchant_invoice_sync_user_snapshot_req [UnibeeApiMerchantInvoiceSyncUserSnapshotReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantInvoiceEditPost200Response]
    def merchant_invoice_sync_user_snapshot_post(unibee_api_merchant_invoice_sync_user_snapshot_req, opts = {})
      data, _status_code, _headers = merchant_invoice_sync_user_snapshot_post_with_http_info(unibee_api_merchant_invoice_sync_user_snapshot_req, opts)
      data
    end

    # Sync Invoice User Snapshot With Latest User Info
    # Sync user snapshot in invoice with latest user profile
    # @param unibee_api_merchant_invoice_sync_user_snapshot_req [UnibeeApiMerchantInvoiceSyncUserSnapshotReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantInvoiceEditPost200Response, Integer, Hash)>] MerchantInvoiceEditPost200Response data, response status code and response headers
    def merchant_invoice_sync_user_snapshot_post_with_http_info(unibee_api_merchant_invoice_sync_user_snapshot_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.merchant_invoice_sync_user_snapshot_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_invoice_sync_user_snapshot_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_invoice_sync_user_snapshot_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_invoice_sync_user_snapshot_req' when calling InvoiceApi.merchant_invoice_sync_user_snapshot_post"
      end
      # resource path
      local_var_path = '/merchant/invoice/sync_user_snapshot'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_invoice_sync_user_snapshot_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantInvoiceEditPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoiceApi.merchant_invoice_sync_user_snapshot_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#merchant_invoice_sync_user_snapshot_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
