=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class MetricApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete Merchant Metric
    # @param unibee_api_merchant_metric_delete_req [UnibeeApiMerchantMetricDeleteReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMetricDeletePost200Response]
    def merchant_metric_delete_post(unibee_api_merchant_metric_delete_req, opts = {})
      data, _status_code, _headers = merchant_metric_delete_post_with_http_info(unibee_api_merchant_metric_delete_req, opts)
      data
    end

    # Delete Merchant Metric
    # @param unibee_api_merchant_metric_delete_req [UnibeeApiMerchantMetricDeleteReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMetricDeletePost200Response, Integer, Hash)>] MerchantMetricDeletePost200Response data, response status code and response headers
    def merchant_metric_delete_post_with_http_info(unibee_api_merchant_metric_delete_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricApi.merchant_metric_delete_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_metric_delete_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_metric_delete_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_metric_delete_req' when calling MetricApi.merchant_metric_delete_post"
      end
      # resource path
      local_var_path = '/merchant/metric/delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_metric_delete_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMetricDeletePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MetricApi.merchant_metric_delete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricApi#merchant_metric_delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Merchant Metric Detail
    # @param unibee_api_merchant_metric_detail_req [UnibeeApiMerchantMetricDetailReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMetricDeletePost200Response]
    def merchant_metric_detail_post(unibee_api_merchant_metric_detail_req, opts = {})
      data, _status_code, _headers = merchant_metric_detail_post_with_http_info(unibee_api_merchant_metric_detail_req, opts)
      data
    end

    # Merchant Metric Detail
    # @param unibee_api_merchant_metric_detail_req [UnibeeApiMerchantMetricDetailReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMetricDeletePost200Response, Integer, Hash)>] MerchantMetricDeletePost200Response data, response status code and response headers
    def merchant_metric_detail_post_with_http_info(unibee_api_merchant_metric_detail_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricApi.merchant_metric_detail_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_metric_detail_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_metric_detail_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_metric_detail_req' when calling MetricApi.merchant_metric_detail_post"
      end
      # resource path
      local_var_path = '/merchant/metric/detail'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_metric_detail_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMetricDeletePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MetricApi.merchant_metric_detail_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricApi#merchant_metric_detail_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit Merchant Metric
    # @param unibee_api_merchant_metric_edit_req [UnibeeApiMerchantMetricEditReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMetricDeletePost200Response]
    def merchant_metric_edit_post(unibee_api_merchant_metric_edit_req, opts = {})
      data, _status_code, _headers = merchant_metric_edit_post_with_http_info(unibee_api_merchant_metric_edit_req, opts)
      data
    end

    # Edit Merchant Metric
    # @param unibee_api_merchant_metric_edit_req [UnibeeApiMerchantMetricEditReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMetricDeletePost200Response, Integer, Hash)>] MerchantMetricDeletePost200Response data, response status code and response headers
    def merchant_metric_edit_post_with_http_info(unibee_api_merchant_metric_edit_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricApi.merchant_metric_edit_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_metric_edit_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_metric_edit_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_metric_edit_req' when calling MetricApi.merchant_metric_edit_post"
      end
      # resource path
      local_var_path = '/merchant/metric/edit'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_metric_edit_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMetricDeletePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MetricApi.merchant_metric_edit_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricApi#merchant_metric_edit_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Merchant Metric list
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search_key Search Key, code or name
    # @option opts [String] :sort_field Sort，user_id|gmt_create，Default gmt_create
    # @option opts [String] :sort_type Sort Type，asc|desc，Default desc
    # @option opts [Integer] :page Page,Start 0
    # @option opts [Integer] :count Count OF Page
    # @option opts [Integer] :create_time_start CreateTimeStart，UTC timestamp，seconds
    # @option opts [Integer] :create_time_end CreateTimeEnd，UTC timestamp，seconds
    # @return [MerchantMetricListGet200Response]
    def merchant_metric_list_get(opts = {})
      data, _status_code, _headers = merchant_metric_list_get_with_http_info(opts)
      data
    end

    # Get Merchant Metric list
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search_key Search Key, code or name
    # @option opts [String] :sort_field Sort，user_id|gmt_create，Default gmt_create
    # @option opts [String] :sort_type Sort Type，asc|desc，Default desc
    # @option opts [Integer] :page Page,Start 0
    # @option opts [Integer] :count Count OF Page
    # @option opts [Integer] :create_time_start CreateTimeStart，UTC timestamp，seconds
    # @option opts [Integer] :create_time_end CreateTimeEnd，UTC timestamp，seconds
    # @return [Array<(MerchantMetricListGet200Response, Integer, Hash)>] MerchantMetricListGet200Response data, response status code and response headers
    def merchant_metric_list_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricApi.merchant_metric_list_get ...'
      end
      # resource path
      local_var_path = '/merchant/metric/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'searchKey'] = opts[:'search_key'] if !opts[:'search_key'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'sortType'] = opts[:'sort_type'] if !opts[:'sort_type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'createTimeStart'] = opts[:'create_time_start'] if !opts[:'create_time_start'].nil?
      query_params[:'createTimeEnd'] = opts[:'create_time_end'] if !opts[:'create_time_end'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMetricListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MetricApi.merchant_metric_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricApi#merchant_metric_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Merchant Metric list
    # @param unibee_api_merchant_metric_list_req [UnibeeApiMerchantMetricListReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMetricListGet200Response]
    def merchant_metric_list_post(unibee_api_merchant_metric_list_req, opts = {})
      data, _status_code, _headers = merchant_metric_list_post_with_http_info(unibee_api_merchant_metric_list_req, opts)
      data
    end

    # Get Merchant Metric list
    # @param unibee_api_merchant_metric_list_req [UnibeeApiMerchantMetricListReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMetricListGet200Response, Integer, Hash)>] MerchantMetricListGet200Response data, response status code and response headers
    def merchant_metric_list_post_with_http_info(unibee_api_merchant_metric_list_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricApi.merchant_metric_list_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_metric_list_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_metric_list_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_metric_list_req' when calling MetricApi.merchant_metric_list_post"
      end
      # resource path
      local_var_path = '/merchant/metric/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_metric_list_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMetricListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MetricApi.merchant_metric_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricApi#merchant_metric_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # New Merchant Metric
    # @param unibee_api_merchant_metric_new_req [UnibeeApiMerchantMetricNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMetricDeletePost200Response]
    def merchant_metric_new_post(unibee_api_merchant_metric_new_req, opts = {})
      data, _status_code, _headers = merchant_metric_new_post_with_http_info(unibee_api_merchant_metric_new_req, opts)
      data
    end

    # New Merchant Metric
    # @param unibee_api_merchant_metric_new_req [UnibeeApiMerchantMetricNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMetricDeletePost200Response, Integer, Hash)>] MerchantMetricDeletePost200Response data, response status code and response headers
    def merchant_metric_new_post_with_http_info(unibee_api_merchant_metric_new_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricApi.merchant_metric_new_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_metric_new_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_metric_new_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_metric_new_req' when calling MetricApi.merchant_metric_new_post"
      end
      # resource path
      local_var_path = '/merchant/metric/new'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_metric_new_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMetricDeletePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MetricApi.merchant_metric_new_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricApi#merchant_metric_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Merchant Metric Plan TotalLimit
    # @param unibee_api_merchant_metric_delete_plan_limit_req [UnibeeApiMerchantMetricDeletePlanLimitReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMetricPlanLimitDeletePost200Response]
    def merchant_metric_plan_limit_delete_post(unibee_api_merchant_metric_delete_plan_limit_req, opts = {})
      data, _status_code, _headers = merchant_metric_plan_limit_delete_post_with_http_info(unibee_api_merchant_metric_delete_plan_limit_req, opts)
      data
    end

    # Delete Merchant Metric Plan TotalLimit
    # @param unibee_api_merchant_metric_delete_plan_limit_req [UnibeeApiMerchantMetricDeletePlanLimitReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMetricPlanLimitDeletePost200Response, Integer, Hash)>] MerchantMetricPlanLimitDeletePost200Response data, response status code and response headers
    def merchant_metric_plan_limit_delete_post_with_http_info(unibee_api_merchant_metric_delete_plan_limit_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricApi.merchant_metric_plan_limit_delete_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_metric_delete_plan_limit_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_metric_delete_plan_limit_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_metric_delete_plan_limit_req' when calling MetricApi.merchant_metric_plan_limit_delete_post"
      end
      # resource path
      local_var_path = '/merchant/metric/plan/limit/delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_metric_delete_plan_limit_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMetricPlanLimitDeletePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MetricApi.merchant_metric_plan_limit_delete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricApi#merchant_metric_plan_limit_delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit Merchant Metric Plan TotalLimit
    # @param unibee_api_merchant_metric_edit_plan_limit_req [UnibeeApiMerchantMetricEditPlanLimitReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMetricPlanLimitDeletePost200Response]
    def merchant_metric_plan_limit_edit_post(unibee_api_merchant_metric_edit_plan_limit_req, opts = {})
      data, _status_code, _headers = merchant_metric_plan_limit_edit_post_with_http_info(unibee_api_merchant_metric_edit_plan_limit_req, opts)
      data
    end

    # Edit Merchant Metric Plan TotalLimit
    # @param unibee_api_merchant_metric_edit_plan_limit_req [UnibeeApiMerchantMetricEditPlanLimitReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMetricPlanLimitDeletePost200Response, Integer, Hash)>] MerchantMetricPlanLimitDeletePost200Response data, response status code and response headers
    def merchant_metric_plan_limit_edit_post_with_http_info(unibee_api_merchant_metric_edit_plan_limit_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricApi.merchant_metric_plan_limit_edit_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_metric_edit_plan_limit_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_metric_edit_plan_limit_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_metric_edit_plan_limit_req' when calling MetricApi.merchant_metric_plan_limit_edit_post"
      end
      # resource path
      local_var_path = '/merchant/metric/plan/limit/edit'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_metric_edit_plan_limit_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMetricPlanLimitDeletePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MetricApi.merchant_metric_plan_limit_edit_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricApi#merchant_metric_plan_limit_edit_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # New Merchant Metric Plan TotalLimit
    # @param unibee_api_merchant_metric_new_plan_limit_req [UnibeeApiMerchantMetricNewPlanLimitReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMetricPlanLimitDeletePost200Response]
    def merchant_metric_plan_limit_new_post(unibee_api_merchant_metric_new_plan_limit_req, opts = {})
      data, _status_code, _headers = merchant_metric_plan_limit_new_post_with_http_info(unibee_api_merchant_metric_new_plan_limit_req, opts)
      data
    end

    # New Merchant Metric Plan TotalLimit
    # @param unibee_api_merchant_metric_new_plan_limit_req [UnibeeApiMerchantMetricNewPlanLimitReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMetricPlanLimitDeletePost200Response, Integer, Hash)>] MerchantMetricPlanLimitDeletePost200Response data, response status code and response headers
    def merchant_metric_plan_limit_new_post_with_http_info(unibee_api_merchant_metric_new_plan_limit_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricApi.merchant_metric_plan_limit_new_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_metric_new_plan_limit_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_metric_new_plan_limit_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_metric_new_plan_limit_req' when calling MetricApi.merchant_metric_plan_limit_new_post"
      end
      # resource path
      local_var_path = '/merchant/metric/plan/limit/new'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_metric_new_plan_limit_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMetricPlanLimitDeletePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MetricApi.merchant_metric_plan_limit_new_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricApi#merchant_metric_plan_limit_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
