=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class MetricLimitQuotaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reprocess Metric Carry Over (Admin Tool)
    # @param unibee_api_merchant_metric_metric_carryover_reprocess_req [UnibeeApiMerchantMetricMetricCarryoverReprocessReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMetricCarryoverReprocessPost200Response]
    def merchant_metric_carryover_reprocess_post(unibee_api_merchant_metric_metric_carryover_reprocess_req, opts = {})
      data, _status_code, _headers = merchant_metric_carryover_reprocess_post_with_http_info(unibee_api_merchant_metric_metric_carryover_reprocess_req, opts)
      data
    end

    # Reprocess Metric Carry Over (Admin Tool)
    # @param unibee_api_merchant_metric_metric_carryover_reprocess_req [UnibeeApiMerchantMetricMetricCarryoverReprocessReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMetricCarryoverReprocessPost200Response, Integer, Hash)>] MerchantMetricCarryoverReprocessPost200Response data, response status code and response headers
    def merchant_metric_carryover_reprocess_post_with_http_info(unibee_api_merchant_metric_metric_carryover_reprocess_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricLimitQuotaApi.merchant_metric_carryover_reprocess_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_metric_metric_carryover_reprocess_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_metric_metric_carryover_reprocess_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_metric_metric_carryover_reprocess_req' when calling MetricLimitQuotaApi.merchant_metric_carryover_reprocess_post"
      end
      # resource path
      local_var_path = '/merchant/metric/carryover/reprocess'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_metric_metric_carryover_reprocess_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMetricCarryoverReprocessPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MetricLimitQuotaApi.merchant_metric_carryover_reprocess_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricLimitQuotaApi#merchant_metric_carryover_reprocess_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manual Adjust Metric Limit
    # @param unibee_api_merchant_metric_metric_limit_adjust_req [UnibeeApiMerchantMetricMetricLimitAdjustReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMetricLimitAdjustPost200Response]
    def merchant_metric_limit_adjust_post(unibee_api_merchant_metric_metric_limit_adjust_req, opts = {})
      data, _status_code, _headers = merchant_metric_limit_adjust_post_with_http_info(unibee_api_merchant_metric_metric_limit_adjust_req, opts)
      data
    end

    # Manual Adjust Metric Limit
    # @param unibee_api_merchant_metric_metric_limit_adjust_req [UnibeeApiMerchantMetricMetricLimitAdjustReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMetricLimitAdjustPost200Response, Integer, Hash)>] MerchantMetricLimitAdjustPost200Response data, response status code and response headers
    def merchant_metric_limit_adjust_post_with_http_info(unibee_api_merchant_metric_metric_limit_adjust_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricLimitQuotaApi.merchant_metric_limit_adjust_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_metric_metric_limit_adjust_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_metric_metric_limit_adjust_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_metric_metric_limit_adjust_req' when calling MetricLimitQuotaApi.merchant_metric_limit_adjust_post"
      end
      # resource path
      local_var_path = '/merchant/metric/limit_adjust'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_metric_metric_limit_adjust_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMetricLimitAdjustPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MetricLimitQuotaApi.merchant_metric_limit_adjust_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricLimitQuotaApi#merchant_metric_limit_adjust_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
