=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class MetricEventApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Merchant Metric Event Current Value
    # @param unibee_api_merchant_metric_event_current_value_req [UnibeeApiMerchantMetricEventCurrentValueReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMetricEventCurrentValuePost200Response]
    def merchant_metric_event_current_value_post(unibee_api_merchant_metric_event_current_value_req, opts = {})
      data, _status_code, _headers = merchant_metric_event_current_value_post_with_http_info(unibee_api_merchant_metric_event_current_value_req, opts)
      data
    end

    # Get Merchant Metric Event Current Value
    # @param unibee_api_merchant_metric_event_current_value_req [UnibeeApiMerchantMetricEventCurrentValueReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMetricEventCurrentValuePost200Response, Integer, Hash)>] MerchantMetricEventCurrentValuePost200Response data, response status code and response headers
    def merchant_metric_event_current_value_post_with_http_info(unibee_api_merchant_metric_event_current_value_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricEventApi.merchant_metric_event_current_value_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_metric_event_current_value_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_metric_event_current_value_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_metric_event_current_value_req' when calling MetricEventApi.merchant_metric_event_current_value_post"
      end
      # resource path
      local_var_path = '/merchant/metric/event/current_value'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_metric_event_current_value_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMetricEventCurrentValuePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MetricEventApi.merchant_metric_event_current_value_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricEventApi#merchant_metric_event_current_value_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Del Merchant Metric Event
    # @param unibee_api_merchant_metric_delete_event_req [UnibeeApiMerchantMetricDeleteEventReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_metric_event_delete_post(unibee_api_merchant_metric_delete_event_req, opts = {})
      data, _status_code, _headers = merchant_metric_event_delete_post_with_http_info(unibee_api_merchant_metric_delete_event_req, opts)
      data
    end

    # Del Merchant Metric Event
    # @param unibee_api_merchant_metric_delete_event_req [UnibeeApiMerchantMetricDeleteEventReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_metric_event_delete_post_with_http_info(unibee_api_merchant_metric_delete_event_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricEventApi.merchant_metric_event_delete_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_metric_delete_event_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_metric_delete_event_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_metric_delete_event_req' when calling MetricEventApi.merchant_metric_event_delete_post"
      end
      # resource path
      local_var_path = '/merchant/metric/event/delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_metric_delete_event_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MetricEventApi.merchant_metric_event_delete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricEventApi#merchant_metric_event_delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Metric Event List
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :user_ids Filter UserIds, Default All
    # @option opts [Array<Integer>] :metric_ids Filter MetricIds, Default All
    # @option opts [Array<String>] :subscription_ids Filter SubscriptionIds, Default All
    # @option opts [String] :sort_field Sort，user_id|gmt_create，Default gmt_create
    # @option opts [String] :sort_type Sort Type，asc|desc，Default desc
    # @option opts [Integer] :page Page,Start 0
    # @option opts [Integer] :count Count OF Page
    # @option opts [Integer] :create_time_start CreateTimeStart，UTC timestamp，seconds
    # @option opts [Integer] :create_time_end CreateTimeEnd，UTC timestamp，seconds
    # @option opts [String] :invoice_id When set, list events for this invoice period (match subscription_period_start/end with invoice PeriodStart/PeriodEnd); overrides CreateTimeStart/CreateTimeEnd for period scope
    # @return [MerchantMetricEventListGet200Response]
    def merchant_metric_event_list_get(opts = {})
      data, _status_code, _headers = merchant_metric_event_list_get_with_http_info(opts)
      data
    end

    # Metric Event List
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :user_ids Filter UserIds, Default All
    # @option opts [Array<Integer>] :metric_ids Filter MetricIds, Default All
    # @option opts [Array<String>] :subscription_ids Filter SubscriptionIds, Default All
    # @option opts [String] :sort_field Sort，user_id|gmt_create，Default gmt_create
    # @option opts [String] :sort_type Sort Type，asc|desc，Default desc
    # @option opts [Integer] :page Page,Start 0
    # @option opts [Integer] :count Count OF Page
    # @option opts [Integer] :create_time_start CreateTimeStart，UTC timestamp，seconds
    # @option opts [Integer] :create_time_end CreateTimeEnd，UTC timestamp，seconds
    # @option opts [String] :invoice_id When set, list events for this invoice period (match subscription_period_start/end with invoice PeriodStart/PeriodEnd); overrides CreateTimeStart/CreateTimeEnd for period scope
    # @return [Array<(MerchantMetricEventListGet200Response, Integer, Hash)>] MerchantMetricEventListGet200Response data, response status code and response headers
    def merchant_metric_event_list_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricEventApi.merchant_metric_event_list_get ...'
      end
      # resource path
      local_var_path = '/merchant/metric/event_list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'userIds'] = @api_client.build_collection_param(opts[:'user_ids'], :multi) if !opts[:'user_ids'].nil?
      query_params[:'metricIds'] = @api_client.build_collection_param(opts[:'metric_ids'], :multi) if !opts[:'metric_ids'].nil?
      query_params[:'subscriptionIds'] = @api_client.build_collection_param(opts[:'subscription_ids'], :multi) if !opts[:'subscription_ids'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'sortType'] = opts[:'sort_type'] if !opts[:'sort_type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'createTimeStart'] = opts[:'create_time_start'] if !opts[:'create_time_start'].nil?
      query_params[:'createTimeEnd'] = opts[:'create_time_end'] if !opts[:'create_time_end'].nil?
      query_params[:'invoiceId'] = opts[:'invoice_id'] if !opts[:'invoice_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMetricEventListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MetricEventApi.merchant_metric_event_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricEventApi#merchant_metric_event_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Metric Event List
    # @param unibee_api_merchant_metric_event_list_req [UnibeeApiMerchantMetricEventListReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMetricEventListGet200Response]
    def merchant_metric_event_list_post(unibee_api_merchant_metric_event_list_req, opts = {})
      data, _status_code, _headers = merchant_metric_event_list_post_with_http_info(unibee_api_merchant_metric_event_list_req, opts)
      data
    end

    # Metric Event List
    # @param unibee_api_merchant_metric_event_list_req [UnibeeApiMerchantMetricEventListReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMetricEventListGet200Response, Integer, Hash)>] MerchantMetricEventListGet200Response data, response status code and response headers
    def merchant_metric_event_list_post_with_http_info(unibee_api_merchant_metric_event_list_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricEventApi.merchant_metric_event_list_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_metric_event_list_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_metric_event_list_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_metric_event_list_req' when calling MetricEventApi.merchant_metric_event_list_post"
      end
      # resource path
      local_var_path = '/merchant/metric/event_list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_metric_event_list_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMetricEventListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MetricEventApi.merchant_metric_event_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricEventApi#merchant_metric_event_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # New Merchant Metric Event
    # @param unibee_api_merchant_metric_new_event_req [UnibeeApiMerchantMetricNewEventReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMetricEventNewPost200Response]
    def merchant_metric_event_new_post(unibee_api_merchant_metric_new_event_req, opts = {})
      data, _status_code, _headers = merchant_metric_event_new_post_with_http_info(unibee_api_merchant_metric_new_event_req, opts)
      data
    end

    # New Merchant Metric Event
    # @param unibee_api_merchant_metric_new_event_req [UnibeeApiMerchantMetricNewEventReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMetricEventNewPost200Response, Integer, Hash)>] MerchantMetricEventNewPost200Response data, response status code and response headers
    def merchant_metric_event_new_post_with_http_info(unibee_api_merchant_metric_new_event_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricEventApi.merchant_metric_event_new_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_metric_new_event_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_metric_new_event_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_metric_new_event_req' when calling MetricEventApi.merchant_metric_event_new_post"
      end
      # resource path
      local_var_path = '/merchant/metric/event/new'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_metric_new_event_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMetricEventNewPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MetricEventApi.merchant_metric_event_new_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricEventApi#merchant_metric_event_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
