=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class MemberAuthenticationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Session Login
    # Session login
    # @param unibee_api_merchant_auth_session_req [UnibeeApiMerchantAuthSessionReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSessionLoginPost200Response]
    def merchant_auth_session_login_post(unibee_api_merchant_auth_session_req, opts = {})
      data, _status_code, _headers = merchant_auth_session_login_post_with_http_info(unibee_api_merchant_auth_session_req, opts)
      data
    end

    # Session Login
    # Session login
    # @param unibee_api_merchant_auth_session_req [UnibeeApiMerchantAuthSessionReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSessionLoginPost200Response, Integer, Hash)>] MerchantAuthSessionLoginPost200Response data, response status code and response headers
    def merchant_auth_session_login_post_with_http_info(unibee_api_merchant_auth_session_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_session_login_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_auth_session_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_auth_session_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_auth_session_req' when calling MemberAuthenticationApi.merchant_auth_session_login_post"
      end
      # resource path
      local_var_path = '/merchant/auth/session_login'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_auth_session_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSessionLoginPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_session_login_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_session_login_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Admin Member Clear Member 2FA Key With ResumeCode
    # @param unibee_api_merchant_auth_clear_totp_req [UnibeeApiMerchantAuthClearTotpReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_auth_sso_clear_totp_post(unibee_api_merchant_auth_clear_totp_req, opts = {})
      data, _status_code, _headers = merchant_auth_sso_clear_totp_post_with_http_info(unibee_api_merchant_auth_clear_totp_req, opts)
      data
    end

    # Admin Member Clear Member 2FA Key With ResumeCode
    # @param unibee_api_merchant_auth_clear_totp_req [UnibeeApiMerchantAuthClearTotpReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_auth_sso_clear_totp_post_with_http_info(unibee_api_merchant_auth_clear_totp_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_clear_totp_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_auth_clear_totp_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_auth_clear_totp_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_auth_clear_totp_req' when calling MemberAuthenticationApi.merchant_auth_sso_clear_totp_post"
      end
      # resource path
      local_var_path = '/merchant/auth/sso/clear_totp'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_auth_clear_totp_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_clear_totp_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_clear_totp_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # OTP Login
    # Send email to member with OTP code
    # @param unibee_api_merchant_auth_login_otp_req [UnibeeApiMerchantAuthLoginOtpReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_auth_sso_login_otp_post(unibee_api_merchant_auth_login_otp_req, opts = {})
      data, _status_code, _headers = merchant_auth_sso_login_otp_post_with_http_info(unibee_api_merchant_auth_login_otp_req, opts)
      data
    end

    # OTP Login
    # Send email to member with OTP code
    # @param unibee_api_merchant_auth_login_otp_req [UnibeeApiMerchantAuthLoginOtpReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_auth_sso_login_otp_post_with_http_info(unibee_api_merchant_auth_login_otp_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_login_otp_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_auth_login_otp_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_auth_login_otp_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_auth_login_otp_req' when calling MemberAuthenticationApi.merchant_auth_sso_login_otp_post"
      end
      # resource path
      local_var_path = '/merchant/auth/sso/loginOTP'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_auth_login_otp_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_login_otp_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_login_otp_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # OTP Login Code Verification
    # OTP login for member, verify OTP code
    # @param unibee_api_merchant_auth_login_otp_verify_req [UnibeeApiMerchantAuthLoginOtpVerifyReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoLoginPost200Response]
    def merchant_auth_sso_login_otp_verify_post(unibee_api_merchant_auth_login_otp_verify_req, opts = {})
      data, _status_code, _headers = merchant_auth_sso_login_otp_verify_post_with_http_info(unibee_api_merchant_auth_login_otp_verify_req, opts)
      data
    end

    # OTP Login Code Verification
    # OTP login for member, verify OTP code
    # @param unibee_api_merchant_auth_login_otp_verify_req [UnibeeApiMerchantAuthLoginOtpVerifyReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoLoginPost200Response, Integer, Hash)>] MerchantAuthSsoLoginPost200Response data, response status code and response headers
    def merchant_auth_sso_login_otp_verify_post_with_http_info(unibee_api_merchant_auth_login_otp_verify_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_login_otp_verify_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_auth_login_otp_verify_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_auth_login_otp_verify_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_auth_login_otp_verify_req' when calling MemberAuthenticationApi.merchant_auth_sso_login_otp_verify_post"
      end
      # resource path
      local_var_path = '/merchant/auth/sso/loginOTPVerify'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_auth_login_otp_verify_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoLoginPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_login_otp_verify_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_login_otp_verify_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Merchant Password Login
    # Merchant Password login
    # @param unibee_api_merchant_auth_login_req [UnibeeApiMerchantAuthLoginReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoLoginPost200Response]
    def merchant_auth_sso_login_post(unibee_api_merchant_auth_login_req, opts = {})
      data, _status_code, _headers = merchant_auth_sso_login_post_with_http_info(unibee_api_merchant_auth_login_req, opts)
      data
    end

    # Merchant Password Login
    # Merchant Password login
    # @param unibee_api_merchant_auth_login_req [UnibeeApiMerchantAuthLoginReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoLoginPost200Response, Integer, Hash)>] MerchantAuthSsoLoginPost200Response data, response status code and response headers
    def merchant_auth_sso_login_post_with_http_info(unibee_api_merchant_auth_login_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_login_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_auth_login_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_auth_login_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_auth_login_req' when calling MemberAuthenticationApi.merchant_auth_sso_login_post"
      end
      # resource path
      local_var_path = '/merchant/auth/sso/login'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_auth_login_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoLoginPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_login_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_login_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Oauth Github
    # Merchant Oauth Github
    # @param [Hash] opts the optional parameters
    # @option opts [String] :github_code Github Code
    # @return [MerchantAuthSsoOauthGithubGet200Response]
    def merchant_auth_sso_oauth_github_get(opts = {})
      data, _status_code, _headers = merchant_auth_sso_oauth_github_get_with_http_info(opts)
      data
    end

    # Get Oauth Github
    # Merchant Oauth Github
    # @param [Hash] opts the optional parameters
    # @option opts [String] :github_code Github Code
    # @return [Array<(MerchantAuthSsoOauthGithubGet200Response, Integer, Hash)>] MerchantAuthSsoOauthGithubGet200Response data, response status code and response headers
    def merchant_auth_sso_oauth_github_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_oauth_github_get ...'
      end
      # resource path
      local_var_path = '/merchant/auth/sso/oauth/github'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'githubCode'] = opts[:'github_code'] if !opts[:'github_code'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoOauthGithubGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_oauth_github_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_oauth_github_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Oauth Google
    # Merchant Oauth Google
    # @param [Hash] opts the optional parameters
    # @option opts [String] :google_code Google Code
    # @option opts [String] :redirect_uri The Google Redirect Uri
    # @return [MerchantAuthSsoOauthGoogleGet200Response]
    def merchant_auth_sso_oauth_google_get(opts = {})
      data, _status_code, _headers = merchant_auth_sso_oauth_google_get_with_http_info(opts)
      data
    end

    # Get Oauth Google
    # Merchant Oauth Google
    # @param [Hash] opts the optional parameters
    # @option opts [String] :google_code Google Code
    # @option opts [String] :redirect_uri The Google Redirect Uri
    # @return [Array<(MerchantAuthSsoOauthGoogleGet200Response, Integer, Hash)>] MerchantAuthSsoOauthGoogleGet200Response data, response status code and response headers
    def merchant_auth_sso_oauth_google_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_oauth_google_get ...'
      end
      # resource path
      local_var_path = '/merchant/auth/sso/oauth/google'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'googleCode'] = opts[:'google_code'] if !opts[:'google_code'].nil?
      query_params[:'redirectUri'] = opts[:'redirect_uri'] if !opts[:'redirect_uri'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoOauthGoogleGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_oauth_google_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_oauth_google_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # OAuth Login
    # OAuth login. Pass OAuth token in request header (Auth.js JWT). Headers: X-Auth-JS-Token | X-Auth-Token | X-OAuth-Token
    # @param unibee_api_merchant_auth_login_o_auth_req [UnibeeApiMerchantAuthLoginOAuthReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoLoginPost200Response]
    def merchant_auth_sso_oauth_login_post(unibee_api_merchant_auth_login_o_auth_req, opts = {})
      data, _status_code, _headers = merchant_auth_sso_oauth_login_post_with_http_info(unibee_api_merchant_auth_login_o_auth_req, opts)
      data
    end

    # OAuth Login
    # OAuth login. Pass OAuth token in request header (Auth.js JWT). Headers: X-Auth-JS-Token | X-Auth-Token | X-OAuth-Token
    # @param unibee_api_merchant_auth_login_o_auth_req [UnibeeApiMerchantAuthLoginOAuthReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoLoginPost200Response, Integer, Hash)>] MerchantAuthSsoLoginPost200Response data, response status code and response headers
    def merchant_auth_sso_oauth_login_post_with_http_info(unibee_api_merchant_auth_login_o_auth_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_oauth_login_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_auth_login_o_auth_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_auth_login_o_auth_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_auth_login_o_auth_req' when calling MemberAuthenticationApi.merchant_auth_sso_oauth_login_post"
      end
      # resource path
      local_var_path = '/merchant/auth/sso/oauth/login'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_auth_login_o_auth_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoLoginPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_oauth_login_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_oauth_login_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Oauth Members
    # Merchant Get Oauth Connected Members. Pass OAuth token in request header (Auth.js JWT). Headers: X-Auth-JS-Token | X-Auth-Token | X-OAuth-Token
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoOauthMembersGet200Response]
    def merchant_auth_sso_oauth_members_get(opts = {})
      data, _status_code, _headers = merchant_auth_sso_oauth_members_get_with_http_info(opts)
      data
    end

    # Get Oauth Members
    # Merchant Get Oauth Connected Members. Pass OAuth token in request header (Auth.js JWT). Headers: X-Auth-JS-Token | X-Auth-Token | X-OAuth-Token
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoOauthMembersGet200Response, Integer, Hash)>] MerchantAuthSsoOauthMembersGet200Response data, response status code and response headers
    def merchant_auth_sso_oauth_members_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_oauth_members_get ...'
      end
      # resource path
      local_var_path = '/merchant/auth/sso/oauth/members'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoOauthMembersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_oauth_members_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_oauth_members_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register OAuth
    # Merchant OAuth Register. Pass OAuth token in request header (Auth.js JWT). Headers: X-Auth-JS-Token | X-Auth-Token | X-OAuth-Token
    # @param unibee_api_merchant_auth_register_o_auth_req [UnibeeApiMerchantAuthRegisterOAuthReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoLoginPost200Response]
    def merchant_auth_sso_oauth_register_post(unibee_api_merchant_auth_register_o_auth_req, opts = {})
      data, _status_code, _headers = merchant_auth_sso_oauth_register_post_with_http_info(unibee_api_merchant_auth_register_o_auth_req, opts)
      data
    end

    # Register OAuth
    # Merchant OAuth Register. Pass OAuth token in request header (Auth.js JWT). Headers: X-Auth-JS-Token | X-Auth-Token | X-OAuth-Token
    # @param unibee_api_merchant_auth_register_o_auth_req [UnibeeApiMerchantAuthRegisterOAuthReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoLoginPost200Response, Integer, Hash)>] MerchantAuthSsoLoginPost200Response data, response status code and response headers
    def merchant_auth_sso_oauth_register_post_with_http_info(unibee_api_merchant_auth_register_o_auth_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_oauth_register_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_auth_register_o_auth_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_auth_register_o_auth_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_auth_register_o_auth_req' when calling MemberAuthenticationApi.merchant_auth_sso_oauth_register_post"
      end
      # resource path
      local_var_path = '/merchant/auth/sso/oauth/register'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_auth_register_o_auth_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoLoginPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_oauth_register_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_oauth_register_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # OAuth Setup
    # Member OAuth Setup. Pass OAuth token in request header (Auth.js JWT). Headers: X-Auth-JS-Token | X-Auth-Token | X-OAuth-Token
    # @param unibee_api_merchant_auth_setup_o_auth_req [UnibeeApiMerchantAuthSetupOAuthReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoLoginPost200Response]
    def merchant_auth_sso_oauth_setup_post(unibee_api_merchant_auth_setup_o_auth_req, opts = {})
      data, _status_code, _headers = merchant_auth_sso_oauth_setup_post_with_http_info(unibee_api_merchant_auth_setup_o_auth_req, opts)
      data
    end

    # OAuth Setup
    # Member OAuth Setup. Pass OAuth token in request header (Auth.js JWT). Headers: X-Auth-JS-Token | X-Auth-Token | X-OAuth-Token
    # @param unibee_api_merchant_auth_setup_o_auth_req [UnibeeApiMerchantAuthSetupOAuthReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoLoginPost200Response, Integer, Hash)>] MerchantAuthSsoLoginPost200Response data, response status code and response headers
    def merchant_auth_sso_oauth_setup_post_with_http_info(unibee_api_merchant_auth_setup_o_auth_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_oauth_setup_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_auth_setup_o_auth_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_auth_setup_o_auth_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_auth_setup_o_auth_req' when calling MemberAuthenticationApi.merchant_auth_sso_oauth_setup_post"
      end
      # resource path
      local_var_path = '/merchant/auth/sso/oauth/setup'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_auth_setup_o_auth_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoLoginPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_oauth_setup_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_oauth_setup_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # OTP Password Forget
    # Send email to member with OTP code
    # @param unibee_api_merchant_auth_password_forget_otp_req [UnibeeApiMerchantAuthPasswordForgetOtpReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_auth_sso_password_forget_otp_post(unibee_api_merchant_auth_password_forget_otp_req, opts = {})
      data, _status_code, _headers = merchant_auth_sso_password_forget_otp_post_with_http_info(unibee_api_merchant_auth_password_forget_otp_req, opts)
      data
    end

    # OTP Password Forget
    # Send email to member with OTP code
    # @param unibee_api_merchant_auth_password_forget_otp_req [UnibeeApiMerchantAuthPasswordForgetOtpReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_auth_sso_password_forget_otp_post_with_http_info(unibee_api_merchant_auth_password_forget_otp_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_password_forget_otp_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_auth_password_forget_otp_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_auth_password_forget_otp_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_auth_password_forget_otp_req' when calling MemberAuthenticationApi.merchant_auth_sso_password_forget_otp_post"
      end
      # resource path
      local_var_path = '/merchant/auth/sso/passwordForgetOTP'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_auth_password_forget_otp_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_password_forget_otp_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_password_forget_otp_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # OTP Password Forget Code Verification
    # Password forget OTP process, verify OTP code
    # @param unibee_api_merchant_auth_password_forget_otp_verify_req [UnibeeApiMerchantAuthPasswordForgetOtpVerifyReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_auth_sso_password_forget_otp_verify_post(unibee_api_merchant_auth_password_forget_otp_verify_req, opts = {})
      data, _status_code, _headers = merchant_auth_sso_password_forget_otp_verify_post_with_http_info(unibee_api_merchant_auth_password_forget_otp_verify_req, opts)
      data
    end

    # OTP Password Forget Code Verification
    # Password forget OTP process, verify OTP code
    # @param unibee_api_merchant_auth_password_forget_otp_verify_req [UnibeeApiMerchantAuthPasswordForgetOtpVerifyReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_auth_sso_password_forget_otp_verify_post_with_http_info(unibee_api_merchant_auth_password_forget_otp_verify_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_password_forget_otp_verify_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_auth_password_forget_otp_verify_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_auth_password_forget_otp_verify_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_auth_password_forget_otp_verify_req' when calling MemberAuthenticationApi.merchant_auth_sso_password_forget_otp_verify_post"
      end
      # resource path
      local_var_path = '/merchant/auth/sso/passwordForgetOTPVerify'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_auth_password_forget_otp_verify_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_password_forget_otp_verify_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_password_forget_otp_verify_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 2FA Password Forget Code Verification
    # Password forget 2FA process, verify 2FA code
    # @param unibee_api_merchant_auth_password_forget_totp_verify_req [UnibeeApiMerchantAuthPasswordForgetTotpVerifyReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_auth_sso_password_forget_totp_verify_post(unibee_api_merchant_auth_password_forget_totp_verify_req, opts = {})
      data, _status_code, _headers = merchant_auth_sso_password_forget_totp_verify_post_with_http_info(unibee_api_merchant_auth_password_forget_totp_verify_req, opts)
      data
    end

    # 2FA Password Forget Code Verification
    # Password forget 2FA process, verify 2FA code
    # @param unibee_api_merchant_auth_password_forget_totp_verify_req [UnibeeApiMerchantAuthPasswordForgetTotpVerifyReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_auth_sso_password_forget_totp_verify_post_with_http_info(unibee_api_merchant_auth_password_forget_totp_verify_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_password_forget_totp_verify_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_auth_password_forget_totp_verify_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_auth_password_forget_totp_verify_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_auth_password_forget_totp_verify_req' when calling MemberAuthenticationApi.merchant_auth_sso_password_forget_totp_verify_post"
      end
      # resource path
      local_var_path = '/merchant/auth/sso/passwordForgetTotpVerify'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_auth_password_forget_totp_verify_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_password_forget_totp_verify_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_password_forget_totp_verify_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Password Setup
    # Member Password Setup
    # @param unibee_api_merchant_auth_password_setup_otp_req [UnibeeApiMerchantAuthPasswordSetupOtpReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoLoginPost200Response]
    def merchant_auth_sso_password_setup_post(unibee_api_merchant_auth_password_setup_otp_req, opts = {})
      data, _status_code, _headers = merchant_auth_sso_password_setup_post_with_http_info(unibee_api_merchant_auth_password_setup_otp_req, opts)
      data
    end

    # Password Setup
    # Member Password Setup
    # @param unibee_api_merchant_auth_password_setup_otp_req [UnibeeApiMerchantAuthPasswordSetupOtpReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoLoginPost200Response, Integer, Hash)>] MerchantAuthSsoLoginPost200Response data, response status code and response headers
    def merchant_auth_sso_password_setup_post_with_http_info(unibee_api_merchant_auth_password_setup_otp_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_password_setup_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_auth_password_setup_otp_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_auth_password_setup_otp_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_auth_password_setup_otp_req' when calling MemberAuthenticationApi.merchant_auth_sso_password_setup_post"
      end
      # resource path
      local_var_path = '/merchant/auth/sso/passwordSetup'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_auth_password_setup_otp_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoLoginPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_password_setup_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_password_setup_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register Email Check
    # Check Register Email
    # @param unibee_api_merchant_auth_register_email_check_req [UnibeeApiMerchantAuthRegisterEmailCheckReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoRegisterEmailCheckPost200Response]
    def merchant_auth_sso_register_email_check_post(unibee_api_merchant_auth_register_email_check_req, opts = {})
      data, _status_code, _headers = merchant_auth_sso_register_email_check_post_with_http_info(unibee_api_merchant_auth_register_email_check_req, opts)
      data
    end

    # Register Email Check
    # Check Register Email
    # @param unibee_api_merchant_auth_register_email_check_req [UnibeeApiMerchantAuthRegisterEmailCheckReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoRegisterEmailCheckPost200Response, Integer, Hash)>] MerchantAuthSsoRegisterEmailCheckPost200Response data, response status code and response headers
    def merchant_auth_sso_register_email_check_post_with_http_info(unibee_api_merchant_auth_register_email_check_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_register_email_check_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_auth_register_email_check_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_auth_register_email_check_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_auth_register_email_check_req' when calling MemberAuthenticationApi.merchant_auth_sso_register_email_check_post"
      end
      # resource path
      local_var_path = '/merchant/auth/sso/register_email_check'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_auth_register_email_check_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoRegisterEmailCheckPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_register_email_check_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_register_email_check_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register
    # Register with owner permission, send email with OTP code
    # @param unibee_api_merchant_auth_register_req [UnibeeApiMerchantAuthRegisterReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_auth_sso_register_post(unibee_api_merchant_auth_register_req, opts = {})
      data, _status_code, _headers = merchant_auth_sso_register_post_with_http_info(unibee_api_merchant_auth_register_req, opts)
      data
    end

    # Register
    # Register with owner permission, send email with OTP code
    # @param unibee_api_merchant_auth_register_req [UnibeeApiMerchantAuthRegisterReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_auth_sso_register_post_with_http_info(unibee_api_merchant_auth_register_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_register_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_auth_register_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_auth_register_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_auth_register_req' when calling MemberAuthenticationApi.merchant_auth_sso_register_post"
      end
      # resource path
      local_var_path = '/merchant/auth/sso/register'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_auth_register_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_register_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_register_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register Verify
    # Merchant Register, verify OTP code 
    # @param unibee_api_merchant_auth_register_verify_req [UnibeeApiMerchantAuthRegisterVerifyReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoLoginPost200Response]
    def merchant_auth_sso_register_verify_post(unibee_api_merchant_auth_register_verify_req, opts = {})
      data, _status_code, _headers = merchant_auth_sso_register_verify_post_with_http_info(unibee_api_merchant_auth_register_verify_req, opts)
      data
    end

    # Register Verify
    # Merchant Register, verify OTP code 
    # @param unibee_api_merchant_auth_register_verify_req [UnibeeApiMerchantAuthRegisterVerifyReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoLoginPost200Response, Integer, Hash)>] MerchantAuthSsoLoginPost200Response data, response status code and response headers
    def merchant_auth_sso_register_verify_post_with_http_info(unibee_api_merchant_auth_register_verify_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_register_verify_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_auth_register_verify_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_auth_register_verify_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_auth_register_verify_req' when calling MemberAuthenticationApi.merchant_auth_sso_register_verify_post"
      end
      # resource path
      local_var_path = '/merchant/auth/sso/registerVerify'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_auth_register_verify_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoLoginPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_register_verify_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_register_verify_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # RegisterWithoutCode
    # Register with owner permission without code verification
    # @param unibee_api_merchant_auth_register_without_verification_req [UnibeeApiMerchantAuthRegisterWithoutVerificationReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoLoginPost200Response]
    def merchant_auth_sso_register_without_verification_post(unibee_api_merchant_auth_register_without_verification_req, opts = {})
      data, _status_code, _headers = merchant_auth_sso_register_without_verification_post_with_http_info(unibee_api_merchant_auth_register_without_verification_req, opts)
      data
    end

    # RegisterWithoutCode
    # Register with owner permission without code verification
    # @param unibee_api_merchant_auth_register_without_verification_req [UnibeeApiMerchantAuthRegisterWithoutVerificationReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoLoginPost200Response, Integer, Hash)>] MerchantAuthSsoLoginPost200Response data, response status code and response headers
    def merchant_auth_sso_register_without_verification_post_with_http_info(unibee_api_merchant_auth_register_without_verification_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAuthenticationApi.merchant_auth_sso_register_without_verification_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_auth_register_without_verification_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_auth_register_without_verification_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_auth_register_without_verification_req' when calling MemberAuthenticationApi.merchant_auth_sso_register_without_verification_post"
      end
      # resource path
      local_var_path = '/merchant/auth/sso/register_without_verification'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_auth_register_without_verification_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoLoginPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MemberAuthenticationApi.merchant_auth_sso_register_without_verification_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAuthenticationApi#merchant_auth_sso_register_without_verification_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
