=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class SearchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Search
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search_key SearchKey, Will Search UserId|Email|UserName|CompanyName|SubscriptionId|VatNumber|InvoiceId||PaymentId
    # @return [MerchantSearchKeySearchGet200Response]
    def merchant_search_key_search_get(opts = {})
      data, _status_code, _headers = merchant_search_key_search_get_with_http_info(opts)
      data
    end

    # Search
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search_key SearchKey, Will Search UserId|Email|UserName|CompanyName|SubscriptionId|VatNumber|InvoiceId||PaymentId
    # @return [Array<(MerchantSearchKeySearchGet200Response, Integer, Hash)>] MerchantSearchKeySearchGet200Response data, response status code and response headers
    def merchant_search_key_search_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.merchant_search_key_search_get ...'
      end
      # resource path
      local_var_path = '/merchant/search/key_search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'searchKey'] = opts[:'search_key'] if !opts[:'search_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSearchKeySearchGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SearchApi.merchant_search_key_search_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#merchant_search_key_search_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search
    # @param unibee_api_merchant_search_search_req [UnibeeApiMerchantSearchSearchReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantSearchKeySearchGet200Response]
    def merchant_search_key_search_post(unibee_api_merchant_search_search_req, opts = {})
      data, _status_code, _headers = merchant_search_key_search_post_with_http_info(unibee_api_merchant_search_search_req, opts)
      data
    end

    # Search
    # @param unibee_api_merchant_search_search_req [UnibeeApiMerchantSearchSearchReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantSearchKeySearchGet200Response, Integer, Hash)>] MerchantSearchKeySearchGet200Response data, response status code and response headers
    def merchant_search_key_search_post_with_http_info(unibee_api_merchant_search_search_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.merchant_search_key_search_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_search_search_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_search_search_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_search_search_req' when calling SearchApi.merchant_search_key_search_post"
      end
      # resource path
      local_var_path = '/merchant/search/key_search'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_search_search_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSearchKeySearchGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SearchApi.merchant_search_key_search_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#merchant_search_key_search_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
