=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class GatewayApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Payment Gateway Archive
    # Archive the exist payment gateway，available for setup new one, the old user continue using the old gateway
    # @param unibee_api_merchant_gateway_archive_req [UnibeeApiMerchantGatewayArchiveReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantGatewayArchivePost200Response]
    def merchant_gateway_archive_post(unibee_api_merchant_gateway_archive_req, opts = {})
      data, _status_code, _headers = merchant_gateway_archive_post_with_http_info(unibee_api_merchant_gateway_archive_req, opts)
      data
    end

    # Payment Gateway Archive
    # Archive the exist payment gateway，available for setup new one, the old user continue using the old gateway
    # @param unibee_api_merchant_gateway_archive_req [UnibeeApiMerchantGatewayArchiveReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantGatewayArchivePost200Response, Integer, Hash)>] MerchantGatewayArchivePost200Response data, response status code and response headers
    def merchant_gateway_archive_post_with_http_info(unibee_api_merchant_gateway_archive_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GatewayApi.merchant_gateway_archive_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_gateway_archive_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_gateway_archive_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_gateway_archive_req' when calling GatewayApi.merchant_gateway_archive_post"
      end
      # resource path
      local_var_path = '/merchant/gateway/archive'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_gateway_archive_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGatewayArchivePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GatewayApi.merchant_gateway_archive_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GatewayApi#merchant_gateway_archive_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment Gateway
    # Get Payment Gateway Detail
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :gateway_id The id of payment gateway, either gatewayId or gatewayName should provided
    # @option opts [String] :gateway_name The specified name of payment gateway, either gatewayId or gatewayName should provided, stripe|paypal|changelly|unitpay|payssion|cryptadium, return default gateway if provided
    # @return [MerchantGatewayArchivePost200Response]
    def merchant_gateway_detail_get(opts = {})
      data, _status_code, _headers = merchant_gateway_detail_get_with_http_info(opts)
      data
    end

    # Payment Gateway
    # Get Payment Gateway Detail
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :gateway_id The id of payment gateway, either gatewayId or gatewayName should provided
    # @option opts [String] :gateway_name The specified name of payment gateway, either gatewayId or gatewayName should provided, stripe|paypal|changelly|unitpay|payssion|cryptadium, return default gateway if provided
    # @return [Array<(MerchantGatewayArchivePost200Response, Integer, Hash)>] MerchantGatewayArchivePost200Response data, response status code and response headers
    def merchant_gateway_detail_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GatewayApi.merchant_gateway_detail_get ...'
      end
      # resource path
      local_var_path = '/merchant/gateway/detail'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'gatewayId'] = opts[:'gateway_id'] if !opts[:'gateway_id'].nil?
      query_params[:'gatewayName'] = opts[:'gateway_name'] if !opts[:'gateway_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGatewayArchivePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GatewayApi.merchant_gateway_detail_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GatewayApi#merchant_gateway_detail_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment Gateway
    # Get Payment Gateway Detail
    # @param unibee_api_merchant_gateway_detail_req [UnibeeApiMerchantGatewayDetailReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantGatewayArchivePost200Response]
    def merchant_gateway_detail_post(unibee_api_merchant_gateway_detail_req, opts = {})
      data, _status_code, _headers = merchant_gateway_detail_post_with_http_info(unibee_api_merchant_gateway_detail_req, opts)
      data
    end

    # Payment Gateway
    # Get Payment Gateway Detail
    # @param unibee_api_merchant_gateway_detail_req [UnibeeApiMerchantGatewayDetailReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantGatewayArchivePost200Response, Integer, Hash)>] MerchantGatewayArchivePost200Response data, response status code and response headers
    def merchant_gateway_detail_post_with_http_info(unibee_api_merchant_gateway_detail_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GatewayApi.merchant_gateway_detail_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_gateway_detail_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_gateway_detail_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_gateway_detail_req' when calling GatewayApi.merchant_gateway_detail_post"
      end
      # resource path
      local_var_path = '/merchant/gateway/detail'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_gateway_detail_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGatewayArchivePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GatewayApi.merchant_gateway_detail_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GatewayApi#merchant_gateway_detail_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment Gateway Country Config Edit
    # Edit country config for payment gateway, to enable or disable the payment for countryCode, default is enable
    # @param unibee_api_merchant_gateway_edit_country_config_req [UnibeeApiMerchantGatewayEditCountryConfigReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_gateway_edit_country_config_post(unibee_api_merchant_gateway_edit_country_config_req, opts = {})
      data, _status_code, _headers = merchant_gateway_edit_country_config_post_with_http_info(unibee_api_merchant_gateway_edit_country_config_req, opts)
      data
    end

    # Payment Gateway Country Config Edit
    # Edit country config for payment gateway, to enable or disable the payment for countryCode, default is enable
    # @param unibee_api_merchant_gateway_edit_country_config_req [UnibeeApiMerchantGatewayEditCountryConfigReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_gateway_edit_country_config_post_with_http_info(unibee_api_merchant_gateway_edit_country_config_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GatewayApi.merchant_gateway_edit_country_config_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_gateway_edit_country_config_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_gateway_edit_country_config_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_gateway_edit_country_config_req' when calling GatewayApi.merchant_gateway_edit_country_config_post"
      end
      # resource path
      local_var_path = '/merchant/gateway/edit_country_config'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_gateway_edit_country_config_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GatewayApi.merchant_gateway_edit_country_config_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GatewayApi#merchant_gateway_edit_country_config_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment Gateway Edit
    # Edit the exist payment gateway
    # @param unibee_api_merchant_gateway_edit_req [UnibeeApiMerchantGatewayEditReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantGatewayArchivePost200Response]
    def merchant_gateway_edit_post(unibee_api_merchant_gateway_edit_req, opts = {})
      data, _status_code, _headers = merchant_gateway_edit_post_with_http_info(unibee_api_merchant_gateway_edit_req, opts)
      data
    end

    # Payment Gateway Edit
    # Edit the exist payment gateway
    # @param unibee_api_merchant_gateway_edit_req [UnibeeApiMerchantGatewayEditReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantGatewayArchivePost200Response, Integer, Hash)>] MerchantGatewayArchivePost200Response data, response status code and response headers
    def merchant_gateway_edit_post_with_http_info(unibee_api_merchant_gateway_edit_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GatewayApi.merchant_gateway_edit_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_gateway_edit_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_gateway_edit_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_gateway_edit_req' when calling GatewayApi.merchant_gateway_edit_post"
      end
      # resource path
      local_var_path = '/merchant/gateway/edit'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_gateway_edit_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGatewayArchivePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GatewayApi.merchant_gateway_edit_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GatewayApi#merchant_gateway_edit_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit Payment Gateway Sort
    # @param unibee_api_merchant_gateway_edit_sort_req [UnibeeApiMerchantGatewayEditSortReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantGatewayEditSortPost200Response]
    def merchant_gateway_edit_sort_post(unibee_api_merchant_gateway_edit_sort_req, opts = {})
      data, _status_code, _headers = merchant_gateway_edit_sort_post_with_http_info(unibee_api_merchant_gateway_edit_sort_req, opts)
      data
    end

    # Edit Payment Gateway Sort
    # @param unibee_api_merchant_gateway_edit_sort_req [UnibeeApiMerchantGatewayEditSortReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantGatewayEditSortPost200Response, Integer, Hash)>] MerchantGatewayEditSortPost200Response data, response status code and response headers
    def merchant_gateway_edit_sort_post_with_http_info(unibee_api_merchant_gateway_edit_sort_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GatewayApi.merchant_gateway_edit_sort_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_gateway_edit_sort_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_gateway_edit_sort_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_gateway_edit_sort_req' when calling GatewayApi.merchant_gateway_edit_sort_post"
      end
      # resource path
      local_var_path = '/merchant/gateway/edit_sort'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_gateway_edit_sort_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGatewayEditSortPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GatewayApi.merchant_gateway_edit_sort_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GatewayApi#merchant_gateway_edit_sort_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Payment Gateway List
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :archive Filter archive gateway or not, default all
    # @return [MerchantGatewayListGet200Response]
    def merchant_gateway_list_get(opts = {})
      data, _status_code, _headers = merchant_gateway_list_get_with_http_info(opts)
      data
    end

    # Get Payment Gateway List
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :archive Filter archive gateway or not, default all
    # @return [Array<(MerchantGatewayListGet200Response, Integer, Hash)>] MerchantGatewayListGet200Response data, response status code and response headers
    def merchant_gateway_list_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GatewayApi.merchant_gateway_list_get ...'
      end
      # resource path
      local_var_path = '/merchant/gateway/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'archive'] = opts[:'archive'] if !opts[:'archive'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGatewayListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GatewayApi.merchant_gateway_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GatewayApi#merchant_gateway_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment Gateway Restore
    # Restore the exist payment gateway
    # @param unibee_api_merchant_gateway_restore_req [UnibeeApiMerchantGatewayRestoreReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantGatewayArchivePost200Response]
    def merchant_gateway_restore_post(unibee_api_merchant_gateway_restore_req, opts = {})
      data, _status_code, _headers = merchant_gateway_restore_post_with_http_info(unibee_api_merchant_gateway_restore_req, opts)
      data
    end

    # Payment Gateway Restore
    # Restore the exist payment gateway
    # @param unibee_api_merchant_gateway_restore_req [UnibeeApiMerchantGatewayRestoreReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantGatewayArchivePost200Response, Integer, Hash)>] MerchantGatewayArchivePost200Response data, response status code and response headers
    def merchant_gateway_restore_post_with_http_info(unibee_api_merchant_gateway_restore_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GatewayApi.merchant_gateway_restore_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_gateway_restore_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_gateway_restore_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_gateway_restore_req' when calling GatewayApi.merchant_gateway_restore_post"
      end
      # resource path
      local_var_path = '/merchant/gateway/restore'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_gateway_restore_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGatewayArchivePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GatewayApi.merchant_gateway_restore_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GatewayApi#merchant_gateway_restore_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment Gateway Set Default
    # Set default the exist payment gateway
    # @param unibee_api_merchant_gateway_set_default_req [UnibeeApiMerchantGatewaySetDefaultReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantGatewayArchivePost200Response]
    def merchant_gateway_set_default_post(unibee_api_merchant_gateway_set_default_req, opts = {})
      data, _status_code, _headers = merchant_gateway_set_default_post_with_http_info(unibee_api_merchant_gateway_set_default_req, opts)
      data
    end

    # Payment Gateway Set Default
    # Set default the exist payment gateway
    # @param unibee_api_merchant_gateway_set_default_req [UnibeeApiMerchantGatewaySetDefaultReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantGatewayArchivePost200Response, Integer, Hash)>] MerchantGatewayArchivePost200Response data, response status code and response headers
    def merchant_gateway_set_default_post_with_http_info(unibee_api_merchant_gateway_set_default_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GatewayApi.merchant_gateway_set_default_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_gateway_set_default_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_gateway_set_default_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_gateway_set_default_req' when calling GatewayApi.merchant_gateway_set_default_post"
      end
      # resource path
      local_var_path = '/merchant/gateway/set_default'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_gateway_set_default_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGatewayArchivePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GatewayApi.merchant_gateway_set_default_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GatewayApi#merchant_gateway_set_default_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Exchange Rate Api Setup
    # @param unibee_api_merchant_gateway_setup_exchange_api_req [UnibeeApiMerchantGatewaySetupExchangeApiReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantGatewaySetupExchangeRateApiPost200Response]
    def merchant_gateway_setup_exchange_rate_api_post(unibee_api_merchant_gateway_setup_exchange_api_req, opts = {})
      data, _status_code, _headers = merchant_gateway_setup_exchange_rate_api_post_with_http_info(unibee_api_merchant_gateway_setup_exchange_api_req, opts)
      data
    end

    # Exchange Rate Api Setup
    # @param unibee_api_merchant_gateway_setup_exchange_api_req [UnibeeApiMerchantGatewaySetupExchangeApiReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantGatewaySetupExchangeRateApiPost200Response, Integer, Hash)>] MerchantGatewaySetupExchangeRateApiPost200Response data, response status code and response headers
    def merchant_gateway_setup_exchange_rate_api_post_with_http_info(unibee_api_merchant_gateway_setup_exchange_api_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GatewayApi.merchant_gateway_setup_exchange_rate_api_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_gateway_setup_exchange_api_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_gateway_setup_exchange_api_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_gateway_setup_exchange_api_req' when calling GatewayApi.merchant_gateway_setup_exchange_rate_api_post"
      end
      # resource path
      local_var_path = '/merchant/gateway/setup_exchange_rate_api'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_gateway_setup_exchange_api_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGatewaySetupExchangeRateApiPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GatewayApi.merchant_gateway_setup_exchange_rate_api_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GatewayApi#merchant_gateway_setup_exchange_rate_api_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Payment Gateway Setup List
    # @param [Hash] opts the optional parameters
    # @return [MerchantGatewayEditSortPost200Response]
    def merchant_gateway_setup_list_get(opts = {})
      data, _status_code, _headers = merchant_gateway_setup_list_get_with_http_info(opts)
      data
    end

    # Get Payment Gateway Setup List
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantGatewayEditSortPost200Response, Integer, Hash)>] MerchantGatewayEditSortPost200Response data, response status code and response headers
    def merchant_gateway_setup_list_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GatewayApi.merchant_gateway_setup_list_get ...'
      end
      # resource path
      local_var_path = '/merchant/gateway/setup_list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGatewayEditSortPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GatewayApi.merchant_gateway_setup_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GatewayApi#merchant_gateway_setup_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment Gateway Setup
    # Setup Payment gateway
    # @param unibee_api_merchant_gateway_setup_req [UnibeeApiMerchantGatewaySetupReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantGatewayArchivePost200Response]
    def merchant_gateway_setup_post(unibee_api_merchant_gateway_setup_req, opts = {})
      data, _status_code, _headers = merchant_gateway_setup_post_with_http_info(unibee_api_merchant_gateway_setup_req, opts)
      data
    end

    # Payment Gateway Setup
    # Setup Payment gateway
    # @param unibee_api_merchant_gateway_setup_req [UnibeeApiMerchantGatewaySetupReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantGatewayArchivePost200Response, Integer, Hash)>] MerchantGatewayArchivePost200Response data, response status code and response headers
    def merchant_gateway_setup_post_with_http_info(unibee_api_merchant_gateway_setup_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GatewayApi.merchant_gateway_setup_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_gateway_setup_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_gateway_setup_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_gateway_setup_req' when calling GatewayApi.merchant_gateway_setup_post"
      end
      # resource path
      local_var_path = '/merchant/gateway/setup'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_gateway_setup_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGatewayArchivePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GatewayApi.merchant_gateway_setup_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GatewayApi#merchant_gateway_setup_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment Gateway Webhook Setup
    # @param unibee_api_merchant_gateway_setup_webhook_req [UnibeeApiMerchantGatewaySetupWebhookReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantGatewaySetupWebhookPost200Response]
    def merchant_gateway_setup_webhook_post(unibee_api_merchant_gateway_setup_webhook_req, opts = {})
      data, _status_code, _headers = merchant_gateway_setup_webhook_post_with_http_info(unibee_api_merchant_gateway_setup_webhook_req, opts)
      data
    end

    # Payment Gateway Webhook Setup
    # @param unibee_api_merchant_gateway_setup_webhook_req [UnibeeApiMerchantGatewaySetupWebhookReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantGatewaySetupWebhookPost200Response, Integer, Hash)>] MerchantGatewaySetupWebhookPost200Response data, response status code and response headers
    def merchant_gateway_setup_webhook_post_with_http_info(unibee_api_merchant_gateway_setup_webhook_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GatewayApi.merchant_gateway_setup_webhook_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_gateway_setup_webhook_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_gateway_setup_webhook_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_gateway_setup_webhook_req' when calling GatewayApi.merchant_gateway_setup_webhook_post"
      end
      # resource path
      local_var_path = '/merchant/gateway/setup_webhook'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_gateway_setup_webhook_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGatewaySetupWebhookPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GatewayApi.merchant_gateway_setup_webhook_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GatewayApi#merchant_gateway_setup_webhook_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Wire Transfer Edit
    # Edit the wire transfer
    # @param unibee_api_merchant_gateway_wire_transfer_edit_req [UnibeeApiMerchantGatewayWireTransferEditReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantGatewayArchivePost200Response]
    def merchant_gateway_wire_transfer_edit_post(unibee_api_merchant_gateway_wire_transfer_edit_req, opts = {})
      data, _status_code, _headers = merchant_gateway_wire_transfer_edit_post_with_http_info(unibee_api_merchant_gateway_wire_transfer_edit_req, opts)
      data
    end

    # Wire Transfer Edit
    # Edit the wire transfer
    # @param unibee_api_merchant_gateway_wire_transfer_edit_req [UnibeeApiMerchantGatewayWireTransferEditReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantGatewayArchivePost200Response, Integer, Hash)>] MerchantGatewayArchivePost200Response data, response status code and response headers
    def merchant_gateway_wire_transfer_edit_post_with_http_info(unibee_api_merchant_gateway_wire_transfer_edit_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GatewayApi.merchant_gateway_wire_transfer_edit_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_gateway_wire_transfer_edit_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_gateway_wire_transfer_edit_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_gateway_wire_transfer_edit_req' when calling GatewayApi.merchant_gateway_wire_transfer_edit_post"
      end
      # resource path
      local_var_path = '/merchant/gateway/wire_transfer_edit'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_gateway_wire_transfer_edit_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGatewayArchivePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GatewayApi.merchant_gateway_wire_transfer_edit_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GatewayApi#merchant_gateway_wire_transfer_edit_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Wire Transfer Setup
    # Setup the wire transfer
    # @param unibee_api_merchant_gateway_wire_transfer_setup_req [UnibeeApiMerchantGatewayWireTransferSetupReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantGatewayArchivePost200Response]
    def merchant_gateway_wire_transfer_setup_post(unibee_api_merchant_gateway_wire_transfer_setup_req, opts = {})
      data, _status_code, _headers = merchant_gateway_wire_transfer_setup_post_with_http_info(unibee_api_merchant_gateway_wire_transfer_setup_req, opts)
      data
    end

    # Wire Transfer Setup
    # Setup the wire transfer
    # @param unibee_api_merchant_gateway_wire_transfer_setup_req [UnibeeApiMerchantGatewayWireTransferSetupReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantGatewayArchivePost200Response, Integer, Hash)>] MerchantGatewayArchivePost200Response data, response status code and response headers
    def merchant_gateway_wire_transfer_setup_post_with_http_info(unibee_api_merchant_gateway_wire_transfer_setup_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GatewayApi.merchant_gateway_wire_transfer_setup_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_gateway_wire_transfer_setup_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_gateway_wire_transfer_setup_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_gateway_wire_transfer_setup_req' when calling GatewayApi.merchant_gateway_wire_transfer_setup_post"
      end
      # resource path
      local_var_path = '/merchant/gateway/wire_transfer_setup'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_gateway_wire_transfer_setup_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantGatewayArchivePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GatewayApi.merchant_gateway_wire_transfer_setup_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GatewayApi#merchant_gateway_wire_transfer_setup_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Segment Setup
    # @param unibee_api_merchant_track_setup_segment_req [UnibeeApiMerchantTrackSetupSegmentReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_track_setup_segment_post(unibee_api_merchant_track_setup_segment_req, opts = {})
      data, _status_code, _headers = merchant_track_setup_segment_post_with_http_info(unibee_api_merchant_track_setup_segment_req, opts)
      data
    end

    # Segment Setup
    # @param unibee_api_merchant_track_setup_segment_req [UnibeeApiMerchantTrackSetupSegmentReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_track_setup_segment_post_with_http_info(unibee_api_merchant_track_setup_segment_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GatewayApi.merchant_track_setup_segment_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_track_setup_segment_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_track_setup_segment_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_track_setup_segment_req' when calling GatewayApi.merchant_track_setup_segment_post"
      end
      # resource path
      local_var_path = '/merchant/track/setup_segment'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_track_setup_segment_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GatewayApi.merchant_track_setup_segment_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GatewayApi#merchant_track_setup_segment_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
