=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class CheckoutSetupApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Archive Merchant Checkout
    # @param unibee_api_merchant_checkout_archive_req [UnibeeApiMerchantCheckoutArchiveReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_checkout_archive_post(unibee_api_merchant_checkout_archive_req, opts = {})
      data, _status_code, _headers = merchant_checkout_archive_post_with_http_info(unibee_api_merchant_checkout_archive_req, opts)
      data
    end

    # Archive Merchant Checkout
    # @param unibee_api_merchant_checkout_archive_req [UnibeeApiMerchantCheckoutArchiveReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_checkout_archive_post_with_http_info(unibee_api_merchant_checkout_archive_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSetupApi.merchant_checkout_archive_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_checkout_archive_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_checkout_archive_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_checkout_archive_req' when calling CheckoutSetupApi.merchant_checkout_archive_post"
      end
      # resource path
      local_var_path = '/merchant/checkout/archive'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_checkout_archive_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CheckoutSetupApi.merchant_checkout_archive_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSetupApi#merchant_checkout_archive_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Merchant Checkout Detail
    # @param checkout_id [Integer] checkout id
    # @param [Hash] opts the optional parameters
    # @return [MerchantCheckoutDetailGet200Response]
    def merchant_checkout_detail_get(checkout_id, opts = {})
      data, _status_code, _headers = merchant_checkout_detail_get_with_http_info(checkout_id, opts)
      data
    end

    # Get Merchant Checkout Detail
    # @param checkout_id [Integer] checkout id
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantCheckoutDetailGet200Response, Integer, Hash)>] MerchantCheckoutDetailGet200Response data, response status code and response headers
    def merchant_checkout_detail_get_with_http_info(checkout_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSetupApi.merchant_checkout_detail_get ...'
      end
      # verify the required parameter 'checkout_id' is set
      if @api_client.config.client_side_validation && checkout_id.nil?
        fail ArgumentError, "Missing the required parameter 'checkout_id' when calling CheckoutSetupApi.merchant_checkout_detail_get"
      end
      # resource path
      local_var_path = '/merchant/checkout/detail'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'checkoutId'] = checkout_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantCheckoutDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CheckoutSetupApi.merchant_checkout_detail_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSetupApi#merchant_checkout_detail_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Merchant Checkout Detail
    # @param unibee_api_merchant_checkout_detail_req [UnibeeApiMerchantCheckoutDetailReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantCheckoutDetailGet200Response]
    def merchant_checkout_detail_post(unibee_api_merchant_checkout_detail_req, opts = {})
      data, _status_code, _headers = merchant_checkout_detail_post_with_http_info(unibee_api_merchant_checkout_detail_req, opts)
      data
    end

    # Get Merchant Checkout Detail
    # @param unibee_api_merchant_checkout_detail_req [UnibeeApiMerchantCheckoutDetailReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantCheckoutDetailGet200Response, Integer, Hash)>] MerchantCheckoutDetailGet200Response data, response status code and response headers
    def merchant_checkout_detail_post_with_http_info(unibee_api_merchant_checkout_detail_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSetupApi.merchant_checkout_detail_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_checkout_detail_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_checkout_detail_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_checkout_detail_req' when calling CheckoutSetupApi.merchant_checkout_detail_post"
      end
      # resource path
      local_var_path = '/merchant/checkout/detail'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_checkout_detail_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantCheckoutDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CheckoutSetupApi.merchant_checkout_detail_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSetupApi#merchant_checkout_detail_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit Merchant Checkout
    # @param unibee_api_merchant_checkout_edit_req [UnibeeApiMerchantCheckoutEditReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantCheckoutDetailGet200Response]
    def merchant_checkout_edit_checkout_post(unibee_api_merchant_checkout_edit_req, opts = {})
      data, _status_code, _headers = merchant_checkout_edit_checkout_post_with_http_info(unibee_api_merchant_checkout_edit_req, opts)
      data
    end

    # Edit Merchant Checkout
    # @param unibee_api_merchant_checkout_edit_req [UnibeeApiMerchantCheckoutEditReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantCheckoutDetailGet200Response, Integer, Hash)>] MerchantCheckoutDetailGet200Response data, response status code and response headers
    def merchant_checkout_edit_checkout_post_with_http_info(unibee_api_merchant_checkout_edit_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSetupApi.merchant_checkout_edit_checkout_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_checkout_edit_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_checkout_edit_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_checkout_edit_req' when calling CheckoutSetupApi.merchant_checkout_edit_checkout_post"
      end
      # resource path
      local_var_path = '/merchant/checkout/edit_checkout'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_checkout_edit_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantCheckoutDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CheckoutSetupApi.merchant_checkout_edit_checkout_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSetupApi#merchant_checkout_edit_checkout_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Merchant Checkout Link
    # @param checkout_id [Integer] checkout id
    # @param plan_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantCheckoutGetLinkGet200Response]
    def merchant_checkout_get_link_get(checkout_id, plan_id, opts = {})
      data, _status_code, _headers = merchant_checkout_get_link_get_with_http_info(checkout_id, plan_id, opts)
      data
    end

    # Get Merchant Checkout Link
    # @param checkout_id [Integer] checkout id
    # @param plan_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantCheckoutGetLinkGet200Response, Integer, Hash)>] MerchantCheckoutGetLinkGet200Response data, response status code and response headers
    def merchant_checkout_get_link_get_with_http_info(checkout_id, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSetupApi.merchant_checkout_get_link_get ...'
      end
      # verify the required parameter 'checkout_id' is set
      if @api_client.config.client_side_validation && checkout_id.nil?
        fail ArgumentError, "Missing the required parameter 'checkout_id' when calling CheckoutSetupApi.merchant_checkout_get_link_get"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling CheckoutSetupApi.merchant_checkout_get_link_get"
      end
      # resource path
      local_var_path = '/merchant/checkout/get_link'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'checkoutId'] = checkout_id
      query_params[:'planId'] = plan_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantCheckoutGetLinkGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CheckoutSetupApi.merchant_checkout_get_link_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSetupApi#merchant_checkout_get_link_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Merchant Checkout Link
    # @param unibee_api_merchant_checkout_get_link_req [UnibeeApiMerchantCheckoutGetLinkReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantCheckoutGetLinkGet200Response]
    def merchant_checkout_get_link_post(unibee_api_merchant_checkout_get_link_req, opts = {})
      data, _status_code, _headers = merchant_checkout_get_link_post_with_http_info(unibee_api_merchant_checkout_get_link_req, opts)
      data
    end

    # Get Merchant Checkout Link
    # @param unibee_api_merchant_checkout_get_link_req [UnibeeApiMerchantCheckoutGetLinkReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantCheckoutGetLinkGet200Response, Integer, Hash)>] MerchantCheckoutGetLinkGet200Response data, response status code and response headers
    def merchant_checkout_get_link_post_with_http_info(unibee_api_merchant_checkout_get_link_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSetupApi.merchant_checkout_get_link_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_checkout_get_link_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_checkout_get_link_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_checkout_get_link_req' when calling CheckoutSetupApi.merchant_checkout_get_link_post"
      end
      # resource path
      local_var_path = '/merchant/checkout/get_link'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_checkout_get_link_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantCheckoutGetLinkGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CheckoutSetupApi.merchant_checkout_get_link_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSetupApi#merchant_checkout_get_link_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Merchant Checkout list
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search_key Search checkout id|name|description
    # @return [MerchantCheckoutListGet200Response]
    def merchant_checkout_list_get(opts = {})
      data, _status_code, _headers = merchant_checkout_list_get_with_http_info(opts)
      data
    end

    # Get Merchant Checkout list
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search_key Search checkout id|name|description
    # @return [Array<(MerchantCheckoutListGet200Response, Integer, Hash)>] MerchantCheckoutListGet200Response data, response status code and response headers
    def merchant_checkout_list_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSetupApi.merchant_checkout_list_get ...'
      end
      # resource path
      local_var_path = '/merchant/checkout/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'SearchKey'] = opts[:'search_key'] if !opts[:'search_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantCheckoutListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CheckoutSetupApi.merchant_checkout_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSetupApi#merchant_checkout_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Merchant Checkout list
    # @param unibee_api_merchant_checkout_list_req [UnibeeApiMerchantCheckoutListReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantCheckoutListGet200Response]
    def merchant_checkout_list_post(unibee_api_merchant_checkout_list_req, opts = {})
      data, _status_code, _headers = merchant_checkout_list_post_with_http_info(unibee_api_merchant_checkout_list_req, opts)
      data
    end

    # Get Merchant Checkout list
    # @param unibee_api_merchant_checkout_list_req [UnibeeApiMerchantCheckoutListReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantCheckoutListGet200Response, Integer, Hash)>] MerchantCheckoutListGet200Response data, response status code and response headers
    def merchant_checkout_list_post_with_http_info(unibee_api_merchant_checkout_list_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSetupApi.merchant_checkout_list_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_checkout_list_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_checkout_list_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_checkout_list_req' when calling CheckoutSetupApi.merchant_checkout_list_post"
      end
      # resource path
      local_var_path = '/merchant/checkout/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_checkout_list_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantCheckoutListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CheckoutSetupApi.merchant_checkout_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSetupApi#merchant_checkout_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # New Merchant Checkout
    # @param unibee_api_merchant_checkout_new_req [UnibeeApiMerchantCheckoutNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantCheckoutDetailGet200Response]
    def merchant_checkout_new_checkout_post(unibee_api_merchant_checkout_new_req, opts = {})
      data, _status_code, _headers = merchant_checkout_new_checkout_post_with_http_info(unibee_api_merchant_checkout_new_req, opts)
      data
    end

    # New Merchant Checkout
    # @param unibee_api_merchant_checkout_new_req [UnibeeApiMerchantCheckoutNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantCheckoutDetailGet200Response, Integer, Hash)>] MerchantCheckoutDetailGet200Response data, response status code and response headers
    def merchant_checkout_new_checkout_post_with_http_info(unibee_api_merchant_checkout_new_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutSetupApi.merchant_checkout_new_checkout_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_checkout_new_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_checkout_new_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_checkout_new_req' when calling CheckoutSetupApi.merchant_checkout_new_checkout_post"
      end
      # resource path
      local_var_path = '/merchant/checkout/new_checkout'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_checkout_new_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantCheckoutDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CheckoutSetupApi.merchant_checkout_new_checkout_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutSetupApi#merchant_checkout_new_checkout_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
