=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class BatchDiscountApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Batch Child Code Detail
    # Get detail of a specific batch child code
    # @param id [Integer] The child code&#39;s Id
    # @param [Hash] opts the optional parameters
    # @return [MerchantDiscountBatchChildrenDetailGet200Response]
    def merchant_discount_batch_children_detail_get(id, opts = {})
      data, _status_code, _headers = merchant_discount_batch_children_detail_get_with_http_info(id, opts)
      data
    end

    # Get Batch Child Code Detail
    # Get detail of a specific batch child code
    # @param id [Integer] The child code&#39;s Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantDiscountBatchChildrenDetailGet200Response, Integer, Hash)>] MerchantDiscountBatchChildrenDetailGet200Response data, response status code and response headers
    def merchant_discount_batch_children_detail_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchDiscountApi.merchant_discount_batch_children_detail_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BatchDiscountApi.merchant_discount_batch_children_detail_get"
      end
      # resource path
      local_var_path = '/merchant/discount/batch/children/detail'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantDiscountBatchChildrenDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BatchDiscountApi.merchant_discount_batch_children_detail_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchDiscountApi#merchant_discount_batch_children_detail_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Batch Child Code Detail
    # Get detail of a specific batch child code
    # @param unibee_api_merchant_discount_batch_children_detail_req [UnibeeApiMerchantDiscountBatchChildrenDetailReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantDiscountBatchChildrenDetailGet200Response]
    def merchant_discount_batch_children_detail_post(unibee_api_merchant_discount_batch_children_detail_req, opts = {})
      data, _status_code, _headers = merchant_discount_batch_children_detail_post_with_http_info(unibee_api_merchant_discount_batch_children_detail_req, opts)
      data
    end

    # Get Batch Child Code Detail
    # Get detail of a specific batch child code
    # @param unibee_api_merchant_discount_batch_children_detail_req [UnibeeApiMerchantDiscountBatchChildrenDetailReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantDiscountBatchChildrenDetailGet200Response, Integer, Hash)>] MerchantDiscountBatchChildrenDetailGet200Response data, response status code and response headers
    def merchant_discount_batch_children_detail_post_with_http_info(unibee_api_merchant_discount_batch_children_detail_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchDiscountApi.merchant_discount_batch_children_detail_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_discount_batch_children_detail_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_discount_batch_children_detail_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_discount_batch_children_detail_req' when calling BatchDiscountApi.merchant_discount_batch_children_detail_post"
      end
      # resource path
      local_var_path = '/merchant/discount/batch/children/detail'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_discount_batch_children_detail_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantDiscountBatchChildrenDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BatchDiscountApi.merchant_discount_batch_children_detail_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchDiscountApi#merchant_discount_batch_children_detail_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate Batch Child Codes
    # Generate child codes for a batch template. Template must be in active status. Supports initial generation, retry on failure, and incremental expansion. Either templateId or templateCode must be provided. If quantity > 1000, isAsync must be set to true. Default is synchronous execution.
    # @param unibee_api_merchant_discount_batch_children_generate_req [UnibeeApiMerchantDiscountBatchChildrenGenerateReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantDiscountBatchChildrenGeneratePost200Response]
    def merchant_discount_batch_children_generate_post(unibee_api_merchant_discount_batch_children_generate_req, opts = {})
      data, _status_code, _headers = merchant_discount_batch_children_generate_post_with_http_info(unibee_api_merchant_discount_batch_children_generate_req, opts)
      data
    end

    # Generate Batch Child Codes
    # Generate child codes for a batch template. Template must be in active status. Supports initial generation, retry on failure, and incremental expansion. Either templateId or templateCode must be provided. If quantity &gt; 1000, isAsync must be set to true. Default is synchronous execution.
    # @param unibee_api_merchant_discount_batch_children_generate_req [UnibeeApiMerchantDiscountBatchChildrenGenerateReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantDiscountBatchChildrenGeneratePost200Response, Integer, Hash)>] MerchantDiscountBatchChildrenGeneratePost200Response data, response status code and response headers
    def merchant_discount_batch_children_generate_post_with_http_info(unibee_api_merchant_discount_batch_children_generate_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchDiscountApi.merchant_discount_batch_children_generate_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_discount_batch_children_generate_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_discount_batch_children_generate_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_discount_batch_children_generate_req' when calling BatchDiscountApi.merchant_discount_batch_children_generate_post"
      end
      # resource path
      local_var_path = '/merchant/discount/batch/children/generate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_discount_batch_children_generate_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantDiscountBatchChildrenGeneratePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BatchDiscountApi.merchant_discount_batch_children_generate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchDiscountApi#merchant_discount_batch_children_generate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Batch Child Codes List
    # Get list of child codes for a specific batch template
    # @param template_id [Integer] The template&#39;s Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code Filter by child code, fuzzy search
    # @option opts [String] :sort_field Sort field, gmt_create|gmt_modify, default gmt_create
    # @option opts [String] :sort_type Sort type, asc|desc, default desc
    # @option opts [Integer] :page Page number, start from 0
    # @option opts [Integer] :count Count per page
    # @option opts [Integer] :create_time_start Filter by create time start, UTC timestamp in seconds
    # @option opts [Integer] :create_time_end Filter by create time end, UTC timestamp in seconds
    # @return [MerchantDiscountBatchChildrenListGet200Response]
    def merchant_discount_batch_children_list_get(template_id, opts = {})
      data, _status_code, _headers = merchant_discount_batch_children_list_get_with_http_info(template_id, opts)
      data
    end

    # Get Batch Child Codes List
    # Get list of child codes for a specific batch template
    # @param template_id [Integer] The template&#39;s Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code Filter by child code, fuzzy search
    # @option opts [String] :sort_field Sort field, gmt_create|gmt_modify, default gmt_create
    # @option opts [String] :sort_type Sort type, asc|desc, default desc
    # @option opts [Integer] :page Page number, start from 0
    # @option opts [Integer] :count Count per page
    # @option opts [Integer] :create_time_start Filter by create time start, UTC timestamp in seconds
    # @option opts [Integer] :create_time_end Filter by create time end, UTC timestamp in seconds
    # @return [Array<(MerchantDiscountBatchChildrenListGet200Response, Integer, Hash)>] MerchantDiscountBatchChildrenListGet200Response data, response status code and response headers
    def merchant_discount_batch_children_list_get_with_http_info(template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchDiscountApi.merchant_discount_batch_children_list_get ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling BatchDiscountApi.merchant_discount_batch_children_list_get"
      end
      # resource path
      local_var_path = '/merchant/discount/batch/children/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'templateId'] = template_id
      query_params[:'code'] = opts[:'code'] if !opts[:'code'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'sortType'] = opts[:'sort_type'] if !opts[:'sort_type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'createTimeStart'] = opts[:'create_time_start'] if !opts[:'create_time_start'].nil?
      query_params[:'createTimeEnd'] = opts[:'create_time_end'] if !opts[:'create_time_end'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantDiscountBatchChildrenListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BatchDiscountApi.merchant_discount_batch_children_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchDiscountApi#merchant_discount_batch_children_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Batch Template Detail
    # Get batch discount template detail
    # @param id [Integer] The template&#39;s Id
    # @param [Hash] opts the optional parameters
    # @return [MerchantDiscountBatchTemplateDetailGet200Response]
    def merchant_discount_batch_template_detail_get(id, opts = {})
      data, _status_code, _headers = merchant_discount_batch_template_detail_get_with_http_info(id, opts)
      data
    end

    # Get Batch Template Detail
    # Get batch discount template detail
    # @param id [Integer] The template&#39;s Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantDiscountBatchTemplateDetailGet200Response, Integer, Hash)>] MerchantDiscountBatchTemplateDetailGet200Response data, response status code and response headers
    def merchant_discount_batch_template_detail_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchDiscountApi.merchant_discount_batch_template_detail_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BatchDiscountApi.merchant_discount_batch_template_detail_get"
      end
      # resource path
      local_var_path = '/merchant/discount/batch/template/detail'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantDiscountBatchTemplateDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BatchDiscountApi.merchant_discount_batch_template_detail_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchDiscountApi#merchant_discount_batch_template_detail_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Batch Template Detail
    # Get batch discount template detail
    # @param unibee_api_merchant_discount_batch_template_detail_req [UnibeeApiMerchantDiscountBatchTemplateDetailReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantDiscountBatchTemplateDetailGet200Response]
    def merchant_discount_batch_template_detail_post(unibee_api_merchant_discount_batch_template_detail_req, opts = {})
      data, _status_code, _headers = merchant_discount_batch_template_detail_post_with_http_info(unibee_api_merchant_discount_batch_template_detail_req, opts)
      data
    end

    # Get Batch Template Detail
    # Get batch discount template detail
    # @param unibee_api_merchant_discount_batch_template_detail_req [UnibeeApiMerchantDiscountBatchTemplateDetailReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantDiscountBatchTemplateDetailGet200Response, Integer, Hash)>] MerchantDiscountBatchTemplateDetailGet200Response data, response status code and response headers
    def merchant_discount_batch_template_detail_post_with_http_info(unibee_api_merchant_discount_batch_template_detail_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchDiscountApi.merchant_discount_batch_template_detail_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_discount_batch_template_detail_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_discount_batch_template_detail_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_discount_batch_template_detail_req' when calling BatchDiscountApi.merchant_discount_batch_template_detail_post"
      end
      # resource path
      local_var_path = '/merchant/discount/batch/template/detail'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_discount_batch_template_detail_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantDiscountBatchTemplateDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BatchDiscountApi.merchant_discount_batch_template_detail_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchDiscountApi#merchant_discount_batch_template_detail_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit Batch Discount Template
    # Edit batch discount template. CodePrefix cannot be modified. Quantity can only be increased after activation.
    # @param unibee_api_merchant_discount_batch_template_edit_req [UnibeeApiMerchantDiscountBatchTemplateEditReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantDiscountBatchTemplateDetailGet200Response]
    def merchant_discount_batch_template_edit_post(unibee_api_merchant_discount_batch_template_edit_req, opts = {})
      data, _status_code, _headers = merchant_discount_batch_template_edit_post_with_http_info(unibee_api_merchant_discount_batch_template_edit_req, opts)
      data
    end

    # Edit Batch Discount Template
    # Edit batch discount template. CodePrefix cannot be modified. Quantity can only be increased after activation.
    # @param unibee_api_merchant_discount_batch_template_edit_req [UnibeeApiMerchantDiscountBatchTemplateEditReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantDiscountBatchTemplateDetailGet200Response, Integer, Hash)>] MerchantDiscountBatchTemplateDetailGet200Response data, response status code and response headers
    def merchant_discount_batch_template_edit_post_with_http_info(unibee_api_merchant_discount_batch_template_edit_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchDiscountApi.merchant_discount_batch_template_edit_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_discount_batch_template_edit_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_discount_batch_template_edit_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_discount_batch_template_edit_req' when calling BatchDiscountApi.merchant_discount_batch_template_edit_post"
      end
      # resource path
      local_var_path = '/merchant/discount/batch/template/edit'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_discount_batch_template_edit_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantDiscountBatchTemplateDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BatchDiscountApi.merchant_discount_batch_template_edit_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchDiscountApi#merchant_discount_batch_template_edit_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Batch Template List
    # Get batch discount template list
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :discount_type Filter by discount_type, 1-percentage, 2-fixed_amount
    # @option opts [Array<Integer>] :billing_type Filter by billing_type, 1-one-time, 2-recurring
    # @option opts [Array<Integer>] :status Filter by status, 1-editable, 2-active, 3-deactive, 4-expire, 10-archive
    # @option opts [String] :code_prefix Filter by code prefix
    # @option opts [String] :search_key Search by code prefix or name
    # @option opts [String] :currency Filter by currency
    # @option opts [String] :sort_field Sort field, gmt_create|gmt_modify, default gmt_modify
    # @option opts [String] :sort_type Sort type, asc|desc, default desc
    # @option opts [Integer] :page Page number, start from 0
    # @option opts [Integer] :count Count per page
    # @option opts [Integer] :create_time_start Filter by create time start, UTC timestamp in seconds
    # @option opts [Integer] :create_time_end Filter by create time end, UTC timestamp in seconds
    # @return [MerchantDiscountBatchTemplateListGet200Response]
    def merchant_discount_batch_template_list_get(opts = {})
      data, _status_code, _headers = merchant_discount_batch_template_list_get_with_http_info(opts)
      data
    end

    # Get Batch Template List
    # Get batch discount template list
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :discount_type Filter by discount_type, 1-percentage, 2-fixed_amount
    # @option opts [Array<Integer>] :billing_type Filter by billing_type, 1-one-time, 2-recurring
    # @option opts [Array<Integer>] :status Filter by status, 1-editable, 2-active, 3-deactive, 4-expire, 10-archive
    # @option opts [String] :code_prefix Filter by code prefix
    # @option opts [String] :search_key Search by code prefix or name
    # @option opts [String] :currency Filter by currency
    # @option opts [String] :sort_field Sort field, gmt_create|gmt_modify, default gmt_modify
    # @option opts [String] :sort_type Sort type, asc|desc, default desc
    # @option opts [Integer] :page Page number, start from 0
    # @option opts [Integer] :count Count per page
    # @option opts [Integer] :create_time_start Filter by create time start, UTC timestamp in seconds
    # @option opts [Integer] :create_time_end Filter by create time end, UTC timestamp in seconds
    # @return [Array<(MerchantDiscountBatchTemplateListGet200Response, Integer, Hash)>] MerchantDiscountBatchTemplateListGet200Response data, response status code and response headers
    def merchant_discount_batch_template_list_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchDiscountApi.merchant_discount_batch_template_list_get ...'
      end
      # resource path
      local_var_path = '/merchant/discount/batch/template/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'discountType'] = @api_client.build_collection_param(opts[:'discount_type'], :multi) if !opts[:'discount_type'].nil?
      query_params[:'billingType'] = @api_client.build_collection_param(opts[:'billing_type'], :multi) if !opts[:'billing_type'].nil?
      query_params[:'status'] = @api_client.build_collection_param(opts[:'status'], :multi) if !opts[:'status'].nil?
      query_params[:'codePrefix'] = opts[:'code_prefix'] if !opts[:'code_prefix'].nil?
      query_params[:'searchKey'] = opts[:'search_key'] if !opts[:'search_key'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'sortType'] = opts[:'sort_type'] if !opts[:'sort_type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'createTimeStart'] = opts[:'create_time_start'] if !opts[:'create_time_start'].nil?
      query_params[:'createTimeEnd'] = opts[:'create_time_end'] if !opts[:'create_time_end'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantDiscountBatchTemplateListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BatchDiscountApi.merchant_discount_batch_template_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchDiscountApi#merchant_discount_batch_template_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Batch Discount Template
    # Create a batch discount code template. Template must be activated before generating child codes.
    # @param unibee_api_merchant_discount_batch_template_new_req [UnibeeApiMerchantDiscountBatchTemplateNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantDiscountBatchTemplateDetailGet200Response]
    def merchant_discount_batch_template_new_post(unibee_api_merchant_discount_batch_template_new_req, opts = {})
      data, _status_code, _headers = merchant_discount_batch_template_new_post_with_http_info(unibee_api_merchant_discount_batch_template_new_req, opts)
      data
    end

    # Create Batch Discount Template
    # Create a batch discount code template. Template must be activated before generating child codes.
    # @param unibee_api_merchant_discount_batch_template_new_req [UnibeeApiMerchantDiscountBatchTemplateNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantDiscountBatchTemplateDetailGet200Response, Integer, Hash)>] MerchantDiscountBatchTemplateDetailGet200Response data, response status code and response headers
    def merchant_discount_batch_template_new_post_with_http_info(unibee_api_merchant_discount_batch_template_new_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchDiscountApi.merchant_discount_batch_template_new_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_discount_batch_template_new_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_discount_batch_template_new_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_discount_batch_template_new_req' when calling BatchDiscountApi.merchant_discount_batch_template_new_post"
      end
      # resource path
      local_var_path = '/merchant/discount/batch/template/new'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_discount_batch_template_new_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantDiscountBatchTemplateDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BatchDiscountApi.merchant_discount_batch_template_new_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchDiscountApi#merchant_discount_batch_template_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Increment Template Quantity
    # Increment batch template quantity. Template must be activated. Total quantity after increment must not exceed 10000.
    # @param unibee_api_merchant_discount_batch_template_quantity_increment_req [UnibeeApiMerchantDiscountBatchTemplateQuantityIncrementReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantDiscountBatchTemplateDetailGet200Response]
    def merchant_discount_batch_template_quantity_increment_post(unibee_api_merchant_discount_batch_template_quantity_increment_req, opts = {})
      data, _status_code, _headers = merchant_discount_batch_template_quantity_increment_post_with_http_info(unibee_api_merchant_discount_batch_template_quantity_increment_req, opts)
      data
    end

    # Increment Template Quantity
    # Increment batch template quantity. Template must be activated. Total quantity after increment must not exceed 10000.
    # @param unibee_api_merchant_discount_batch_template_quantity_increment_req [UnibeeApiMerchantDiscountBatchTemplateQuantityIncrementReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantDiscountBatchTemplateDetailGet200Response, Integer, Hash)>] MerchantDiscountBatchTemplateDetailGet200Response data, response status code and response headers
    def merchant_discount_batch_template_quantity_increment_post_with_http_info(unibee_api_merchant_discount_batch_template_quantity_increment_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchDiscountApi.merchant_discount_batch_template_quantity_increment_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_discount_batch_template_quantity_increment_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_discount_batch_template_quantity_increment_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_discount_batch_template_quantity_increment_req' when calling BatchDiscountApi.merchant_discount_batch_template_quantity_increment_post"
      end
      # resource path
      local_var_path = '/merchant/discount/batch/template/quantity_increment'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_discount_batch_template_quantity_increment_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantDiscountBatchTemplateDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BatchDiscountApi.merchant_discount_batch_template_quantity_increment_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchDiscountApi#merchant_discount_batch_template_quantity_increment_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
