=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class PaymentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel Payment
    # @param unibee_api_merchant_payment_cancel_req [UnibeeApiMerchantPaymentCancelReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_payment_cancel_post(unibee_api_merchant_payment_cancel_req, opts = {})
      data, _status_code, _headers = merchant_payment_cancel_post_with_http_info(unibee_api_merchant_payment_cancel_req, opts)
      data
    end

    # Cancel Payment
    # @param unibee_api_merchant_payment_cancel_req [UnibeeApiMerchantPaymentCancelReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_payment_cancel_post_with_http_info(unibee_api_merchant_payment_cancel_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentApi.merchant_payment_cancel_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_payment_cancel_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_payment_cancel_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_payment_cancel_req' when calling PaymentApi.merchant_payment_cancel_post"
      end
      # resource path
      local_var_path = '/merchant/payment/cancel'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_payment_cancel_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentApi.merchant_payment_cancel_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentApi#merchant_payment_cancel_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Capture Payment
    # @param unibee_api_merchant_payment_capture_req [UnibeeApiMerchantPaymentCaptureReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_payment_capture_post(unibee_api_merchant_payment_capture_req, opts = {})
      data, _status_code, _headers = merchant_payment_capture_post_with_http_info(unibee_api_merchant_payment_capture_req, opts)
      data
    end

    # Capture Payment
    # @param unibee_api_merchant_payment_capture_req [UnibeeApiMerchantPaymentCaptureReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_payment_capture_post_with_http_info(unibee_api_merchant_payment_capture_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentApi.merchant_payment_capture_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_payment_capture_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_payment_capture_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_payment_capture_req' when calling PaymentApi.merchant_payment_capture_post"
      end
      # resource path
      local_var_path = '/merchant/payment/capture'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_payment_capture_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentApi.merchant_payment_capture_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentApi#merchant_payment_capture_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment Detail
    # @param payment_id [String] The unique id of payment
    # @param [Hash] opts the optional parameters
    # @return [MerchantPaymentDetailGet200Response]
    def merchant_payment_detail_get(payment_id, opts = {})
      data, _status_code, _headers = merchant_payment_detail_get_with_http_info(payment_id, opts)
      data
    end

    # Payment Detail
    # @param payment_id [String] The unique id of payment
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantPaymentDetailGet200Response, Integer, Hash)>] MerchantPaymentDetailGet200Response data, response status code and response headers
    def merchant_payment_detail_get_with_http_info(payment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentApi.merchant_payment_detail_get ...'
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling PaymentApi.merchant_payment_detail_get"
      end
      # resource path
      local_var_path = '/merchant/payment/detail'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'paymentId'] = payment_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPaymentDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentApi.merchant_payment_detail_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentApi#merchant_payment_detail_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get OneTime Payment Item List
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :user_id Filter UserId, Default All
    # @option opts [String] :sort_field Sort，invoice_id|gmt_create|gmt_modify|period_end|total_amount，Default gmt_modify
    # @option opts [String] :sort_type Sort Type，asc|desc，Default desc
    # @option opts [Integer] :page Page,Start 0
    # @option opts [Integer] :count Count Of Page
    # @return [MerchantPaymentItemListGet200Response]
    def merchant_payment_item_list_get(opts = {})
      data, _status_code, _headers = merchant_payment_item_list_get_with_http_info(opts)
      data
    end

    # Get OneTime Payment Item List
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :user_id Filter UserId, Default All
    # @option opts [String] :sort_field Sort，invoice_id|gmt_create|gmt_modify|period_end|total_amount，Default gmt_modify
    # @option opts [String] :sort_type Sort Type，asc|desc，Default desc
    # @option opts [Integer] :page Page,Start 0
    # @option opts [Integer] :count Count Of Page
    # @return [Array<(MerchantPaymentItemListGet200Response, Integer, Hash)>] MerchantPaymentItemListGet200Response data, response status code and response headers
    def merchant_payment_item_list_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentApi.merchant_payment_item_list_get ...'
      end
      # resource path
      local_var_path = '/merchant/payment/item/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'sortType'] = opts[:'sort_type'] if !opts[:'sort_type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPaymentItemListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentApi.merchant_payment_item_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentApi#merchant_payment_item_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Payment List
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :gateway_id The filter unique id of gateway
    # @option opts [Integer] :user_id The filter userid of payment
    # @option opts [String] :email The filter email of payment
    # @option opts [Integer] :status The filter status of payment, 10-Created|20-Success|30-Failed|40-Cancelled
    # @option opts [String] :currency The filter currency of payment
    # @option opts [String] :country_code The filter country code of payment
    # @option opts [String] :sort_field Sort Field，user_id|create_time|status
    # @option opts [String] :sort_type Sort Type，asc|desc
    # @option opts [Integer] :page Page, Start With 0
    # @option opts [Integer] :count Count Of Page
    # @return [MerchantPaymentListGet200Response]
    def merchant_payment_list_get(opts = {})
      data, _status_code, _headers = merchant_payment_list_get_with_http_info(opts)
      data
    end

    # Get Payment List
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :gateway_id The filter unique id of gateway
    # @option opts [Integer] :user_id The filter userid of payment
    # @option opts [String] :email The filter email of payment
    # @option opts [Integer] :status The filter status of payment, 10-Created|20-Success|30-Failed|40-Cancelled
    # @option opts [String] :currency The filter currency of payment
    # @option opts [String] :country_code The filter country code of payment
    # @option opts [String] :sort_field Sort Field，user_id|create_time|status
    # @option opts [String] :sort_type Sort Type，asc|desc
    # @option opts [Integer] :page Page, Start With 0
    # @option opts [Integer] :count Count Of Page
    # @return [Array<(MerchantPaymentListGet200Response, Integer, Hash)>] MerchantPaymentListGet200Response data, response status code and response headers
    def merchant_payment_list_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentApi.merchant_payment_list_get ...'
      end
      # resource path
      local_var_path = '/merchant/payment/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'gatewayId'] = opts[:'gateway_id'] if !opts[:'gateway_id'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'countryCode'] = opts[:'country_code'] if !opts[:'country_code'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'sortType'] = opts[:'sort_type'] if !opts[:'sort_type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPaymentListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentApi.merchant_payment_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentApi#merchant_payment_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Payment Method
    # @param unibee_api_merchant_payment_method_delete_req [UnibeeApiMerchantPaymentMethodDeleteReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_payment_method_delete_post(unibee_api_merchant_payment_method_delete_req, opts = {})
      data, _status_code, _headers = merchant_payment_method_delete_post_with_http_info(unibee_api_merchant_payment_method_delete_req, opts)
      data
    end

    # Delete Payment Method
    # @param unibee_api_merchant_payment_method_delete_req [UnibeeApiMerchantPaymentMethodDeleteReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_payment_method_delete_post_with_http_info(unibee_api_merchant_payment_method_delete_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentApi.merchant_payment_method_delete_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_payment_method_delete_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_payment_method_delete_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_payment_method_delete_req' when calling PaymentApi.merchant_payment_method_delete_post"
      end
      # resource path
      local_var_path = '/merchant/payment/method_delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_payment_method_delete_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentApi.merchant_payment_method_delete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentApi#merchant_payment_method_delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment Method
    # The method of payment gateway
    # @param gateway_id [Integer] The unique id of gateway
    # @param user_id [Integer] The customer&#39;s unique id
    # @param payment_method_id [String] The unique id of payment method
    # @param [Hash] opts the optional parameters
    # @return [MerchantPaymentMethodGetGet200Response]
    def merchant_payment_method_get_get(gateway_id, user_id, payment_method_id, opts = {})
      data, _status_code, _headers = merchant_payment_method_get_get_with_http_info(gateway_id, user_id, payment_method_id, opts)
      data
    end

    # Payment Method
    # The method of payment gateway
    # @param gateway_id [Integer] The unique id of gateway
    # @param user_id [Integer] The customer&#39;s unique id
    # @param payment_method_id [String] The unique id of payment method
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantPaymentMethodGetGet200Response, Integer, Hash)>] MerchantPaymentMethodGetGet200Response data, response status code and response headers
    def merchant_payment_method_get_get_with_http_info(gateway_id, user_id, payment_method_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentApi.merchant_payment_method_get_get ...'
      end
      # verify the required parameter 'gateway_id' is set
      if @api_client.config.client_side_validation && gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'gateway_id' when calling PaymentApi.merchant_payment_method_get_get"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling PaymentApi.merchant_payment_method_get_get"
      end
      # verify the required parameter 'payment_method_id' is set
      if @api_client.config.client_side_validation && payment_method_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method_id' when calling PaymentApi.merchant_payment_method_get_get"
      end
      # resource path
      local_var_path = '/merchant/payment/method_get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'gatewayId'] = gateway_id
      query_params[:'userId'] = user_id
      query_params[:'paymentMethodId'] = payment_method_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPaymentMethodGetGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentApi.merchant_payment_method_get_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentApi#merchant_payment_method_get_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment Method List
    # The method list of payment gateway
    # @param gateway_id [Integer] The unique id of gateway
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :user_id The id of user
    # @option opts [String] :payment_id The unique id of payment
    # @return [MerchantPaymentMethodListGet200Response]
    def merchant_payment_method_list_get(gateway_id, opts = {})
      data, _status_code, _headers = merchant_payment_method_list_get_with_http_info(gateway_id, opts)
      data
    end

    # Payment Method List
    # The method list of payment gateway
    # @param gateway_id [Integer] The unique id of gateway
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :user_id The id of user
    # @option opts [String] :payment_id The unique id of payment
    # @return [Array<(MerchantPaymentMethodListGet200Response, Integer, Hash)>] MerchantPaymentMethodListGet200Response data, response status code and response headers
    def merchant_payment_method_list_get_with_http_info(gateway_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentApi.merchant_payment_method_list_get ...'
      end
      # verify the required parameter 'gateway_id' is set
      if @api_client.config.client_side_validation && gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'gateway_id' when calling PaymentApi.merchant_payment_method_list_get"
      end
      # resource path
      local_var_path = '/merchant/payment/method_list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'gatewayId'] = gateway_id
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'paymentId'] = opts[:'payment_id'] if !opts[:'payment_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPaymentMethodListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentApi.merchant_payment_method_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentApi#merchant_payment_method_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create New Payment Method
    # @param unibee_api_merchant_payment_method_new_req [UnibeeApiMerchantPaymentMethodNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantPaymentMethodNewPost200Response]
    def merchant_payment_method_new_post(unibee_api_merchant_payment_method_new_req, opts = {})
      data, _status_code, _headers = merchant_payment_method_new_post_with_http_info(unibee_api_merchant_payment_method_new_req, opts)
      data
    end

    # Create New Payment Method
    # @param unibee_api_merchant_payment_method_new_req [UnibeeApiMerchantPaymentMethodNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantPaymentMethodNewPost200Response, Integer, Hash)>] MerchantPaymentMethodNewPost200Response data, response status code and response headers
    def merchant_payment_method_new_post_with_http_info(unibee_api_merchant_payment_method_new_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentApi.merchant_payment_method_new_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_payment_method_new_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_payment_method_new_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_payment_method_new_req' when calling PaymentApi.merchant_payment_method_new_post"
      end
      # resource path
      local_var_path = '/merchant/payment/method_new'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_payment_method_new_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPaymentMethodNewPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentApi.merchant_payment_method_new_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentApi#merchant_payment_method_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # New Payment
    # @param unibee_api_merchant_payment_new_req [UnibeeApiMerchantPaymentNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantPaymentNewPost200Response]
    def merchant_payment_new_post(unibee_api_merchant_payment_new_req, opts = {})
      data, _status_code, _headers = merchant_payment_new_post_with_http_info(unibee_api_merchant_payment_new_req, opts)
      data
    end

    # New Payment
    # @param unibee_api_merchant_payment_new_req [UnibeeApiMerchantPaymentNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantPaymentNewPost200Response, Integer, Hash)>] MerchantPaymentNewPost200Response data, response status code and response headers
    def merchant_payment_new_post_with_http_info(unibee_api_merchant_payment_new_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentApi.merchant_payment_new_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_payment_new_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_payment_new_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_payment_new_req' when calling PaymentApi.merchant_payment_new_post"
      end
      # resource path
      local_var_path = '/merchant/payment/new'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_payment_new_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPaymentNewPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentApi.merchant_payment_new_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentApi#merchant_payment_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel Payment Refund
    # @param unibee_api_merchant_payment_refund_cancel_req [UnibeeApiMerchantPaymentRefundCancelReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_payment_refund_cancel_post(unibee_api_merchant_payment_refund_cancel_req, opts = {})
      data, _status_code, _headers = merchant_payment_refund_cancel_post_with_http_info(unibee_api_merchant_payment_refund_cancel_req, opts)
      data
    end

    # Cancel Payment Refund
    # @param unibee_api_merchant_payment_refund_cancel_req [UnibeeApiMerchantPaymentRefundCancelReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_payment_refund_cancel_post_with_http_info(unibee_api_merchant_payment_refund_cancel_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentApi.merchant_payment_refund_cancel_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_payment_refund_cancel_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_payment_refund_cancel_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_payment_refund_cancel_req' when calling PaymentApi.merchant_payment_refund_cancel_post"
      end
      # resource path
      local_var_path = '/merchant/payment/refund/cancel'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_payment_refund_cancel_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentApi.merchant_payment_refund_cancel_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentApi#merchant_payment_refund_cancel_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment Refund Detail
    # @param [Hash] opts the optional parameters
    # @option opts [String] :refund_id RefundId
    # @return [MerchantPaymentRefundDetailGet200Response]
    def merchant_payment_refund_detail_get(opts = {})
      data, _status_code, _headers = merchant_payment_refund_detail_get_with_http_info(opts)
      data
    end

    # Payment Refund Detail
    # @param [Hash] opts the optional parameters
    # @option opts [String] :refund_id RefundId
    # @return [Array<(MerchantPaymentRefundDetailGet200Response, Integer, Hash)>] MerchantPaymentRefundDetailGet200Response data, response status code and response headers
    def merchant_payment_refund_detail_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentApi.merchant_payment_refund_detail_get ...'
      end
      # resource path
      local_var_path = '/merchant/payment/refund/detail'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'refundId'] = opts[:'refund_id'] if !opts[:'refund_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPaymentRefundDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentApi.merchant_payment_refund_detail_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentApi#merchant_payment_refund_detail_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Payment Refund List
    # @param payment_id [String] PaymentId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :status Status,10-create|20-success|30-Failed|40-Reverse
    # @option opts [Integer] :gateway_id GatewayId
    # @option opts [Integer] :user_id UserId
    # @option opts [String] :email Email
    # @option opts [String] :currency Currency
    # @return [MerchantPaymentRefundListGet200Response]
    def merchant_payment_refund_list_get(payment_id, opts = {})
      data, _status_code, _headers = merchant_payment_refund_list_get_with_http_info(payment_id, opts)
      data
    end

    # Get Payment Refund List
    # @param payment_id [String] PaymentId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :status Status,10-create|20-success|30-Failed|40-Reverse
    # @option opts [Integer] :gateway_id GatewayId
    # @option opts [Integer] :user_id UserId
    # @option opts [String] :email Email
    # @option opts [String] :currency Currency
    # @return [Array<(MerchantPaymentRefundListGet200Response, Integer, Hash)>] MerchantPaymentRefundListGet200Response data, response status code and response headers
    def merchant_payment_refund_list_get_with_http_info(payment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentApi.merchant_payment_refund_list_get ...'
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling PaymentApi.merchant_payment_refund_list_get"
      end
      # resource path
      local_var_path = '/merchant/payment/refund/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'paymentId'] = payment_id
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'gatewayId'] = opts[:'gateway_id'] if !opts[:'gateway_id'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPaymentRefundListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentApi.merchant_payment_refund_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentApi#merchant_payment_refund_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # New Payment Refund
    # @param unibee_api_merchant_payment_new_payment_refund_req [UnibeeApiMerchantPaymentNewPaymentRefundReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantPaymentRefundNewPost200Response]
    def merchant_payment_refund_new_post(unibee_api_merchant_payment_new_payment_refund_req, opts = {})
      data, _status_code, _headers = merchant_payment_refund_new_post_with_http_info(unibee_api_merchant_payment_new_payment_refund_req, opts)
      data
    end

    # New Payment Refund
    # @param unibee_api_merchant_payment_new_payment_refund_req [UnibeeApiMerchantPaymentNewPaymentRefundReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantPaymentRefundNewPost200Response, Integer, Hash)>] MerchantPaymentRefundNewPost200Response data, response status code and response headers
    def merchant_payment_refund_new_post_with_http_info(unibee_api_merchant_payment_new_payment_refund_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentApi.merchant_payment_refund_new_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_payment_new_payment_refund_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_payment_new_payment_refund_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_payment_new_payment_refund_req' when calling PaymentApi.merchant_payment_refund_new_post"
      end
      # resource path
      local_var_path = '/merchant/payment/refund/new'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_payment_new_payment_refund_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPaymentRefundNewPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentApi.merchant_payment_refund_new_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentApi#merchant_payment_refund_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Payment TimeLine List
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :user_id Filter UserId, Default All
    # @option opts [Integer] :amount_start The filter start amount of timeline
    # @option opts [Integer] :amount_end The filter end amount of timeline
    # @option opts [String] :search_key Search SubscriptionId|InvoiceId|PaymentId|UserId
    # @option opts [Array<Integer>] :status The filter status, 0-pending, 1-success, 2-failure，3-cancel
    # @option opts [Array<Integer>] :timeline_types The filter timelineType, 0-pay, 1-refund
    # @option opts [Array<Integer>] :gateway_ids The filter ids of gateway
    # @option opts [String] :currency Currency
    # @option opts [String] :sort_field Sort，invoice_id|gmt_create|gmt_modify|period_end|total_amount，Default gmt_modify
    # @option opts [String] :sort_type Sort Type，asc|desc，Default desc
    # @option opts [Integer] :page Page,Start 0
    # @option opts [Integer] :count Count Of Page
    # @option opts [Integer] :create_time_start CreateTimeStart，UTC timestamp，seconds
    # @option opts [Integer] :create_time_end CreateTimeEnd，UTC timestamp，seconds
    # @return [MerchantPaymentTimelineListGet200Response]
    def merchant_payment_timeline_list_get(opts = {})
      data, _status_code, _headers = merchant_payment_timeline_list_get_with_http_info(opts)
      data
    end

    # Get Payment TimeLine List
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :user_id Filter UserId, Default All
    # @option opts [Integer] :amount_start The filter start amount of timeline
    # @option opts [Integer] :amount_end The filter end amount of timeline
    # @option opts [String] :search_key Search SubscriptionId|InvoiceId|PaymentId|UserId
    # @option opts [Array<Integer>] :status The filter status, 0-pending, 1-success, 2-failure，3-cancel
    # @option opts [Array<Integer>] :timeline_types The filter timelineType, 0-pay, 1-refund
    # @option opts [Array<Integer>] :gateway_ids The filter ids of gateway
    # @option opts [String] :currency Currency
    # @option opts [String] :sort_field Sort，invoice_id|gmt_create|gmt_modify|period_end|total_amount，Default gmt_modify
    # @option opts [String] :sort_type Sort Type，asc|desc，Default desc
    # @option opts [Integer] :page Page,Start 0
    # @option opts [Integer] :count Count Of Page
    # @option opts [Integer] :create_time_start CreateTimeStart，UTC timestamp，seconds
    # @option opts [Integer] :create_time_end CreateTimeEnd，UTC timestamp，seconds
    # @return [Array<(MerchantPaymentTimelineListGet200Response, Integer, Hash)>] MerchantPaymentTimelineListGet200Response data, response status code and response headers
    def merchant_payment_timeline_list_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentApi.merchant_payment_timeline_list_get ...'
      end
      # resource path
      local_var_path = '/merchant/payment/timeline/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'amountStart'] = opts[:'amount_start'] if !opts[:'amount_start'].nil?
      query_params[:'amountEnd'] = opts[:'amount_end'] if !opts[:'amount_end'].nil?
      query_params[:'searchKey'] = opts[:'search_key'] if !opts[:'search_key'].nil?
      query_params[:'status'] = @api_client.build_collection_param(opts[:'status'], :multi) if !opts[:'status'].nil?
      query_params[:'timelineTypes'] = @api_client.build_collection_param(opts[:'timeline_types'], :multi) if !opts[:'timeline_types'].nil?
      query_params[:'gatewayIds'] = @api_client.build_collection_param(opts[:'gateway_ids'], :multi) if !opts[:'gateway_ids'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'sortType'] = opts[:'sort_type'] if !opts[:'sort_type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'createTimeStart'] = opts[:'create_time_start'] if !opts[:'create_time_start'].nil?
      query_params[:'createTimeEnd'] = opts[:'create_time_end'] if !opts[:'create_time_end'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPaymentTimelineListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentApi.merchant_payment_timeline_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentApi#merchant_payment_timeline_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Payment TimeLine List
    # @param unibee_api_merchant_payment_time_line_list_req [UnibeeApiMerchantPaymentTimeLineListReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantPaymentTimelineListGet200Response]
    def merchant_payment_timeline_list_post(unibee_api_merchant_payment_time_line_list_req, opts = {})
      data, _status_code, _headers = merchant_payment_timeline_list_post_with_http_info(unibee_api_merchant_payment_time_line_list_req, opts)
      data
    end

    # Get Payment TimeLine List
    # @param unibee_api_merchant_payment_time_line_list_req [UnibeeApiMerchantPaymentTimeLineListReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantPaymentTimelineListGet200Response, Integer, Hash)>] MerchantPaymentTimelineListGet200Response data, response status code and response headers
    def merchant_payment_timeline_list_post_with_http_info(unibee_api_merchant_payment_time_line_list_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentApi.merchant_payment_timeline_list_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_payment_time_line_list_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_payment_time_line_list_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_payment_time_line_list_req' when calling PaymentApi.merchant_payment_timeline_list_post"
      end
      # resource path
      local_var_path = '/merchant/payment/timeline/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_payment_time_line_list_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantPaymentTimelineListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentApi.merchant_payment_timeline_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentApi#merchant_payment_timeline_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
