=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class SubscriptionUpdateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Subscription Active Temporarily
    # Subscription active temporarily, status will transmit from pending to incomplete
    # @param unibee_api_merchant_subscription_active_temporarily_req [UnibeeApiMerchantSubscriptionActiveTemporarilyReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_subscription_active_temporarily_post(unibee_api_merchant_subscription_active_temporarily_req, opts = {})
      data, _status_code, _headers = merchant_subscription_active_temporarily_post_with_http_info(unibee_api_merchant_subscription_active_temporarily_req, opts)
      data
    end

    # Subscription Active Temporarily
    # Subscription active temporarily, status will transmit from pending to incomplete
    # @param unibee_api_merchant_subscription_active_temporarily_req [UnibeeApiMerchantSubscriptionActiveTemporarilyReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_subscription_active_temporarily_post_with_http_info(unibee_api_merchant_subscription_active_temporarily_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionUpdateApi.merchant_subscription_active_temporarily_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_subscription_active_temporarily_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_subscription_active_temporarily_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_subscription_active_temporarily_req' when calling SubscriptionUpdateApi.merchant_subscription_active_temporarily_post"
      end
      # resource path
      local_var_path = '/merchant/subscription/active_temporarily'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_subscription_active_temporarily_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionUpdateApi.merchant_subscription_active_temporarily_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionUpdateApi#merchant_subscription_active_temporarily_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Subscription Metadata
    # @param unibee_api_merchant_subscription_update_metadata_req [UnibeeApiMerchantSubscriptionUpdateMetadataReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_subscription_metadata_update_post(unibee_api_merchant_subscription_update_metadata_req, opts = {})
      data, _status_code, _headers = merchant_subscription_metadata_update_post_with_http_info(unibee_api_merchant_subscription_update_metadata_req, opts)
      data
    end

    # Update Subscription Metadata
    # @param unibee_api_merchant_subscription_update_metadata_req [UnibeeApiMerchantSubscriptionUpdateMetadataReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_subscription_metadata_update_post_with_http_info(unibee_api_merchant_subscription_update_metadata_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionUpdateApi.merchant_subscription_metadata_update_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_subscription_update_metadata_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_subscription_update_metadata_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_subscription_update_metadata_req' when calling SubscriptionUpdateApi.merchant_subscription_metadata_update_post"
      end
      # resource path
      local_var_path = '/merchant/subscription/metadata_update'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_subscription_update_metadata_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionUpdateApi.merchant_subscription_metadata_update_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionUpdateApi#merchant_subscription_metadata_update_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Subscription Pending Update Detail
    # @param subscription_pending_update_id [String] SubscriptionPendingUpdateId
    # @param [Hash] opts the optional parameters
    # @return [MerchantSubscriptionPendingUpdateDetailGet200Response]
    def merchant_subscription_pending_update_detail_get(subscription_pending_update_id, opts = {})
      data, _status_code, _headers = merchant_subscription_pending_update_detail_get_with_http_info(subscription_pending_update_id, opts)
      data
    end

    # Subscription Pending Update Detail
    # @param subscription_pending_update_id [String] SubscriptionPendingUpdateId
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantSubscriptionPendingUpdateDetailGet200Response, Integer, Hash)>] MerchantSubscriptionPendingUpdateDetailGet200Response data, response status code and response headers
    def merchant_subscription_pending_update_detail_get_with_http_info(subscription_pending_update_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionUpdateApi.merchant_subscription_pending_update_detail_get ...'
      end
      # verify the required parameter 'subscription_pending_update_id' is set
      if @api_client.config.client_side_validation && subscription_pending_update_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_pending_update_id' when calling SubscriptionUpdateApi.merchant_subscription_pending_update_detail_get"
      end
      # resource path
      local_var_path = '/merchant/subscription/pending_update_detail'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'subscriptionPendingUpdateId'] = subscription_pending_update_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSubscriptionPendingUpdateDetailGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionUpdateApi.merchant_subscription_pending_update_detail_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionUpdateApi#merchant_subscription_pending_update_detail_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Subscription Pending Update List
    # @param subscription_id [String] SubscriptionId
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_field Sort Field，gmt_create|gmt_modify，Default gmt_modify
    # @option opts [String] :sort_type Sort Type，asc|desc，Default desc
    # @option opts [Integer] :page Page, Start With 0
    # @option opts [Integer] :count Count Of Page
    # @return [MerchantSubscriptionPendingUpdateListGet200Response]
    def merchant_subscription_pending_update_list_get(subscription_id, opts = {})
      data, _status_code, _headers = merchant_subscription_pending_update_list_get_with_http_info(subscription_id, opts)
      data
    end

    # Get Subscription Pending Update List
    # @param subscription_id [String] SubscriptionId
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_field Sort Field，gmt_create|gmt_modify，Default gmt_modify
    # @option opts [String] :sort_type Sort Type，asc|desc，Default desc
    # @option opts [Integer] :page Page, Start With 0
    # @option opts [Integer] :count Count Of Page
    # @return [Array<(MerchantSubscriptionPendingUpdateListGet200Response, Integer, Hash)>] MerchantSubscriptionPendingUpdateListGet200Response data, response status code and response headers
    def merchant_subscription_pending_update_list_get_with_http_info(subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionUpdateApi.merchant_subscription_pending_update_list_get ...'
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SubscriptionUpdateApi.merchant_subscription_pending_update_list_get"
      end
      # resource path
      local_var_path = '/merchant/subscription/pending_update_list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'subscriptionId'] = subscription_id
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'sortType'] = opts[:'sort_type'] if !opts[:'sort_type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSubscriptionPendingUpdateListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionUpdateApi.merchant_subscription_pending_update_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionUpdateApi#merchant_subscription_pending_update_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Subscription Pending Update List
    # @param unibee_api_merchant_subscription_pending_update_list_req [UnibeeApiMerchantSubscriptionPendingUpdateListReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantSubscriptionPendingUpdateListGet200Response]
    def merchant_subscription_pending_update_list_post(unibee_api_merchant_subscription_pending_update_list_req, opts = {})
      data, _status_code, _headers = merchant_subscription_pending_update_list_post_with_http_info(unibee_api_merchant_subscription_pending_update_list_req, opts)
      data
    end

    # Get Subscription Pending Update List
    # @param unibee_api_merchant_subscription_pending_update_list_req [UnibeeApiMerchantSubscriptionPendingUpdateListReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantSubscriptionPendingUpdateListGet200Response, Integer, Hash)>] MerchantSubscriptionPendingUpdateListGet200Response data, response status code and response headers
    def merchant_subscription_pending_update_list_post_with_http_info(unibee_api_merchant_subscription_pending_update_list_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionUpdateApi.merchant_subscription_pending_update_list_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_subscription_pending_update_list_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_subscription_pending_update_list_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_subscription_pending_update_list_req' when calling SubscriptionUpdateApi.merchant_subscription_pending_update_list_post"
      end
      # resource path
      local_var_path = '/merchant/subscription/pending_update_list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_subscription_pending_update_list_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSubscriptionPendingUpdateListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionUpdateApi.merchant_subscription_pending_update_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionUpdateApi#merchant_subscription_pending_update_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Renew Subscription
    # renew an exist subscription 
    # @param unibee_api_merchant_subscription_renew_req [UnibeeApiMerchantSubscriptionRenewReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantSubscriptionRenewPost200Response]
    def merchant_subscription_renew_post(unibee_api_merchant_subscription_renew_req, opts = {})
      data, _status_code, _headers = merchant_subscription_renew_post_with_http_info(unibee_api_merchant_subscription_renew_req, opts)
      data
    end

    # Renew Subscription
    # renew an exist subscription 
    # @param unibee_api_merchant_subscription_renew_req [UnibeeApiMerchantSubscriptionRenewReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantSubscriptionRenewPost200Response, Integer, Hash)>] MerchantSubscriptionRenewPost200Response data, response status code and response headers
    def merchant_subscription_renew_post_with_http_info(unibee_api_merchant_subscription_renew_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionUpdateApi.merchant_subscription_renew_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_subscription_renew_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_subscription_renew_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_subscription_renew_req' when calling SubscriptionUpdateApi.merchant_subscription_renew_post"
      end
      # resource path
      local_var_path = '/merchant/subscription/renew'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_subscription_renew_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSubscriptionRenewPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionUpdateApi.merchant_subscription_renew_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionUpdateApi#merchant_subscription_renew_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Subscription Preview
    # @param unibee_api_merchant_subscription_update_preview_req [UnibeeApiMerchantSubscriptionUpdatePreviewReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantSubscriptionUpdatePreviewPost200Response]
    def merchant_subscription_update_preview_post(unibee_api_merchant_subscription_update_preview_req, opts = {})
      data, _status_code, _headers = merchant_subscription_update_preview_post_with_http_info(unibee_api_merchant_subscription_update_preview_req, opts)
      data
    end

    # Update Subscription Preview
    # @param unibee_api_merchant_subscription_update_preview_req [UnibeeApiMerchantSubscriptionUpdatePreviewReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantSubscriptionUpdatePreviewPost200Response, Integer, Hash)>] MerchantSubscriptionUpdatePreviewPost200Response data, response status code and response headers
    def merchant_subscription_update_preview_post_with_http_info(unibee_api_merchant_subscription_update_preview_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionUpdateApi.merchant_subscription_update_preview_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_subscription_update_preview_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_subscription_update_preview_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_subscription_update_preview_req' when calling SubscriptionUpdateApi.merchant_subscription_update_preview_post"
      end
      # resource path
      local_var_path = '/merchant/subscription/update_preview'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_subscription_update_preview_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSubscriptionUpdatePreviewPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionUpdateApi.merchant_subscription_update_preview_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionUpdateApi#merchant_subscription_update_preview_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Subscription
    # @param unibee_api_merchant_subscription_update_req [UnibeeApiMerchantSubscriptionUpdateReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantSubscriptionUpdateSubmitPost200Response]
    def merchant_subscription_update_submit_post(unibee_api_merchant_subscription_update_req, opts = {})
      data, _status_code, _headers = merchant_subscription_update_submit_post_with_http_info(unibee_api_merchant_subscription_update_req, opts)
      data
    end

    # Update Subscription
    # @param unibee_api_merchant_subscription_update_req [UnibeeApiMerchantSubscriptionUpdateReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantSubscriptionUpdateSubmitPost200Response, Integer, Hash)>] MerchantSubscriptionUpdateSubmitPost200Response data, response status code and response headers
    def merchant_subscription_update_submit_post_with_http_info(unibee_api_merchant_subscription_update_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionUpdateApi.merchant_subscription_update_submit_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_subscription_update_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_subscription_update_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_subscription_update_req' when calling SubscriptionUpdateApi.merchant_subscription_update_submit_post"
      end
      # resource path
      local_var_path = '/merchant/subscription/update_submit'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_subscription_update_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSubscriptionUpdateSubmitPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionUpdateApi.merchant_subscription_update_submit_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionUpdateApi#merchant_subscription_update_submit_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
