=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class SubscriptionPaymentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # New Subscription Onetime Addon Payment
    # Create payment for subscription onetime addon purchase
    # @param unibee_api_merchant_subscription_onetime_addon_new_req [UnibeeApiMerchantSubscriptionOnetimeAddonNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantSubscriptionNewOnetimeAddonPaymentPost200Response]
    def merchant_subscription_new_onetime_addon_payment_post(unibee_api_merchant_subscription_onetime_addon_new_req, opts = {})
      data, _status_code, _headers = merchant_subscription_new_onetime_addon_payment_post_with_http_info(unibee_api_merchant_subscription_onetime_addon_new_req, opts)
      data
    end

    # New Subscription Onetime Addon Payment
    # Create payment for subscription onetime addon purchase
    # @param unibee_api_merchant_subscription_onetime_addon_new_req [UnibeeApiMerchantSubscriptionOnetimeAddonNewReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantSubscriptionNewOnetimeAddonPaymentPost200Response, Integer, Hash)>] MerchantSubscriptionNewOnetimeAddonPaymentPost200Response data, response status code and response headers
    def merchant_subscription_new_onetime_addon_payment_post_with_http_info(unibee_api_merchant_subscription_onetime_addon_new_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionPaymentApi.merchant_subscription_new_onetime_addon_payment_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_subscription_onetime_addon_new_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_subscription_onetime_addon_new_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_subscription_onetime_addon_new_req' when calling SubscriptionPaymentApi.merchant_subscription_new_onetime_addon_payment_post"
      end
      # resource path
      local_var_path = '/merchant/subscription/new_onetime_addon_payment'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_subscription_onetime_addon_new_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSubscriptionNewOnetimeAddonPaymentPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionPaymentApi.merchant_subscription_new_onetime_addon_payment_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionPaymentApi#merchant_subscription_new_onetime_addon_payment_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # New Subscription Onetime Addon Preview
    # Preview for subscription onetime addon purchase
    # @param unibee_api_merchant_subscription_onetime_addon_preview_req [UnibeeApiMerchantSubscriptionOnetimeAddonPreviewReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantSubscriptionNewOnetimeAddonPreviewPost200Response]
    def merchant_subscription_new_onetime_addon_preview_post(unibee_api_merchant_subscription_onetime_addon_preview_req, opts = {})
      data, _status_code, _headers = merchant_subscription_new_onetime_addon_preview_post_with_http_info(unibee_api_merchant_subscription_onetime_addon_preview_req, opts)
      data
    end

    # New Subscription Onetime Addon Preview
    # Preview for subscription onetime addon purchase
    # @param unibee_api_merchant_subscription_onetime_addon_preview_req [UnibeeApiMerchantSubscriptionOnetimeAddonPreviewReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantSubscriptionNewOnetimeAddonPreviewPost200Response, Integer, Hash)>] MerchantSubscriptionNewOnetimeAddonPreviewPost200Response data, response status code and response headers
    def merchant_subscription_new_onetime_addon_preview_post_with_http_info(unibee_api_merchant_subscription_onetime_addon_preview_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionPaymentApi.merchant_subscription_new_onetime_addon_preview_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_subscription_onetime_addon_preview_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_subscription_onetime_addon_preview_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_subscription_onetime_addon_preview_req' when calling SubscriptionPaymentApi.merchant_subscription_new_onetime_addon_preview_post"
      end
      # resource path
      local_var_path = '/merchant/subscription/new_onetime_addon_preview'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_subscription_onetime_addon_preview_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSubscriptionNewOnetimeAddonPreviewPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionPaymentApi.merchant_subscription_new_onetime_addon_preview_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionPaymentApi#merchant_subscription_new_onetime_addon_preview_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Subscription Onetime Addon Purchase History List
    # @param user_id [Integer] UserId
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :subscription_ids Filter SubscriptionIds, Default All
    # @option opts [Array<Integer>] :addon_ids Filter AddonIds, Default All
    # @option opts [Array<Integer>] :status Filter Status, Default All，1-Create｜2-Paid｜3-Cancel｜4-Expired
    # @option opts [Integer] :create_time_start CreateTimeStart，UTC timestamp，seconds
    # @option opts [Integer] :create_time_end CreateTimeEnd，UTC timestamp，seconds
    # @option opts [Integer] :period_start PeriodStart，addon effective period start，UTC timestamp，seconds
    # @option opts [Integer] :period_end PeriodEnd，addon effective period end，UTC timestamp，seconds
    # @option opts [Integer] :page Page, Start With 0
    # @option opts [Integer] :count Count Of Page
    # @return [MerchantSubscriptionOnetimeAddonPurchaseListGet200Response]
    def merchant_subscription_onetime_addon_purchase_list_get(user_id, opts = {})
      data, _status_code, _headers = merchant_subscription_onetime_addon_purchase_list_get_with_http_info(user_id, opts)
      data
    end

    # Get Subscription Onetime Addon Purchase History List
    # @param user_id [Integer] UserId
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :subscription_ids Filter SubscriptionIds, Default All
    # @option opts [Array<Integer>] :addon_ids Filter AddonIds, Default All
    # @option opts [Array<Integer>] :status Filter Status, Default All，1-Create｜2-Paid｜3-Cancel｜4-Expired
    # @option opts [Integer] :create_time_start CreateTimeStart，UTC timestamp，seconds
    # @option opts [Integer] :create_time_end CreateTimeEnd，UTC timestamp，seconds
    # @option opts [Integer] :period_start PeriodStart，addon effective period start，UTC timestamp，seconds
    # @option opts [Integer] :period_end PeriodEnd，addon effective period end，UTC timestamp，seconds
    # @option opts [Integer] :page Page, Start With 0
    # @option opts [Integer] :count Count Of Page
    # @return [Array<(MerchantSubscriptionOnetimeAddonPurchaseListGet200Response, Integer, Hash)>] MerchantSubscriptionOnetimeAddonPurchaseListGet200Response data, response status code and response headers
    def merchant_subscription_onetime_addon_purchase_list_get_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionPaymentApi.merchant_subscription_onetime_addon_purchase_list_get ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling SubscriptionPaymentApi.merchant_subscription_onetime_addon_purchase_list_get"
      end
      # resource path
      local_var_path = '/merchant/subscription/onetime_addon_purchase_list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'userId'] = user_id
      query_params[:'subscriptionIds'] = @api_client.build_collection_param(opts[:'subscription_ids'], :multi) if !opts[:'subscription_ids'].nil?
      query_params[:'addonIds'] = @api_client.build_collection_param(opts[:'addon_ids'], :multi) if !opts[:'addon_ids'].nil?
      query_params[:'status'] = @api_client.build_collection_param(opts[:'status'], :multi) if !opts[:'status'].nil?
      query_params[:'createTimeStart'] = opts[:'create_time_start'] if !opts[:'create_time_start'].nil?
      query_params[:'createTimeEnd'] = opts[:'create_time_end'] if !opts[:'create_time_end'].nil?
      query_params[:'periodStart'] = opts[:'period_start'] if !opts[:'period_start'].nil?
      query_params[:'periodEnd'] = opts[:'period_end'] if !opts[:'period_end'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSubscriptionOnetimeAddonPurchaseListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionPaymentApi.merchant_subscription_onetime_addon_purchase_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionPaymentApi#merchant_subscription_onetime_addon_purchase_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # New Subscription Payment
    # @param unibee_api_merchant_subscription_new_payment_req [UnibeeApiMerchantSubscriptionNewPaymentReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantSubscriptionPaymentNewPost200Response]
    def merchant_subscription_payment_new_post(unibee_api_merchant_subscription_new_payment_req, opts = {})
      data, _status_code, _headers = merchant_subscription_payment_new_post_with_http_info(unibee_api_merchant_subscription_new_payment_req, opts)
      data
    end

    # New Subscription Payment
    # @param unibee_api_merchant_subscription_new_payment_req [UnibeeApiMerchantSubscriptionNewPaymentReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantSubscriptionPaymentNewPost200Response, Integer, Hash)>] MerchantSubscriptionPaymentNewPost200Response data, response status code and response headers
    def merchant_subscription_payment_new_post_with_http_info(unibee_api_merchant_subscription_new_payment_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionPaymentApi.merchant_subscription_payment_new_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_subscription_new_payment_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_subscription_new_payment_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_subscription_new_payment_req' when calling SubscriptionPaymentApi.merchant_subscription_payment_new_post"
      end
      # resource path
      local_var_path = '/merchant/subscription/payment/new'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_subscription_new_payment_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSubscriptionPaymentNewPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionPaymentApi.merchant_subscription_payment_new_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionPaymentApi#merchant_subscription_payment_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
