=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class SubscriptionImportApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Active Subscription Import(allows repetition imports)
    # Each repetition import overrides existing subscriptions with matching ExternalSubscriptionId.
    # @param unibee_api_merchant_subscription_active_subscription_import_req [UnibeeApiMerchantSubscriptionActiveSubscriptionImportReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantSubscriptionActiveSubscriptionImportPost200Response]
    def merchant_subscription_active_subscription_import_post(unibee_api_merchant_subscription_active_subscription_import_req, opts = {})
      data, _status_code, _headers = merchant_subscription_active_subscription_import_post_with_http_info(unibee_api_merchant_subscription_active_subscription_import_req, opts)
      data
    end

    # Active Subscription Import(allows repetition imports)
    # Each repetition import overrides existing subscriptions with matching ExternalSubscriptionId.
    # @param unibee_api_merchant_subscription_active_subscription_import_req [UnibeeApiMerchantSubscriptionActiveSubscriptionImportReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantSubscriptionActiveSubscriptionImportPost200Response, Integer, Hash)>] MerchantSubscriptionActiveSubscriptionImportPost200Response data, response status code and response headers
    def merchant_subscription_active_subscription_import_post_with_http_info(unibee_api_merchant_subscription_active_subscription_import_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionImportApi.merchant_subscription_active_subscription_import_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_subscription_active_subscription_import_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_subscription_active_subscription_import_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_subscription_active_subscription_import_req' when calling SubscriptionImportApi.merchant_subscription_active_subscription_import_post"
      end
      # resource path
      local_var_path = '/merchant/subscription/active_subscription_import'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_subscription_active_subscription_import_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSubscriptionActiveSubscriptionImportPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionImportApi.merchant_subscription_active_subscription_import_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionImportApi#merchant_subscription_active_subscription_import_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # History Subscription Import(Allows repetition imports)
    # Each repetition import overrides existing subscriptions with matching ExternalSubscriptionId.
    # @param unibee_api_merchant_subscription_history_subscription_import_req [UnibeeApiMerchantSubscriptionHistorySubscriptionImportReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantSubscriptionActiveSubscriptionImportPost200Response]
    def merchant_subscription_history_subscription_import_post(unibee_api_merchant_subscription_history_subscription_import_req, opts = {})
      data, _status_code, _headers = merchant_subscription_history_subscription_import_post_with_http_info(unibee_api_merchant_subscription_history_subscription_import_req, opts)
      data
    end

    # History Subscription Import(Allows repetition imports)
    # Each repetition import overrides existing subscriptions with matching ExternalSubscriptionId.
    # @param unibee_api_merchant_subscription_history_subscription_import_req [UnibeeApiMerchantSubscriptionHistorySubscriptionImportReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantSubscriptionActiveSubscriptionImportPost200Response, Integer, Hash)>] MerchantSubscriptionActiveSubscriptionImportPost200Response data, response status code and response headers
    def merchant_subscription_history_subscription_import_post_with_http_info(unibee_api_merchant_subscription_history_subscription_import_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionImportApi.merchant_subscription_history_subscription_import_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_subscription_history_subscription_import_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_subscription_history_subscription_import_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_subscription_history_subscription_import_req' when calling SubscriptionImportApi.merchant_subscription_history_subscription_import_post"
      end
      # resource path
      local_var_path = '/merchant/subscription/history_subscription_import'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_subscription_history_subscription_import_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSubscriptionActiveSubscriptionImportPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionImportApi.merchant_subscription_history_subscription_import_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionImportApi#merchant_subscription_history_subscription_import_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
