=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class SubscriptionNoteApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Subscription Note List
    # @param subscription_id [String] SubscriptionId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page, Start With 0
    # @option opts [Integer] :count Count Of Page
    # @return [MerchantSubscriptionAdminNoteListGet200Response]
    def merchant_subscription_admin_note_list_get(subscription_id, opts = {})
      data, _status_code, _headers = merchant_subscription_admin_note_list_get_with_http_info(subscription_id, opts)
      data
    end

    # Get Subscription Note List
    # @param subscription_id [String] SubscriptionId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page, Start With 0
    # @option opts [Integer] :count Count Of Page
    # @return [Array<(MerchantSubscriptionAdminNoteListGet200Response, Integer, Hash)>] MerchantSubscriptionAdminNoteListGet200Response data, response status code and response headers
    def merchant_subscription_admin_note_list_get_with_http_info(subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionNoteApi.merchant_subscription_admin_note_list_get ...'
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SubscriptionNoteApi.merchant_subscription_admin_note_list_get"
      end
      # resource path
      local_var_path = '/merchant/subscription/admin_note_list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'subscriptionId'] = subscription_id
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSubscriptionAdminNoteListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionNoteApi.merchant_subscription_admin_note_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionNoteApi#merchant_subscription_admin_note_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Subscription Note List
    # @param unibee_api_merchant_subscription_admin_note_list_req [UnibeeApiMerchantSubscriptionAdminNoteListReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantSubscriptionAdminNoteListGet200Response]
    def merchant_subscription_admin_note_list_post(unibee_api_merchant_subscription_admin_note_list_req, opts = {})
      data, _status_code, _headers = merchant_subscription_admin_note_list_post_with_http_info(unibee_api_merchant_subscription_admin_note_list_req, opts)
      data
    end

    # Get Subscription Note List
    # @param unibee_api_merchant_subscription_admin_note_list_req [UnibeeApiMerchantSubscriptionAdminNoteListReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantSubscriptionAdminNoteListGet200Response, Integer, Hash)>] MerchantSubscriptionAdminNoteListGet200Response data, response status code and response headers
    def merchant_subscription_admin_note_list_post_with_http_info(unibee_api_merchant_subscription_admin_note_list_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionNoteApi.merchant_subscription_admin_note_list_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_subscription_admin_note_list_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_subscription_admin_note_list_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_subscription_admin_note_list_req' when calling SubscriptionNoteApi.merchant_subscription_admin_note_list_post"
      end
      # resource path
      local_var_path = '/merchant/subscription/admin_note_list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_subscription_admin_note_list_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantSubscriptionAdminNoteListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionNoteApi.merchant_subscription_admin_note_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionNoteApi#merchant_subscription_admin_note_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # New Subscription Note
    # @param unibee_api_merchant_subscription_new_admin_note_req [UnibeeApiMerchantSubscriptionNewAdminNoteReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_subscription_new_admin_note_post(unibee_api_merchant_subscription_new_admin_note_req, opts = {})
      data, _status_code, _headers = merchant_subscription_new_admin_note_post_with_http_info(unibee_api_merchant_subscription_new_admin_note_req, opts)
      data
    end

    # New Subscription Note
    # @param unibee_api_merchant_subscription_new_admin_note_req [UnibeeApiMerchantSubscriptionNewAdminNoteReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_subscription_new_admin_note_post_with_http_info(unibee_api_merchant_subscription_new_admin_note_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionNoteApi.merchant_subscription_new_admin_note_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_subscription_new_admin_note_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_subscription_new_admin_note_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_subscription_new_admin_note_req' when calling SubscriptionNoteApi.merchant_subscription_new_admin_note_post"
      end
      # resource path
      local_var_path = '/merchant/subscription/new_admin_note'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_subscription_new_admin_note_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionNoteApi.merchant_subscription_new_admin_note_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionNoteApi#merchant_subscription_new_admin_note_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
