=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class AdminMemberApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Admin Owner Clear Member 2FA Key
    # @param unibee_api_merchant_member_clear_totp_req [UnibeeApiMerchantMemberClearTotpReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_member_clear_member_totp_post(unibee_api_merchant_member_clear_totp_req, opts = {})
      data, _status_code, _headers = merchant_member_clear_member_totp_post_with_http_info(unibee_api_merchant_member_clear_totp_req, opts)
      data
    end

    # Admin Owner Clear Member 2FA Key
    # @param unibee_api_merchant_member_clear_totp_req [UnibeeApiMerchantMemberClearTotpReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_member_clear_member_totp_post_with_http_info(unibee_api_merchant_member_clear_totp_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_clear_member_totp_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_member_clear_totp_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_member_clear_totp_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_member_clear_totp_req' when calling AdminMemberApi.merchant_member_clear_member_totp_post"
      end
      # resource path
      local_var_path = '/merchant/member/clear_member_totp'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_member_clear_totp_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_clear_member_totp_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_clear_member_totp_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clear Member OAuth Account
    # @param unibee_api_merchant_member_clear_o_auth_req [UnibeeApiMerchantMemberClearOAuthReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_member_clear_oauth_post(unibee_api_merchant_member_clear_o_auth_req, opts = {})
      data, _status_code, _headers = merchant_member_clear_oauth_post_with_http_info(unibee_api_merchant_member_clear_o_auth_req, opts)
      data
    end

    # Clear Member OAuth Account
    # @param unibee_api_merchant_member_clear_o_auth_req [UnibeeApiMerchantMemberClearOAuthReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_member_clear_oauth_post_with_http_info(unibee_api_merchant_member_clear_o_auth_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_clear_oauth_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_member_clear_o_auth_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_member_clear_o_auth_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_member_clear_o_auth_req' when calling AdminMemberApi.merchant_member_clear_oauth_post"
      end
      # resource path
      local_var_path = '/merchant/member/clear_oauth'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_member_clear_o_auth_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_clear_oauth_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_clear_oauth_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Admin Member Confirm 2FA Key
    # @param unibee_api_merchant_member_confirm_totp_key_req [UnibeeApiMerchantMemberConfirmTotpKeyReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_member_confirm_totp_key_post(unibee_api_merchant_member_confirm_totp_key_req, opts = {})
      data, _status_code, _headers = merchant_member_confirm_totp_key_post_with_http_info(unibee_api_merchant_member_confirm_totp_key_req, opts)
      data
    end

    # Admin Member Confirm 2FA Key
    # @param unibee_api_merchant_member_confirm_totp_key_req [UnibeeApiMerchantMemberConfirmTotpKeyReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_member_confirm_totp_key_post_with_http_info(unibee_api_merchant_member_confirm_totp_key_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_confirm_totp_key_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_member_confirm_totp_key_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_member_confirm_totp_key_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_member_confirm_totp_key_req' when calling AdminMemberApi.merchant_member_confirm_totp_key_post"
      end
      # resource path
      local_var_path = '/merchant/member/confirm_totp_key'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_member_confirm_totp_key_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_confirm_totp_key_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_confirm_totp_key_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Admin Owner Or Admin Delete Own's' 2FA Device
    # @param unibee_api_merchant_member_delete_device_req [UnibeeApiMerchantMemberDeleteDeviceReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMemberDeleteTotpDevicePost200Response]
    def merchant_member_delete_totp_device_post(unibee_api_merchant_member_delete_device_req, opts = {})
      data, _status_code, _headers = merchant_member_delete_totp_device_post_with_http_info(unibee_api_merchant_member_delete_device_req, opts)
      data
    end

    # Admin Owner Or Admin Delete Own&#39;s&#39; 2FA Device
    # @param unibee_api_merchant_member_delete_device_req [UnibeeApiMerchantMemberDeleteDeviceReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMemberDeleteTotpDevicePost200Response, Integer, Hash)>] MerchantMemberDeleteTotpDevicePost200Response data, response status code and response headers
    def merchant_member_delete_totp_device_post_with_http_info(unibee_api_merchant_member_delete_device_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_delete_totp_device_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_member_delete_device_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_member_delete_device_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_member_delete_device_req' when calling AdminMemberApi.merchant_member_delete_totp_device_post"
      end
      # resource path
      local_var_path = '/merchant/member/delete_totp_device'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_member_delete_device_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMemberDeleteTotpDevicePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_delete_totp_device_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_delete_totp_device_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Admin Member Get 2FA Key
    # @param unibee_api_merchant_member_get_totp_key_req [UnibeeApiMerchantMemberGetTotpKeyReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMemberGetTotpKeyPost200Response]
    def merchant_member_get_totp_key_post(unibee_api_merchant_member_get_totp_key_req, opts = {})
      data, _status_code, _headers = merchant_member_get_totp_key_post_with_http_info(unibee_api_merchant_member_get_totp_key_req, opts)
      data
    end

    # Admin Member Get 2FA Key
    # @param unibee_api_merchant_member_get_totp_key_req [UnibeeApiMerchantMemberGetTotpKeyReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMemberGetTotpKeyPost200Response, Integer, Hash)>] MerchantMemberGetTotpKeyPost200Response data, response status code and response headers
    def merchant_member_get_totp_key_post_with_http_info(unibee_api_merchant_member_get_totp_key_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_get_totp_key_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_member_get_totp_key_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_member_get_totp_key_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_member_get_totp_key_req' when calling AdminMemberApi.merchant_member_get_totp_key_post"
      end
      # resource path
      local_var_path = '/merchant/member/get_totp_key'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_member_get_totp_key_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMemberGetTotpKeyPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_get_totp_key_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_get_totp_key_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Member List
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search_key Search Key, FirstName,LastName or Email
    # @option opts [String] :email Search Filter Email
    # @option opts [Array<Integer>] :role_ids The member roleId if specified&#39;
    # @option opts [Integer] :page Page, Start With 0
    # @option opts [Integer] :count Count Of Page
    # @option opts [Integer] :create_time_start CreateTimeStart，UTC timestamp，seconds
    # @option opts [Integer] :create_time_end CreateTimeEnd，UTC timestamp，seconds
    # @return [MerchantMemberListGet200Response]
    def merchant_member_list_get(opts = {})
      data, _status_code, _headers = merchant_member_list_get_with_http_info(opts)
      data
    end

    # Get Member List
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search_key Search Key, FirstName,LastName or Email
    # @option opts [String] :email Search Filter Email
    # @option opts [Array<Integer>] :role_ids The member roleId if specified&#39;
    # @option opts [Integer] :page Page, Start With 0
    # @option opts [Integer] :count Count Of Page
    # @option opts [Integer] :create_time_start CreateTimeStart，UTC timestamp，seconds
    # @option opts [Integer] :create_time_end CreateTimeEnd，UTC timestamp，seconds
    # @return [Array<(MerchantMemberListGet200Response, Integer, Hash)>] MerchantMemberListGet200Response data, response status code and response headers
    def merchant_member_list_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_list_get ...'
      end
      # resource path
      local_var_path = '/merchant/member/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'searchKey'] = opts[:'search_key'] if !opts[:'search_key'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'roleIds'] = @api_client.build_collection_param(opts[:'role_ids'], :multi) if !opts[:'role_ids'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'createTimeStart'] = opts[:'create_time_start'] if !opts[:'create_time_start'].nil?
      query_params[:'createTimeEnd'] = opts[:'create_time_end'] if !opts[:'create_time_end'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMemberListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Member List
    # @param unibee_api_merchant_member_list_req [UnibeeApiMerchantMemberListReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMemberListGet200Response]
    def merchant_member_list_post(unibee_api_merchant_member_list_req, opts = {})
      data, _status_code, _headers = merchant_member_list_post_with_http_info(unibee_api_merchant_member_list_req, opts)
      data
    end

    # Get Member List
    # @param unibee_api_merchant_member_list_req [UnibeeApiMerchantMemberListReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMemberListGet200Response, Integer, Hash)>] MerchantMemberListGet200Response data, response status code and response headers
    def merchant_member_list_post_with_http_info(unibee_api_merchant_member_list_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_list_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_member_list_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_member_list_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_member_list_req' when calling AdminMemberApi.merchant_member_list_post"
      end
      # resource path
      local_var_path = '/merchant/member/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_member_list_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMemberListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Logout
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_member_logout_post(body, opts = {})
      data, _status_code, _headers = merchant_member_logout_post_with_http_info(body, opts)
      data
    end

    # Logout
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_member_logout_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_logout_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AdminMemberApi.merchant_member_logout_post"
      end
      # resource path
      local_var_path = '/merchant/member/logout'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_logout_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_logout_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invite member
    # Will send email to member email provided, member can enter admin portal by email otp login
    # @param unibee_api_merchant_member_new_member_req [UnibeeApiMerchantMemberNewMemberReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_member_new_member_post(unibee_api_merchant_member_new_member_req, opts = {})
      data, _status_code, _headers = merchant_member_new_member_post_with_http_info(unibee_api_merchant_member_new_member_req, opts)
      data
    end

    # Invite member
    # Will send email to member email provided, member can enter admin portal by email otp login
    # @param unibee_api_merchant_member_new_member_req [UnibeeApiMerchantMemberNewMemberReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_member_new_member_post_with_http_info(unibee_api_merchant_member_new_member_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_new_member_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_member_new_member_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_member_new_member_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_member_new_member_req' when calling AdminMemberApi.merchant_member_new_member_post"
      end
      # resource path
      local_var_path = '/merchant/member/new_member'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_member_new_member_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_new_member_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_new_member_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Member Operation Log List
    # @param [Hash] opts the optional parameters
    # @option opts [String] :member_first_name Filter Member&#39;s FirstName Default All
    # @option opts [String] :member_last_name Filter Member&#39;s LastName, Default All
    # @option opts [String] :member_email Filter Member&#39;s Email, Default All
    # @option opts [String] :first_name FirstName
    # @option opts [String] :last_name LastName
    # @option opts [String] :email Email
    # @option opts [String] :subscription_id subscription_id
    # @option opts [String] :invoice_id invoice id
    # @option opts [Integer] :plan_id plan id
    # @option opts [String] :discount_code discount_code
    # @option opts [Integer] :page Page, Start With 0
    # @option opts [Integer] :count Count Of Page
    # @return [MerchantMemberOperationLogListGet200Response]
    def merchant_member_operation_log_list_get(opts = {})
      data, _status_code, _headers = merchant_member_operation_log_list_get_with_http_info(opts)
      data
    end

    # Get Member Operation Log List
    # @param [Hash] opts the optional parameters
    # @option opts [String] :member_first_name Filter Member&#39;s FirstName Default All
    # @option opts [String] :member_last_name Filter Member&#39;s LastName, Default All
    # @option opts [String] :member_email Filter Member&#39;s Email, Default All
    # @option opts [String] :first_name FirstName
    # @option opts [String] :last_name LastName
    # @option opts [String] :email Email
    # @option opts [String] :subscription_id subscription_id
    # @option opts [String] :invoice_id invoice id
    # @option opts [Integer] :plan_id plan id
    # @option opts [String] :discount_code discount_code
    # @option opts [Integer] :page Page, Start With 0
    # @option opts [Integer] :count Count Of Page
    # @return [Array<(MerchantMemberOperationLogListGet200Response, Integer, Hash)>] MerchantMemberOperationLogListGet200Response data, response status code and response headers
    def merchant_member_operation_log_list_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_operation_log_list_get ...'
      end
      # resource path
      local_var_path = '/merchant/member/operation_log_list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'memberFirstName'] = opts[:'member_first_name'] if !opts[:'member_first_name'].nil?
      query_params[:'memberLastName'] = opts[:'member_last_name'] if !opts[:'member_last_name'].nil?
      query_params[:'memberEmail'] = opts[:'member_email'] if !opts[:'member_email'].nil?
      query_params[:'firstName'] = opts[:'first_name'] if !opts[:'first_name'].nil?
      query_params[:'lastName'] = opts[:'last_name'] if !opts[:'last_name'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'subscriptionId'] = opts[:'subscription_id'] if !opts[:'subscription_id'].nil?
      query_params[:'invoiceId'] = opts[:'invoice_id'] if !opts[:'invoice_id'].nil?
      query_params[:'planId'] = opts[:'plan_id'] if !opts[:'plan_id'].nil?
      query_params[:'discountCode'] = opts[:'discount_code'] if !opts[:'discount_code'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMemberOperationLogListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_operation_log_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_operation_log_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Member Reset Password
    # @param unibee_api_merchant_member_password_reset_req [UnibeeApiMerchantMemberPasswordResetReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_member_password_reset_post(unibee_api_merchant_member_password_reset_req, opts = {})
      data, _status_code, _headers = merchant_member_password_reset_post_with_http_info(unibee_api_merchant_member_password_reset_req, opts)
      data
    end

    # Member Reset Password
    # @param unibee_api_merchant_member_password_reset_req [UnibeeApiMerchantMemberPasswordResetReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_member_password_reset_post_with_http_info(unibee_api_merchant_member_password_reset_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_password_reset_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_member_password_reset_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_member_password_reset_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_member_password_reset_req' when calling AdminMemberApi.merchant_member_password_reset_post"
      end
      # resource path
      local_var_path = '/merchant/member/passwordReset'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_member_password_reset_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_password_reset_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_password_reset_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Member Profile
    # @param [Hash] opts the optional parameters
    # @return [MerchantMemberProfileGet200Response]
    def merchant_member_profile_get(opts = {})
      data, _status_code, _headers = merchant_member_profile_get_with_http_info(opts)
      data
    end

    # Get Member Profile
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMemberProfileGet200Response, Integer, Hash)>] MerchantMemberProfileGet200Response data, response status code and response headers
    def merchant_member_profile_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_profile_get ...'
      end
      # resource path
      local_var_path = '/merchant/member/profile'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMemberProfileGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_profile_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_profile_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Admin Member Reset Member 2FA Key
    # @param unibee_api_merchant_member_reset_totp_req [UnibeeApiMerchantMemberResetTotpReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMemberProfileGet200Response]
    def merchant_member_reset_totp_post(unibee_api_merchant_member_reset_totp_req, opts = {})
      data, _status_code, _headers = merchant_member_reset_totp_post_with_http_info(unibee_api_merchant_member_reset_totp_req, opts)
      data
    end

    # Admin Member Reset Member 2FA Key
    # @param unibee_api_merchant_member_reset_totp_req [UnibeeApiMerchantMemberResetTotpReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMemberProfileGet200Response, Integer, Hash)>] MerchantMemberProfileGet200Response data, response status code and response headers
    def merchant_member_reset_totp_post_with_http_info(unibee_api_merchant_member_reset_totp_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_reset_totp_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_member_reset_totp_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_member_reset_totp_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_member_reset_totp_req' when calling AdminMemberApi.merchant_member_reset_totp_post"
      end
      # resource path
      local_var_path = '/merchant/member/reset_totp'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_member_reset_totp_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMemberProfileGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_reset_totp_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_reset_totp_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resume Member
    # @param unibee_api_merchant_member_release_req [UnibeeApiMerchantMemberReleaseReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_member_resume_member_post(unibee_api_merchant_member_release_req, opts = {})
      data, _status_code, _headers = merchant_member_resume_member_post_with_http_info(unibee_api_merchant_member_release_req, opts)
      data
    end

    # Resume Member
    # @param unibee_api_merchant_member_release_req [UnibeeApiMerchantMemberReleaseReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_member_resume_member_post_with_http_info(unibee_api_merchant_member_release_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_resume_member_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_member_release_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_member_release_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_member_release_req' when calling AdminMemberApi.merchant_member_resume_member_post"
      end
      # resource path
      local_var_path = '/merchant/member/resume_member'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_member_release_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_resume_member_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_resume_member_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Suspend Member
    # @param unibee_api_merchant_member_frozen_req [UnibeeApiMerchantMemberFrozenReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_member_suspend_member_post(unibee_api_merchant_member_frozen_req, opts = {})
      data, _status_code, _headers = merchant_member_suspend_member_post_with_http_info(unibee_api_merchant_member_frozen_req, opts)
      data
    end

    # Suspend Member
    # @param unibee_api_merchant_member_frozen_req [UnibeeApiMerchantMemberFrozenReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_member_suspend_member_post_with_http_info(unibee_api_merchant_member_frozen_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_suspend_member_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_member_frozen_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_member_frozen_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_member_frozen_req' when calling AdminMemberApi.merchant_member_suspend_member_post"
      end
      # resource path
      local_var_path = '/merchant/member/suspend_member'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_member_frozen_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_suspend_member_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_suspend_member_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Member Role
    # @param unibee_api_merchant_member_update_member_role_req [UnibeeApiMerchantMemberUpdateMemberRoleReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_member_update_member_role_post(unibee_api_merchant_member_update_member_role_req, opts = {})
      data, _status_code, _headers = merchant_member_update_member_role_post_with_http_info(unibee_api_merchant_member_update_member_role_req, opts)
      data
    end

    # Update Member Role
    # @param unibee_api_merchant_member_update_member_role_req [UnibeeApiMerchantMemberUpdateMemberRoleReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_member_update_member_role_post_with_http_info(unibee_api_merchant_member_update_member_role_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_update_member_role_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_member_update_member_role_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_member_update_member_role_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_member_update_member_role_req' when calling AdminMemberApi.merchant_member_update_member_role_post"
      end
      # resource path
      local_var_path = '/merchant/member/update_member_role'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_member_update_member_role_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_update_member_role_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_update_member_role_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Member OAuth Account
    # Pass OAuth token in request header (Auth.js JWT). Headers: X-Auth-JS-Token | X-Auth-Token | X-OAuth-Token
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_member_update_oauth_post(body, opts = {})
      data, _status_code, _headers = merchant_member_update_oauth_post_with_http_info(body, opts)
      data
    end

    # Update Member OAuth Account
    # Pass OAuth token in request header (Auth.js JWT). Headers: X-Auth-JS-Token | X-Auth-Token | X-OAuth-Token
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_member_update_oauth_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_update_oauth_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AdminMemberApi.merchant_member_update_oauth_post"
      end
      # resource path
      local_var_path = '/merchant/member/update_oauth'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_update_oauth_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_update_oauth_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Member Profile
    # @param unibee_api_merchant_member_update_req [UnibeeApiMerchantMemberUpdateReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantMemberProfileGet200Response]
    def merchant_member_update_post(unibee_api_merchant_member_update_req, opts = {})
      data, _status_code, _headers = merchant_member_update_post_with_http_info(unibee_api_merchant_member_update_req, opts)
      data
    end

    # Update Member Profile
    # @param unibee_api_merchant_member_update_req [UnibeeApiMerchantMemberUpdateReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantMemberProfileGet200Response, Integer, Hash)>] MerchantMemberProfileGet200Response data, response status code and response headers
    def merchant_member_update_post_with_http_info(unibee_api_merchant_member_update_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMemberApi.merchant_member_update_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_member_update_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_member_update_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_member_update_req' when calling AdminMemberApi.merchant_member_update_post"
      end
      # resource path
      local_var_path = '/merchant/member/update'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_member_update_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantMemberProfileGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AdminMemberApi.merchant_member_update_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMemberApi#merchant_member_update_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
