=begin
#OpenAPI UniBee

#UniBee Api Server

The version of the OpenAPI document: daily,buildtime:202602241319

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module Unibee
  class EmailTemplateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Customize Localization Template Sync
    # Sync the custom localization email template to gateway (sendgrid)
    # @param unibee_api_merchant_email_customize_localization_template_sync_req [UnibeeApiMerchantEmailCustomizeLocalizationTemplateSyncReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_email_custom_localization_template_sync_post(unibee_api_merchant_email_customize_localization_template_sync_req, opts = {})
      data, _status_code, _headers = merchant_email_custom_localization_template_sync_post_with_http_info(unibee_api_merchant_email_customize_localization_template_sync_req, opts)
      data
    end

    # Customize Localization Template Sync
    # Sync the custom localization email template to gateway (sendgrid)
    # @param unibee_api_merchant_email_customize_localization_template_sync_req [UnibeeApiMerchantEmailCustomizeLocalizationTemplateSyncReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_email_custom_localization_template_sync_post_with_http_info(unibee_api_merchant_email_customize_localization_template_sync_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplateApi.merchant_email_custom_localization_template_sync_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_email_customize_localization_template_sync_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_email_customize_localization_template_sync_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_email_customize_localization_template_sync_req' when calling EmailTemplateApi.merchant_email_custom_localization_template_sync_post"
      end
      # resource path
      local_var_path = '/merchant/email/custom_localization_template_sync'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_email_customize_localization_template_sync_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailTemplateApi.merchant_email_custom_localization_template_sync_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplateApi#merchant_email_custom_localization_template_sync_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Activate Email Template Localization Version
    # @param unibee_api_merchant_email_activate_localization_version_req [UnibeeApiMerchantEmailActivateLocalizationVersionReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_email_template_activate_localization_version_post(unibee_api_merchant_email_activate_localization_version_req, opts = {})
      data, _status_code, _headers = merchant_email_template_activate_localization_version_post_with_http_info(unibee_api_merchant_email_activate_localization_version_req, opts)
      data
    end

    # Activate Email Template Localization Version
    # @param unibee_api_merchant_email_activate_localization_version_req [UnibeeApiMerchantEmailActivateLocalizationVersionReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_email_template_activate_localization_version_post_with_http_info(unibee_api_merchant_email_activate_localization_version_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplateApi.merchant_email_template_activate_localization_version_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_email_activate_localization_version_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_email_activate_localization_version_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_email_activate_localization_version_req' when calling EmailTemplateApi.merchant_email_template_activate_localization_version_post"
      end
      # resource path
      local_var_path = '/merchant/email/template_activate_localization_version'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_email_activate_localization_version_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailTemplateApi.merchant_email_template_activate_localization_version_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplateApi#merchant_email_template_activate_localization_version_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add Email Template Localization Version
    # @param unibee_api_merchant_email_add_localization_version_req [UnibeeApiMerchantEmailAddLocalizationVersionReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantEmailTemplateAddLocalizationVersionPost200Response]
    def merchant_email_template_add_localization_version_post(unibee_api_merchant_email_add_localization_version_req, opts = {})
      data, _status_code, _headers = merchant_email_template_add_localization_version_post_with_http_info(unibee_api_merchant_email_add_localization_version_req, opts)
      data
    end

    # Add Email Template Localization Version
    # @param unibee_api_merchant_email_add_localization_version_req [UnibeeApiMerchantEmailAddLocalizationVersionReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantEmailTemplateAddLocalizationVersionPost200Response, Integer, Hash)>] MerchantEmailTemplateAddLocalizationVersionPost200Response data, response status code and response headers
    def merchant_email_template_add_localization_version_post_with_http_info(unibee_api_merchant_email_add_localization_version_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplateApi.merchant_email_template_add_localization_version_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_email_add_localization_version_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_email_add_localization_version_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_email_add_localization_version_req' when calling EmailTemplateApi.merchant_email_template_add_localization_version_post"
      end
      # resource path
      local_var_path = '/merchant/email/template_add_localization_version'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_email_add_localization_version_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantEmailTemplateAddLocalizationVersionPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailTemplateApi.merchant_email_template_add_localization_version_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplateApi#merchant_email_template_add_localization_version_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Email Template Localization Version
    # @param unibee_api_merchant_email_delete_localization_version_req [UnibeeApiMerchantEmailDeleteLocalizationVersionReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_email_template_delete_localization_version_post(unibee_api_merchant_email_delete_localization_version_req, opts = {})
      data, _status_code, _headers = merchant_email_template_delete_localization_version_post_with_http_info(unibee_api_merchant_email_delete_localization_version_req, opts)
      data
    end

    # Delete Email Template Localization Version
    # @param unibee_api_merchant_email_delete_localization_version_req [UnibeeApiMerchantEmailDeleteLocalizationVersionReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_email_template_delete_localization_version_post_with_http_info(unibee_api_merchant_email_delete_localization_version_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplateApi.merchant_email_template_delete_localization_version_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_email_delete_localization_version_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_email_delete_localization_version_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_email_delete_localization_version_req' when calling EmailTemplateApi.merchant_email_template_delete_localization_version_post"
      end
      # resource path
      local_var_path = '/merchant/email/template_delete_localization_version'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_email_delete_localization_version_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailTemplateApi.merchant_email_template_delete_localization_version_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplateApi#merchant_email_template_delete_localization_version_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit Email Template Localization Version
    # @param unibee_api_merchant_email_edit_localization_version_req [UnibeeApiMerchantEmailEditLocalizationVersionReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantEmailTemplateAddLocalizationVersionPost200Response]
    def merchant_email_template_edit_localization_version_post(unibee_api_merchant_email_edit_localization_version_req, opts = {})
      data, _status_code, _headers = merchant_email_template_edit_localization_version_post_with_http_info(unibee_api_merchant_email_edit_localization_version_req, opts)
      data
    end

    # Edit Email Template Localization Version
    # @param unibee_api_merchant_email_edit_localization_version_req [UnibeeApiMerchantEmailEditLocalizationVersionReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantEmailTemplateAddLocalizationVersionPost200Response, Integer, Hash)>] MerchantEmailTemplateAddLocalizationVersionPost200Response data, response status code and response headers
    def merchant_email_template_edit_localization_version_post_with_http_info(unibee_api_merchant_email_edit_localization_version_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplateApi.merchant_email_template_edit_localization_version_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_email_edit_localization_version_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_email_edit_localization_version_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_email_edit_localization_version_req' when calling EmailTemplateApi.merchant_email_template_edit_localization_version_post"
      end
      # resource path
      local_var_path = '/merchant/email/template_edit_localization_version'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_email_edit_localization_version_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantEmailTemplateAddLocalizationVersionPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailTemplateApi.merchant_email_template_edit_localization_version_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplateApi#merchant_email_template_edit_localization_version_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Email Template List
    # @param [Hash] opts the optional parameters
    # @return [MerchantEmailTemplateListGet200Response]
    def merchant_email_template_list_get(opts = {})
      data, _status_code, _headers = merchant_email_template_list_get_with_http_info(opts)
      data
    end

    # Get Email Template List
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantEmailTemplateListGet200Response, Integer, Hash)>] MerchantEmailTemplateListGet200Response data, response status code and response headers
    def merchant_email_template_list_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplateApi.merchant_email_template_list_get ...'
      end
      # resource path
      local_var_path = '/merchant/email/template_list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantEmailTemplateListGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailTemplateApi.merchant_email_template_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplateApi#merchant_email_template_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test Email Template Localization Version
    # @param unibee_api_merchant_email_test_localization_version_req [UnibeeApiMerchantEmailTestLocalizationVersionReq] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantAuthSsoClearTotpPost200Response]
    def merchant_email_template_test_localization_version_post(unibee_api_merchant_email_test_localization_version_req, opts = {})
      data, _status_code, _headers = merchant_email_template_test_localization_version_post_with_http_info(unibee_api_merchant_email_test_localization_version_req, opts)
      data
    end

    # Test Email Template Localization Version
    # @param unibee_api_merchant_email_test_localization_version_req [UnibeeApiMerchantEmailTestLocalizationVersionReq] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantAuthSsoClearTotpPost200Response, Integer, Hash)>] MerchantAuthSsoClearTotpPost200Response data, response status code and response headers
    def merchant_email_template_test_localization_version_post_with_http_info(unibee_api_merchant_email_test_localization_version_req, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplateApi.merchant_email_template_test_localization_version_post ...'
      end
      # verify the required parameter 'unibee_api_merchant_email_test_localization_version_req' is set
      if @api_client.config.client_side_validation && unibee_api_merchant_email_test_localization_version_req.nil?
        fail ArgumentError, "Missing the required parameter 'unibee_api_merchant_email_test_localization_version_req' when calling EmailTemplateApi.merchant_email_template_test_localization_version_post"
      end
      # resource path
      local_var_path = '/merchant/email/template_test_localization_version'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unibee_api_merchant_email_test_localization_version_req)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantAuthSsoClearTotpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailTemplateApi.merchant_email_template_test_localization_version_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplateApi#merchant_email_template_test_localization_version_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
